USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[ChecklistTemplate]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[ChecklistTemplate](
	[ChecklistTemplateID] [int] IDENTITY(1,1) NOT NULL,
	[ChecklistPrompt] [varchar](200) NULL,
 CONSTRAINT [PK_ChecklistTemplate] PRIMARY KEY CLUSTERED 
(
	[ChecklistTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
