USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_NappiCodes]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_NappiCodes](
	[CaseID_NappiID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[NappiID] [int] NULL,
	[Value] [decimal](10, 2) NULL,
	[Quantity] [decimal](6, 2) NULL,
	[Dispensary] [bit] NULL,
	[Ward] [bit] NULL,
	[Theater] [bit] NULL,
	[TTO] [bit] NULL,
	[0201] [bit] NULL,
	[Date] [date] NULL,
	[UserId] [varchar](100) NULL,
 CONSTRAINT [PK_Case_NappiCodes] PRIMARY KEY CLUSTERED 
(
	[CaseID_NappiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
