USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[CaseLetterNote]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[CaseLetterNote](
	[CaseID] [int] NOT NULL,
	[Note] [varchar](max) NULL,
	[IncludeDischargeForm] [bit] NULL,
	[IncludeReferralLetter] [bit] NULL
 CONSTRAINT [PK_CaseLetterNote] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

--NEW 1.0.7.8
ALTER TABLE CaseManagement.CaseLetterNote ADD
	IncludeReferralLetter bit NULL