USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_Exclusion]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_Exclusion](
	[CaseID] [int] NOT NULL,
	[ExclusionID] [int] NOT NULL,
	[Comment] [varchar](max) NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](100) NULL,
 CONSTRAINT [PK_Case_Exclusion] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC,
	[ExclusionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Case_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_Case_Exclusion_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_Exclusion] CHECK CONSTRAINT [FK_Case_Exclusion_Cases]
GO
ALTER TABLE [CaseManagement].[Case_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_Case_Exclusion_Exclusion] FOREIGN KEY([ExclusionID])
REFERENCES [shared].[Exclusion] ([ExclusionID])
GO
ALTER TABLE [CaseManagement].[Case_Exclusion] CHECK CONSTRAINT [FK_Case_Exclusion_Exclusion]
GO
