USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_Billing_Comment]    Script Date: 2016/04/22 11:40:50 AM ******/
DROP TABLE [CaseManagement].[Case_Billing_Comment]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_Billing_Comment](
	[Case_Billing_CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Case_BillingID] [int] NULL,
	[Comment] [varchar](500) NULL,
	[DateInserted] [datetime2](7) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_Billing_Comment] PRIMARY KEY CLUSTERED 
(
	[Case_Billing_CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
