USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[CaseComment]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[CaseComment](
	[CaseCommentID] [int] IDENTITY(1,1) NOT NULL,
	[CaseComment] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [datetime2](7) NULL,
	[CaseID] [int] NULL,
 CONSTRAINT [PK_CaseComment] PRIMARY KEY CLUSTERED 
(
	[CaseCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[CaseComment]  WITH CHECK ADD  CONSTRAINT [FK_CaseComment_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[CaseComment] CHECK CONSTRAINT [FK_CaseComment_Cases]
GO
