USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_Link]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_Link](
	[ParentCase] [int] NOT NULL,
	[ChildCase] [int] NOT NULL,
 CONSTRAINT [PK_Case_Link] PRIMARY KEY CLUSTERED 
(
	[ParentCase] ASC,
	[ChildCase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
