USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_Tariff](
	[CaseID_TariffID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
	[Value] [decimal](10, 2) NULL,
	[Qty] [decimal](5, 1) NULL,
	[AgreedRateOverride] [decimal](10, 2) NULL,
	[ValueIsTotal] [bit] NULL,
	[Rejected] [bit] NULL,
	[DateOfProcedure] [date] NOT NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_Tariff] PRIMARY KEY CLUSTERED 
(
	[CaseID_TariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Case_Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Case_Tariff_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_Tariff] CHECK CONSTRAINT [FK_Case_Tariff_Cases]
GO
ALTER TABLE [CaseManagement].[Case_Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Case_Tariff_Tariff] FOREIGN KEY([TariffID])
REFERENCES [shared].[Tariff] ([TariffID])
GO
ALTER TABLE [CaseManagement].[Case_Tariff] CHECK CONSTRAINT [FK_Case_Tariff_Tariff]
GO
