USE [MedManage]
GO
/****** Object:  Table [finance].[ServiceProvider_MainClient_Discount]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[ServiceProvider_MainClient_Discount](
	[ServiceProviderID] [int] NOT NULL,
	[MainClientID] [int] NOT NULL,
	[Discount] [decimal](5, 2) NULL
) ON [PRIMARY]

GO
