USE [MedManage]
GO
/****** Object:  Table [Import].[BillingFiles]    Script Date: 2016/04/22 11:40:50 AM ******/

DROP TABLE [Import].[BillingFiles]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Import].[BillingFiles](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [varchar](100) NULL,
	[FileName] [varchar](500) NULL,
	[DRName] [varchar](200) NULL,
	[PRNumber] [varchar](100) NULL,
	[AccDateFrom] [date] NULL,
	[AccDateTo] [date] NULL,
	[AccNumber] [varchar](100) NULL,
	[InvoiceNumber] [varchar](100) NULL,
	[AccSubmittedDate] [date] NULL,
	[Surname] [varchar](100) NULL,
	[Initials] [varchar](20) NULL,
	[Comment] [varchar](max) NULL,
	[AmountDue] [decimal](10, 2) NULL,
	[RemittanceDate] [date] NULL,
	[Remittance] [varchar](100) NULL,
	[RemittanceAmount] [decimal](10, 2) NULL,
	[Balance] [decimal](10, 2) NULL,
 CONSTRAINT [PK_BillingFiles] PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
