USE [MedManage]
GO
/****** Object:  Table [Import].[BillingFilesPracticeNameMatch]    Script Date: 2016/04/22 11:40:50 AM ******/
DROP TABLE [Import].[BillingFilesPracticeNameMatch]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Import].[BillingFilesPracticeNameMatch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRName] [varchar](200) NULL,
	[PRNumber] [varchar](100) NULL,
	[PracticeName] [varchar](200) NULL,
	[PracticeNr] [varchar](300) NULL,
	[ServiceProviderID] [int] null,
	[Visible] [bit] NULL,
	[PrimaryProvider] [bit] NULL,
	[Exclude] [bit] NULL,
	[Query] [bit] NULL,
	[FileName] [varchar](500) NULL,
	[ImportDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BillingFilesPracticeNameMatch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
