USE [MedManage]
GO
/****** Object:  Table [Overnight].[TariffCalc]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Overnight].[TariffCalc](
	[TariffCalcID] [int] IDENTITY(1,1) NOT NULL,
	[TariffCode] [varchar](50) NULL,
	[Value] [decimal](10, 2) NULL,
	[AgreedRate] [decimal](10, 2) NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[DiscountValue] [decimal](22, 8) NULL,
	[TotalPayable] [decimal](23, 8) NULL,
	[TotalOvercharged] [decimal](11, 2) NULL,
	[Qty] [decimal](5, 1) NOT NULL,
	[DateOfProcedure] [date] NOT NULL,
	[TariffDescription] [varchar](max) NULL,
	[DateInserted] [date] NULL,
	[CaseID] [int] NULL,
	[TariffID] [int] NULL,
	[UserID] [varchar](200) NULL,
	[Seq] [int] NOT NULL,
	[BaseTariffID] [varchar](100) NULL,
	[Rejected] [bit] NULL,
	[Colour] [varchar](6) NOT NULL,
 CONSTRAINT [PK_TariffCalc] PRIMARY KEY CLUSTERED 
(
	[TariffCalcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
