USE [MedManage]
GO
/****** Object:  Table [shared].[xHospitalType]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[xHospitalType](
	[HospitalTypeID] [int] NOT NULL,
	[HospitalTypeName] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
