USE [MedManage]
GO
/****** Object:  Table [shared].[MedicalAidProduct]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[MedicalAidProduct](
	[MedAidProductID] [int] IDENTITY(1,1) NOT NULL,
	[MainClientID] [int] NULL,
	[MedAidProductName] [varchar](50) NULL,
	[AllowServices] [bit] NULL,
 CONSTRAINT [PK_MedicalAidProduct] PRIMARY KEY CLUSTERED 
(
	[MedAidProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
