USE [MedManage]
GO
/****** Object:  Table [shared].[Exclusion]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[Exclusion](
	[ExclusionID] [int] IDENTITY(1,1) NOT NULL,
	[Exclusion] [varchar](300) NULL,
	[ExclusionDescription] [varchar](1000) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Exclusion] PRIMARY KEY CLUSTERED 
(
	[ExclusionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
