USE [MedManage]
GO
/****** Object:  Table [shared].[Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[Tariff](
	[TariffID] [int] IDENTITY(1,1) NOT NULL,
	[BaseTariffID] [varchar](100) NULL,
	[TariffNameID] [int] NULL,
	[TariffAmount] [decimal](10, 2) NULL,
	[Metric] [varchar](10) NULL,
	[Quantity] [decimal](5, 1) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[TariffPeriodName] [varchar](4) NULL,
 CONSTRAINT [PK_Tariff] PRIMARY KEY CLUSTERED 
(
	[TariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [shared].[Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Tariff_BaseTariff] FOREIGN KEY([BaseTariffID])
REFERENCES [shared].[BaseTariff] ([BaseTariffID])
GO
ALTER TABLE [shared].[Tariff] CHECK CONSTRAINT [FK_Tariff_BaseTariff]
GO
ALTER TABLE [shared].[Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Tariff_TariffName] FOREIGN KEY([TariffNameID])
REFERENCES [shared].[TariffName] ([TariffNameID])
GO
ALTER TABLE [shared].[Tariff] CHECK CONSTRAINT [FK_Tariff_TariffName]
GO
