USE [MedManage]
GO
/****** Object:  Table [shared].[ServiceProvider_Tariff_Custom]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[ServiceProvider_Tariff_Custom](
	[ServiceProviderID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
	[MainClientID] [int] NULL,
	[TariffAmount] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]

GO
