USE [MedManage]
GO
/****** Object:  Table [shared].[MedicalAid]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[MedicalAid](
	[MedicalAidID] [int] IDENTITY(1,1) NOT NULL,
	[MainClientID] [int] NULL,
	[MedicalAidName] [varchar](200) NULL,
	[MedicalAidInitiationDate] [date] NULL,
	[MedicalAidReinstatedDate] [date] NULL,
	[MedicalAidTerminatedDate] [date] NULL,
	[CasePrefix] [char](3) NULL,
	[ReportTemplate] [varchar](200) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Fund] PRIMARY KEY CLUSTERED 
(
	[MedicalAidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
