USE [MedManage]
GO
/****** Object:  Table [shared].[ChronicIllness]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[ChronicIllness](
	[ChronicIllnessID] [int] IDENTITY(1,1) NOT NULL,
	[ChronicIllnessName] [varchar](300) NULL,
	[ChronicIllnessDescription] [varchar](1000) NULL,
	[UserID] [varchar](200) NULL,
	[DateAdded] [datetime2](7) NULL,
 CONSTRAINT [PK_ChronicIllness] PRIMARY KEY CLUSTERED 
(
	[ChronicIllnessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
