USE [MedManage]
GO
/****** Object:  Table [shared].[MedicalAid_Exclusion]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[MedicalAid_Exclusion](
	[MedicalAidID] [int] NOT NULL,
	[BaseTariffID] [varchar](100) NOT NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Fund_Exclusion] PRIMARY KEY CLUSTERED 
(
	[MedicalAidID] ASC,
	[BaseTariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [shared].[MedicalAid_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Exclusion_BaseTariff] FOREIGN KEY([BaseTariffID])
REFERENCES [shared].[BaseTariff] ([BaseTariffID])
GO
ALTER TABLE [shared].[MedicalAid_Exclusion] CHECK CONSTRAINT [FK_MedicalAid_Exclusion_BaseTariff]
GO
ALTER TABLE [shared].[MedicalAid_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Exclusion_MedicalAid] FOREIGN KEY([MedicalAidID])
REFERENCES [shared].[MedicalAid] ([MedicalAidID])
GO
ALTER TABLE [shared].[MedicalAid_Exclusion] CHECK CONSTRAINT [FK_MedicalAid_Exclusion_MedicalAid]
GO
