USE [MedManage]
GO
/****** Object:  Table [shared].[Bookings]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TravelDate] [date] NULL,
	[TravelTime] [time](7) NULL,
	[AppointmentDate] [date] NULL,
	[ReferringPracticeID] [int] NULL,
	[MemberID] [int] NULL,
	[CaseID] [int] NULL,
	[Discipline] [varchar](500) NULL,
	[Consultation] [bit] NULL,
	[Admission] [bit] NULL,
	[CurrentPracticeID] [int] NULL,
	[Hospital] [varchar](500) NULL,
	[Arrived] [bit] NULL,
	[TISCH] [varchar](500) NULL,
	[Comments] [varchar](max) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
