USE [MedManage]
GO
/****** Object:  Table [shared].[TariffName]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[TariffName](
	[TariffNameID] [int] IDENTITY(1,1) NOT NULL,
	[TariffName] [varchar](200) NULL,
	[Visible] [bit] NULL,
 CONSTRAINT [PK_TariffName] PRIMARY KEY CLUSTERED 
(
	[TariffNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
