USE [MedManage]
GO
/****** Object:  Table [shared].[ServiceProvider_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[ServiceProvider_Tariff](
	[ServiceProviderID] [int] NOT NULL,
	[TariffNameID] [int] NOT NULL,
	[MainClientID] [int] NULL,
	[StartActiveDate] [date] NULL,
	[EndActiveDate] [date] NULL,
	[TariffPeriodName] [int] NULL
) ON [PRIMARY]

GO
