USE [MedManage]
GO
/****** Object:  Table [shared].[ICD]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[ICD](
	[ICDID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [varchar](50) NULL,
	[GroupDesc] [varchar](500) NULL,
	[DiagnosisCode] [varchar](50) NULL,
	[DiagnosisDesc] [varchar](max) NULL,
	[Dagger] [bit] NULL,
	[Asterisk] [bit] NULL,
	[ValidPrimaryCode] [bit] NULL,
	[ValidForClinicalUse] [bit] NULL,
 CONSTRAINT [PK_ICD] PRIMARY KEY CLUSTERED 
(
	[ICDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
