USE [MedManage]
GO
/****** Object:  Table [Tariff].[Case_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Tariff].[Case_Tariff](
	[CaseID_TariffID] [bigint] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
	[Value] [decimal](10, 2) NULL,
	[Qty] [decimal](5, 1) NULL,
	[AgreedRateOverride] [decimal](10, 2) NULL,
	[ValueIsTotal] [bit] NULL,
	[Rejected] [bit] NULL,
	[DateOfProcedure] [date] NOT NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
