USE [MedManage]
GO
/****** Object:  Table [Updates].[ClientUpdates]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Updates].[ClientUpdates](
	[ClientUpdateID] [int] IDENTITY(1,1) NOT NULL,
	[UpdateID] [int] NULL,
	[ClientComputerName] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ClientUpdates] PRIMARY KEY CLUSTERED 
(
	[ClientUpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
