<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>
  <securityConfiguration defaultAuthorizationInstance="RuleProvider" defaultSecurityCacheInstance="Caching Store Provider">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security" name="RuleProvider"/>
    </authorizationProviders>
    <securityCacheProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore" cacheManagerInstanceName="Cache Manager" defaultSlidingSessionExpirationInMinutes="10" defaultAbsoluteSessionExpirationInMinutes="60" name="Caching Store Provider"/>
    </securityCacheProviders>
  </securityConfiguration>
  <dataConfiguration defaultDatabase="DQLDB.MedManage"/>
  <connectionStrings>
    <add name="DQLDB.MedManage" connectionString="Data Source=.;Persist Security Info=True;Password=P@ss1234ID;User ID=sa;Initial Catalog=MedManage"
      providerName="System.Data.SqlClient" />
    <add name="Icondev.MedManage.Properties.Settings.MedManageConnectionString"
      connectionString="Data Source=.;Persist Security Info=True;Password=P@ss1234ID;User ID=sa;Initial Catalog=MedManage"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
   <!--<connectionStrings>
    <add name="DQLDB.MedManage" connectionString="Data Source=10.100.1.10;Persist Security Info=True;Password=P@ss1234MM;User ID=sa;Initial Catalog=MedManage_Dev"
      providerName="System.Data.SqlClient" />
    <add name="Icondev.MedManage.Properties.Settings.MedManageConnectionString"
      connectionString="Data Source=10.100.1.10;Persist Security Info=True;Password=P@ss1234MM;User ID=sa;Initial Catalog=MedManage_Dev"
      providerName="SQLOLEDB" />
  </connectionStrings>-->

  <appSettings>
    <add key="VPNServer" value="."/>
    <add key="LiveServer" value="."/>
    <add key="ReportServer" value="http://jc-nb/ReportServer/"/>
    <add key="ReportServerMainFolder" value="MedManageReports DEV"/>
    <add key="EnableBilling" value="true"/>
    <!--<add key="VPNServer" value=".7.183.140.25/10.100.1.9"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DQLDB.MedManage"/>
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DQLDB.MedManage" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DQLDB.MedManage" description="SqlProfileProvider for MedManage"/>
      </providers>

      <properties>
        <add name="FirstName" type="System.String"/>
        <add name="LastName" type="System.String"/>
        <add name="Theme" type="SecurityQuickStart.ProfileTheme, SecurityQuickStart"/>
      </properties>
    </profile>

  </system.web>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
