USE [MedManage]
GO
/****** Object:  Table [audit].[CaseManagement_Audit]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[CaseManagement_Audit](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NULL,
	[ObjectName] [varchar](200) NULL,
	[EventType] [char](1) NULL,
	[EventTime] [datetime2](7) NULL,
	[ID1] [varchar](200) NULL,
	[ID2] [varchar](200) NULL,
	[ID3] [varchar](200) NULL,
 CONSTRAINT [PK_CaseManagement_Audit] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[CaseManagement_AuditDetail]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[CaseManagement_AuditDetail](
	[AuditDetailID] [int] IDENTITY(1,1) NOT NULL,
	[AuditID] [int] NULL,
	[FieldName] [varchar](200) NULL,
	[OldValue] [varchar](max) NULL,
	[NewValue] [varchar](max) NULL,
 CONSTRAINT [PK_CaseManagement_AuditDetail] PRIMARY KEY CLUSTERED 
(
	[AuditDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_Billing]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_Billing](
	[Case_BillingID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[ServiceProviderID] [int] NULL,
	[AccountDate] [date] NULL,
	[AccountToDate] [date] NULL,
	[AccountNumber] [varchar](100) NULL,
	[InvoiceNumber] [varchar](100) NULL,
	[DateReceived] [date] NULL,
	[Submitted] [bit] NULL,
	[DateSubmitted] [date] NULL,
	[Reported] [bit] NULL,
	[DateReported] [date] NULL,
	[ReceivedByName] [varchar](50) NULL,
	[AmountDue] [decimal](10, 2) NULL,
	[Discount] [decimal](10, 2) NULL,
	[Penalty] [decimal](10, 2) NULL,
	[Rejected] [decimal](10, 2) NULL,
	[Paid] [bit] NULL,
	[DatePaid] [date] NULL,
	[Remittance] [varchar](150) NULL,
	[FinalInvoiceAmountDue] [decimal](10, 2) NULL,
	[BillingStatusID] [int] NULL,
	[DateInserted] [datetime2](7) NULL,
	[UserID] [varchar](200) NULL,
	[PatientName] [varchar](50) NULL,
	[PatientInitials] [varchar](50) NULL,
	[PatientSurname] [varchar](50) NULL,
	[Comment] [varchar](500) NULL,
 CONSTRAINT [PK_Case_Billing] PRIMARY KEY CLUSTERED 
(
	[Case_BillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_Billing_Comment]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_Billing_Comment](
	[Case_Billing_CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Case_BillingID] [int] NULL,
	[Comment] [varchar](500) NULL,
	[DateInserted] [datetime2](7) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_Billing_Comment] PRIMARY KEY CLUSTERED 
(
	[Case_Billing_CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_Checklist]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_Checklist](
	[CaseID] [int] NOT NULL,
	[ChecklistTemplateID] [int] NOT NULL,
	[Checked] [bit] NULL,
	[UserID] [varchar](200) NULL,
	[Date] [datetime2](7) NULL,
	[Comments] [varchar](max) NULL,
	[NotApplicable] [bit] NULL,
 CONSTRAINT [PK_Case_Checklist] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC,
	[ChecklistTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_CPT]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_CPT](
	[CaseID_CPTID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[CPTID] [int] NOT NULL,
	[DateOfProcedure] [date] NULL,
	[PrimaryCode] [bit] NULL,
	[SecondaryCode] [bit] NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_CPT] PRIMARY KEY CLUSTERED 
(
	[CaseID_CPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_Exclusion]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_Exclusion](
	[CaseID] [int] NOT NULL,
	[ExclusionID] [int] NOT NULL,
	[Comment] [varchar](max) NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](100) NULL,
 CONSTRAINT [PK_Case_Exclusion] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC,
	[ExclusionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_FacilityType]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_FacilityType](
	[CaseID_FacilityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityTypeID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[DateAdmitted] [datetime2](0) NOT NULL,
	[DateDischarged] [datetime2](0) NULL,
	[LOS] [decimal](10, 1) NULL,
	[FacilityTypeCode] [varchar](10) NULL,
	[MinutesOnVentilator] [int] NULL,
	[Comments] [varchar](500) NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](100) NULL,
 CONSTRAINT [PK_Case_FacilityType] PRIMARY KEY CLUSTERED 
(
	[CaseID_FacilityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_ICD]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_ICD](
	[CaseID] [int] NOT NULL,
	[ICDID] [int] NOT NULL,
	[DateOfProcedure] [date] NULL,
	[PrimaryCode] [bit] NULL,
	[SecondaryCode] [bit] NULL,
	[CoMorbidityCode] [bit] NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_ICD] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC,
	[ICDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_Link]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_Link](
	[ParentCase] [int] NOT NULL,
	[ChildCase] [int] NOT NULL,
 CONSTRAINT [PK_Case_Link] PRIMARY KEY CLUSTERED 
(
	[ParentCase] ASC,
	[ChildCase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_LinkedFile]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_LinkedFile](
	[Case_LinkedFileID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[MemberID] [int] NULL,
	[FileType] [varchar](50) NULL,
	[FilePath] [varchar](max) NULL,
	[FileName] [varchar](200) NULL,
	[DateAdded] [datetime] NULL,
	[UserID] [varchar](50) NULL,
 CONSTRAINT [PK_Case_LinkedFile] PRIMARY KEY CLUSTERED 
(
	[Case_LinkedFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Case_NappiCodes]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Case_NappiCodes](
	[CaseID_NappiID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[NappiID] [int] NULL,
	[Value] [decimal](10, 2) NULL,
	[Quantity] [decimal](6, 2) NULL,
	[Dispensary] [bit] NULL,
	[Ward] [bit] NULL,
	[Theater] [bit] NULL,
	[TTO] [bit] NULL,
	[0201] [bit] NULL,
	[Date] [date] NULL,
	[UserId] [varchar](100) NULL,
 CONSTRAINT [PK_Case_NappiCodes] PRIMARY KEY CLUSTERED 
(
	[CaseID_NappiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[CaseCategory]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[CaseCategory](
	[CaseCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CaseCategory] [varchar](50) NULL,
 CONSTRAINT [PK_CaseCategory] PRIMARY KEY CLUSTERED 
(
	[CaseCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[CaseComment]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[CaseComment](
	[CaseCommentID] [int] IDENTITY(1,1) NOT NULL,
	[CaseComment] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [datetime2](7) NULL,
	[CaseID] [int] NULL,
 CONSTRAINT [PK_CaseComment] PRIMARY KEY CLUSTERED 
(
	[CaseCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[CaseLetterNote]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[CaseLetterNote](
	[CaseID] [int] NOT NULL,
	[Note] [varchar](max) NULL,
	[IncludeDischargeForm] [bit] NULL,
	[IncludeReferralLetter] [bit] NULL,
 CONSTRAINT [PK_CaseLetterNote] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[CaseNote]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[CaseNote](
	[CaseNoteID] [int] IDENTITY(1,1) NOT NULL,
	[CaseNote] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [datetime2](7) NULL,
	[InterimAmount] [decimal](10, 2) NULL,
	[CaseID] [int] NULL,
	[CaseNumber] [varchar](150) NULL,
	[InterimHospital] [decimal](10, 2) NULL,
	[InterimRadiology] [decimal](10, 2) NULL,
	[InterimDialysis] [decimal](10, 2) NULL,
	[InterimSpecialist] [decimal](10, 2) NULL,
	[InterimPhysio] [decimal](10, 2) NULL,
	[InterimTransport] [decimal](10, 2) NULL,
	[InterimAccomodation] [decimal](10, 2) NULL,
	[InterimScript] [decimal](10, 2) NULL,
 CONSTRAINT [PK_CaseNote] PRIMARY KEY CLUSTERED 
(
	[CaseNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Cases]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Cases](
	[CaseID] [int] IDENTITY(1,1) NOT NULL,
	[AuthNumber] [varchar](50) NULL,
	[AccountNr] [varchar](50) NULL,
	[MemberID] [int] NULL,
	[ReferToID] [int] NULL,
	[ReferFromID] [int] NULL,
	[AdmissionDate] [date] NULL,
	[AdmissionTime] [time](7) NULL,
	[DischargeDate] [date] NULL,
	[DischargeTime] [time](7) NULL,
	[AuthTypeID] [int] NULL,
	[WCA_IOD] [bit] NULL,
	[TotalLengthOfStay] [decimal](10, 2) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[FinalInvoiceAmount] [decimal](10, 2) NULL,
	[FinalInvoiceAmountUpdated] [varchar](100) NULL,
	[StatusID] [int] NULL,
	[CaseDescription] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[Changes] [varchar](max) NULL,
	[Limits] [varchar](max) NULL,
	[Exclusions] [varchar](max) NULL,
	[DateCreated] [date] NULL,
	[HasBooking] [bit] NULL,
	[ChangeToCaseDate] [datetime2](7) NULL,
	[PenaltyPercentage] [decimal](5, 2) NULL,
	[CaseCategoryID] [int] NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[CaseStatus]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[CaseStatus](
	[CaseStatusID] [int] IDENTITY(1,1) NOT NULL,
	[CaseStatus] [varchar](200) NULL,
 CONSTRAINT [PK_CaseStatus] PRIMARY KEY CLUSTERED 
(
	[CaseStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[CaseType]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[CaseType](
	[CaseTypeID] [int] IDENTITY(1,1) NOT NULL,
	[CaseType] [varchar](200) NULL,
 CONSTRAINT [PK_CaseType] PRIMARY KEY CLUSTERED 
(
	[CaseTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[ChecklistTemplate]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[ChecklistTemplate](
	[ChecklistTemplateID] [int] IDENTITY(1,1) NOT NULL,
	[ChecklistPrompt] [varchar](200) NULL,
 CONSTRAINT [PK_ChecklistTemplate] PRIMARY KEY CLUSTERED 
(
	[ChecklistTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Episode]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Episode](
	[EpisodeID] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeDescription] [varchar](max) NULL,
	[MemberID] [int] NULL,
	[DateCreated] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Episode] PRIMARY KEY CLUSTERED 
(
	[EpisodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Episode_Case]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Episode_Case](
	[EpisodeID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[DateCreated] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Episode_Case] PRIMARY KEY CLUSTERED 
(
	[EpisodeID] ASC,
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CaseManagement].[Session_User_Case]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseManagement].[Session_User_Case](
	[CaseID] [int] NOT NULL,
	[UserID] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Session_User_Case_1] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Applications]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Applications](
	[ApplicationName] [nvarchar](256) NOT NULL,
	[LoweredApplicationName] [nvarchar](256) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoweredApplicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ApplicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Membership]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Membership](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[MobilePIN] [nvarchar](16) NULL,
	[Email] [nvarchar](256) NULL,
	[LoweredEmail] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowStart] [datetime] NOT NULL,
	[Comment] [ntext] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Paths]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Paths](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[PathId] [uniqueidentifier] NOT NULL,
	[Path] [nvarchar](256) NOT NULL,
	[LoweredPath] [nvarchar](256) NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[PathId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_PersonalizationAllUsers]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_PersonalizationAllUsers](
	[PathId] [uniqueidentifier] NOT NULL,
	[PageSettings] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PathId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_PersonalizationPerUser]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_PersonalizationPerUser](
	[Id] [uniqueidentifier] NOT NULL,
	[PathId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[PageSettings] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Profile]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Profile](
	[UserId] [uniqueidentifier] NOT NULL,
	[PropertyNames] [ntext] NOT NULL,
	[PropertyValuesString] [ntext] NOT NULL,
	[PropertyValuesBinary] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Roles]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Roles](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[LoweredRoleName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_SchemaVersions]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_SchemaVersions](
	[Feature] [nvarchar](128) NOT NULL,
	[CompatibleSchemaVersion] [nvarchar](128) NOT NULL,
	[IsCurrentVersion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Feature] ASC,
	[CompatibleSchemaVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Users]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Users](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[LoweredUserName] [nvarchar](256) NOT NULL,
	[MobileAlias] [nvarchar](16) NULL,
	[IsAnonymous] [bit] NOT NULL,
	[LastActivityDate] [datetime] NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_UsersInRoles]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_UsersInRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_WebEvent_Events]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_WebEvent_Events](
	[EventId] [char](32) NOT NULL,
	[EventTimeUtc] [datetime] NOT NULL,
	[EventTime] [datetime] NOT NULL,
	[EventType] [nvarchar](256) NOT NULL,
	[EventSequence] [decimal](19, 0) NOT NULL,
	[EventOccurrence] [decimal](19, 0) NOT NULL,
	[EventCode] [int] NOT NULL,
	[EventDetailCode] [int] NOT NULL,
	[Message] [nvarchar](1024) NULL,
	[ApplicationPath] [nvarchar](256) NULL,
	[ApplicationVirtualPath] [nvarchar](256) NULL,
	[MachineName] [nvarchar](256) NOT NULL,
	[RequestUrl] [nvarchar](1024) NULL,
	[ExceptionType] [nvarchar](256) NULL,
	[Details] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChronicIllness]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChronicIllness](
	[ChronicIllnessID] [float] NULL,
	[ChronicIllnessName] [nvarchar](max) NULL,
	[ChronicIllnessDescription] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[DateAdded] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dwh].[CaseLink]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dwh].[CaseLink](
	[ParentCase] [int] NOT NULL,
	[ChildCase] [int] NOT NULL,
	[OrigParent] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[BillingStatus]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[BillingStatus](
	[BillingStatusID] [int] NOT NULL,
	[BillingStatus] [varchar](50) NULL,
 CONSTRAINT [PK_BillingStatus] PRIMARY KEY CLUSTERED 
(
	[BillingStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[Case_Discount]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[Case_Discount](
	[CaseID] [int] NULL,
	[Discount] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[ServiceProvider_MainClient_Discount]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[ServiceProvider_MainClient_Discount](
	[ServiceProviderID] [int] NOT NULL,
	[MainClientID] [int] NOT NULL,
	[Discount] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Import].[BillingFiles]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[BillingFiles](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [varchar](100) NULL,
	[FileName] [varchar](500) NULL,
	[DRName] [varchar](200) NULL,
	[PRNumber] [varchar](100) NULL,
	[AccDateFrom] [date] NULL,
	[AccDateTo] [date] NULL,
	[AccNumber] [varchar](100) NULL,
	[InvoiceNumber] [varchar](100) NULL,
	[AccSubmittedDate] [date] NULL,
	[Surname] [varchar](100) NULL,
	[Initials] [varchar](20) NULL,
	[Comment] [varchar](max) NULL,
	[AmountDue] [decimal](10, 2) NULL,
	[RemittanceDate] [date] NULL,
	[Remittance] [varchar](100) NULL,
	[RemittanceAmount] [decimal](10, 2) NULL,
	[Balance] [decimal](10, 2) NULL,
 CONSTRAINT [PK_BillingFiles] PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Import].[BillingFilesPracticeNameMatch]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[BillingFilesPracticeNameMatch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRName] [varchar](200) NULL,
	[PRNumber] [varchar](100) NULL,
	[PracticeName] [varchar](200) NULL,
	[PracticeNr] [varchar](300) NULL,
	[ServiceProviderID] [int] NULL,
	[Visible] [bit] NULL,
	[PrimaryProvider] [bit] NULL,
	[Exclude] [bit] NULL,
	[Query] [bit] NULL,
	[FileName] [varchar](500) NULL,
	[ImportDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BillingFilesPracticeNameMatch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Import].[BokomosoTariffs]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[BokomosoTariffs](
	[S#No#] [nvarchar](255) NULL,
	[SERVICE GROUP] [nvarchar](255) NULL,
	[SERVICE CODE] [nvarchar](255) NULL,
	[Speciality] [float] NULL,
	[NHRPL CODE] [nvarchar](255) NULL,
	[SERVICE] [nvarchar](255) NULL,
	[MOH TARIFF] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Import].[GPHTariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[GPHTariff](
	[DEP] [nvarchar](255) NULL,
	[CG] [nvarchar](max) NULL,
	[Tariff] [nvarchar](max) NULL,
	[DESCRIPT] [nvarchar](255) NULL,
	[SCH] [float] NULL,
	[TariffCode] [nvarchar](max) NULL,
	[TARIFF EXCL VAT] [nvarchar](max) NULL,
	[PRICE] [nvarchar](max) NULL,
	[DT] [datetime] NULL,
	[CG_QTY_FACTOR] [float] NULL,
	[PF] [nvarchar](255) NULL,
	[A] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Import].[Member]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNumber] [varchar](200) NULL,
	[TitleID] [varchar](50) NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[Name] [varchar](300) NULL,
	[IDNumber] [varchar](300) NULL,
	[PassportNumber] [varchar](300) NULL,
	[PassportExpiryDate] [date] NULL,
	[PeriodInCountryID] [int] NULL,
	[DateOfBirth] [date] NULL,
	[GenderID] [varchar](50) NULL,
	[HasMedicalAid] [bit] NULL,
	[MedicalAidID] [int] NULL,
	[DateOfBenefit] [date] NULL,
	[DateJoined] [date] NULL,
	[Suspended] [bit] NULL,
	[DateSuspended] [date] NULL,
	[SuspendedReasonID] [int] NULL,
	[MedicalAidExhausted] [bit] NULL,
	[DateMedicalAidExhausted] [date] NULL,
	[WaitingPeriodApplicable] [bit] NULL,
	[MarritalStatusID] [int] NULL,
	[EmployerCountryID] [int] NULL,
	[EmployerAddress] [varchar](300) NULL,
	[EmployerAddressCode] [varchar](20) NULL,
	[EmployerPhoneNumber] [varchar](20) NULL,
	[Pensioner] [bit] NULL,
	[MemberStatusID] [int] NULL,
	[MemberCountryID] [int] NULL,
	[MemberAddress1] [varchar](500) NULL,
	[MemberAddress2] [varchar](500) NULL,
	[MemberAddress3] [varchar](500) NULL,
	[MemberAddressCode] [varchar](20) NULL,
	[MemberPhoneNumber] [varchar](300) NULL,
	[MemberCellNumber] [varchar](300) NULL,
	[NextOfKinName] [varchar](300) NULL,
	[NextOfKinRelationship] [varchar](300) NULL,
	[NextOfKinContactNumber] [varchar](300) NULL,
	[MemberLanguageID] [int] NULL,
	[MemberRaceID] [int] NULL,
	[MemberDependents] [varchar](1000) NULL,
	[FundReinstated] [bit] NULL,
	[FundReinstatedDate] [date] NULL,
	[Deceased] [bit] NULL,
	[DeceasedDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[MedAidProductID] [int] NULL,
 CONSTRAINT [PK_Import_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Import].[NappiCodes]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[NappiCodes](
	[NappiID] [int] IDENTITY(1,1) NOT NULL,
	[NappiCode] [varchar](100) NULL,
	[Description] [varchar](250) NULL,
	[Units] [int] NULL,
	[Measure] [varchar](10) NULL,
	[Price1] [decimal](10, 2) NULL,
	[Price2] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_NappiCodes] PRIMARY KEY CLUSTERED 
(
	[NappiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Import].[tmpmember]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[tmpmember](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNumber] [varchar](200) NULL,
	[TitleID] [int] NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[Name] [varchar](300) NULL,
	[IDNumber] [varchar](300) NULL,
	[PassportNumber] [varchar](300) NULL,
	[PassportExpiryDate] [date] NULL,
	[PeriodInCountryID] [int] NULL,
	[DateOfBirth] [date] NULL,
	[GenderID] [int] NULL,
	[HasMedicalAid] [bit] NULL,
	[MedicalAidID] [int] NULL,
	[DateOfBenefit] [date] NULL,
	[DateJoined] [date] NULL,
	[Suspended] [bit] NULL,
	[DateSuspended] [date] NULL,
	[SuspendedReasonID] [int] NULL,
	[MedicalAidExhausted] [bit] NULL,
	[DateMedicalAidExhausted] [date] NULL,
	[WaitingPeriodApplicable] [bit] NULL,
	[MarritalStatusID] [int] NULL,
	[EmployerCountryID] [int] NULL,
	[EmployerAddress] [varchar](300) NULL,
	[EmployerAddressCode] [varchar](20) NULL,
	[EmployerPhoneNumber] [varchar](20) NULL,
	[Pensioner] [bit] NULL,
	[MemberStatusID] [int] NULL,
	[MemberCountryID] [int] NULL,
	[MemberAddress1] [varchar](500) NULL,
	[MemberAddress2] [varchar](500) NULL,
	[MemberAddress3] [varchar](500) NULL,
	[MemberAddressCode] [varchar](20) NULL,
	[MemberPhoneNumber] [varchar](300) NULL,
	[MemberCellNumber] [varchar](300) NULL,
	[NextOfKinName] [varchar](300) NULL,
	[NextOfKinRelationship] [varchar](300) NULL,
	[NextOfKinContactNumber] [varchar](300) NULL,
	[MemberLanguageID] [int] NULL,
	[MemberRaceID] [int] NULL,
	[MemberDependents] [varchar](1000) NULL,
	[FundReinstated] [bit] NULL,
	[FundReinstatedDate] [date] NULL,
	[Deceased] [bit] NULL,
	[DeceasedDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[MedAidProductID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Overnight].[AllCodesData]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Overnight].[AllCodesData](
	[RecordKey] [int] IDENTITY(1,1) NOT NULL,
	[CaseStatus] [varchar](200) NULL,
	[AuthNumber] [varchar](50) NULL,
	[AccountNr] [varchar](50) NULL,
	[CasePrefix] [char](3) NULL,
	[MemberNumber] [varchar](200) NULL,
	[Name] [varchar](300) NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[ReferTo] [varchar](200) NULL,
	[ReferFrom] [varchar](200) NULL,
	[AdmissionDate] [date] NULL,
	[AdmissionTime] [time](7) NULL,
	[DischargeDate] [date] NULL,
	[DischargeTime] [time](7) NULL,
	[CPTCode] [varchar](20) NULL,
	[CPTPrimary] [bit] NULL,
	[CPTSecondary] [bit] NULL,
	[CPTProcedureDate] [date] NULL,
	[ICDCode] [varchar](50) NULL,
	[ICDPrimary] [bit] NULL,
	[ICDSecondary] [bit] NULL,
	[ICDCoMorbidity] [bit] NULL,
	[ICDDesc] [varchar](max) NOT NULL,
	[CPTDesc] [varchar](255) NOT NULL,
	[ReferToPracticeNumber] [varchar](300) NULL,
	[ReferFromPracticeNumber] [varchar](300) NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [date] NULL,
	[CaseID] [int] NOT NULL,
	[MedicalAidID] [int] NULL,
	[FacilityType] [varchar](100) NOT NULL,
	[LOS] [decimal](10, 1) NULL,
	[TotalLengthOfStay] [decimal](10, 2) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[FinalInvoiceAmount] [decimal](10, 2) NULL,
	[MedAidProductName] [varchar](50) NULL,
	[MBOD_RMA] [bit] NULL,
	[HasBooking] [bit] NULL,
	[ChangeToCaseDate] [datetime2](7) NULL,
	[TariffCode] [varchar](50) NULL,
	[TariffDescription] [varchar](max) NULL,
	[MainClientID] [int] NULL,
	[Value] [decimal](10, 2) NULL,
	[TotalPayable] [decimal](23, 8) NULL,
	[TariffDateOfProcedure] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Overnight].[TariffCalc]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Overnight].[TariffCalc](
	[TariffCalcID] [int] IDENTITY(1,1) NOT NULL,
	[TariffCode] [varchar](50) NULL,
	[Value] [decimal](10, 2) NULL,
	[AgreedRate] [decimal](10, 2) NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[DiscountValue] [decimal](22, 8) NULL,
	[TotalPayable] [decimal](23, 8) NULL,
	[TotalOvercharged] [decimal](11, 2) NULL,
	[Qty] [decimal](5, 1) NOT NULL,
	[DateOfProcedure] [date] NOT NULL,
	[TariffDescription] [varchar](max) NULL,
	[DateInserted] [date] NULL,
	[CaseID] [int] NULL,
	[TariffID] [int] NULL,
	[UserID] [varchar](200) NULL,
	[Seq] [int] NOT NULL,
	[BaseTariffID] [varchar](100) NULL,
	[Rejected] [bit] NULL,
	[Colour] [varchar](6) NOT NULL,
 CONSTRAINT [PK_TariffCalc] PRIMARY KEY CLUSTERED 
(
	[TariffCalcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[BaseTariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[BaseTariff](
	[BaseTariffID] [varchar](100) NOT NULL,
	[TariffCode] [varchar](50) NULL,
	[SpecialityID] [int] NULL,
	[TariffDescription] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ChargeCodes] [varchar](20) NULL,
 CONSTRAINT [PK_BaseTariff] PRIMARY KEY CLUSTERED 
(
	[BaseTariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[Bookings]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TravelDate] [date] NULL,
	[TravelTime] [time](7) NULL,
	[AppointmentDate] [date] NULL,
	[ReferringPracticeID] [int] NULL,
	[MemberID] [int] NULL,
	[CaseID] [int] NULL,
	[Discipline] [varchar](500) NULL,
	[Consultation] [bit] NULL,
	[Admission] [bit] NULL,
	[CurrentPracticeID] [int] NULL,
	[Hospital] [varchar](500) NULL,
	[Arrived] [bit] NULL,
	[TISCH] [varchar](500) NULL,
	[Comments] [varchar](max) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[ChronicIllness]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[ChronicIllness](
	[ChronicIllnessID] [int] IDENTITY(1,1) NOT NULL,
	[ChronicIllnessName] [varchar](300) NULL,
	[ChronicIllnessDescription] [varchar](1000) NULL,
	[UserID] [varchar](200) NULL,
	[DateAdded] [datetime2](7) NULL,
 CONSTRAINT [PK_ChronicIllness] PRIMARY KEY CLUSTERED 
(
	[ChronicIllnessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Country]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NULL,
	[CountryISOCode] [char](3) NULL,
	[CountryCurrencyCode] [char](3) NULL,
	[VAT] [decimal](5, 2) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[CountryVAT]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[CountryVAT](
	[CountryID] [int] NOT NULL,
	[VAT] [decimal](5, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[UserID] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[CPT]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[CPT](
	[CPTID] [int] IDENTITY(1,1) NOT NULL,
	[Chapter] [varchar](255) NULL,
	[CODE] [varchar](20) NULL,
	[SHORT_DESCR] [varchar](255) NULL,
	[MEDIUM_DESCR] [varchar](255) NULL,
	[LONG_DESCR] [varchar](max) NULL,
 CONSTRAINT [PK_CPT] PRIMARY KEY CLUSTERED 
(
	[CPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[Exclusion]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Exclusion](
	[ExclusionID] [int] IDENTITY(1,1) NOT NULL,
	[Exclusion] [varchar](300) NULL,
	[ExclusionDescription] [varchar](1000) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Exclusion] PRIMARY KEY CLUSTERED 
(
	[ExclusionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[FacilityType]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[FacilityType](
	[FacilityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityType] [varchar](100) NULL,
 CONSTRAINT [PK_FacilityType] PRIMARY KEY CLUSTERED 
(
	[FacilityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Gender]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[GenderCode] [char](1) NULL,
	[GenderDescription] [varchar](20) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[ICD]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[ICD](
	[ICDID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [varchar](50) NULL,
	[GroupDesc] [varchar](500) NULL,
	[DiagnosisCode] [varchar](50) NULL,
	[DiagnosisDesc] [varchar](max) NULL,
	[Dagger] [bit] NULL,
	[Asterisk] [bit] NULL,
	[ValidPrimaryCode] [bit] NULL,
	[ValidForClinicalUse] [bit] NULL,
 CONSTRAINT [PK_ICD] PRIMARY KEY CLUSTERED 
(
	[ICDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[Language]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Language](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[Language] [varchar](100) NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[LinkedFile]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[LinkedFile](
	[LinkedFileID] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [varchar](50) NOT NULL,
	[EntityID] [int] NULL,
	[FilePath] [varchar](max) NULL,
	[FileName] [varchar](200) NULL,
	[DateAdded] [datetime] NULL,
	[UserID] [varchar](50) NULL,
 CONSTRAINT [PK_LinkedFile] PRIMARY KEY CLUSTERED 
(
	[LinkedFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[MainClient]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MainClient](
	[MainClientID] [int] IDENTITY(1,1) NOT NULL,
	[MainClientName] [varchar](50) NULL,
	[MainClientLogo] [varbinary](max) NULL,
	[VAT] [decimal](10, 2) NULL,
 CONSTRAINT [PK_MainClient] PRIMARY KEY CLUSTERED 
(
	[MainClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[MainClient_MedicalAidProduct]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MainClient_MedicalAidProduct](
	[MainClientID] [int] NOT NULL,
	[MedicalAidProductID] [int] NOT NULL,
	[Sorting] [int] NOT NULL,
 CONSTRAINT [PK_MainClient_MedicalAidProduct] PRIMARY KEY CLUSTERED 
(
	[MainClientID] ASC,
	[MedicalAidProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MainClient_Tariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MainClient_Tariff](
	[MainClientID] [int] NOT NULL,
	[TariffNameID] [int] NOT NULL,
	[TariffPeriodName] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MarritalStatus]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MarritalStatus](
	[MarritalStatusID] [int] IDENTITY(1,1) NOT NULL,
	[MarritalStatus] [varchar](50) NULL,
 CONSTRAINT [PK_MarritalStatus] PRIMARY KEY CLUSTERED 
(
	[MarritalStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MedicalAid]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MedicalAid](
	[MedicalAidID] [int] IDENTITY(1,1) NOT NULL,
	[MainClientID] [int] NULL,
	[MedicalAidName] [varchar](200) NULL,
	[MedicalAidInitiationDate] [date] NULL,
	[MedicalAidReinstatedDate] [date] NULL,
	[MedicalAidTerminatedDate] [date] NULL,
	[CasePrefix] [char](3) NULL,
	[ReportTemplate] [varchar](200) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Fund] PRIMARY KEY CLUSTERED 
(
	[MedicalAidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MedicalAid_Exclusion]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MedicalAid_Exclusion](
	[MedicalAidID] [int] NOT NULL,
	[BaseTariffID] [varchar](100) NOT NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Fund_Exclusion] PRIMARY KEY CLUSTERED 
(
	[MedicalAidID] ASC,
	[BaseTariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MedicalAid_Tariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MedicalAid_Tariff](
	[MedicalAidID] [int] NOT NULL,
	[TariffNameID] [int] NOT NULL,
 CONSTRAINT [PK_MedicalAid_Tariff] PRIMARY KEY CLUSTERED 
(
	[MedicalAidID] ASC,
	[TariffNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MedicalAidProduct]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MedicalAidProduct](
	[MedAidProductID] [int] IDENTITY(1,1) NOT NULL,
	[MainClientID] [int] NULL,
	[MedAidProductName] [varchar](50) NULL,
	[AllowServices] [bit] NULL,
 CONSTRAINT [PK_MedicalAidProduct] PRIMARY KEY CLUSTERED 
(
	[MedAidProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Member]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNumber] [varchar](200) NULL,
	[TitleID] [int] NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[Name] [varchar](300) NULL,
	[IDNumber] [varchar](300) NULL,
	[PassportNumber] [varchar](300) NULL,
	[PassportExpiryDate] [date] NULL,
	[PeriodInCountryID] [int] NULL,
	[DateOfBirth] [date] NULL,
	[GenderID] [int] NULL,
	[HasMedicalAid] [bit] NULL,
	[MedicalAidID] [int] NULL,
	[DateOfBenefit] [date] NULL,
	[DateJoined] [date] NULL,
	[Suspended] [bit] NULL,
	[DateSuspended] [date] NULL,
	[SuspendedReasonID] [int] NULL,
	[MedicalAidExhausted] [bit] NULL,
	[DateMedicalAidExhausted] [date] NULL,
	[WaitingPeriodApplicable] [bit] NULL,
	[MarritalStatusID] [int] NULL,
	[EmployerCountryID] [int] NULL,
	[EmployerAddress] [varchar](300) NULL,
	[EmployerAddressCode] [varchar](20) NULL,
	[EmployerPhoneNumber] [varchar](20) NULL,
	[Pensioner] [bit] NULL,
	[MemberStatusID] [int] NULL,
	[MemberCountryID] [int] NULL,
	[MemberAddress1] [varchar](500) NULL,
	[MemberAddress2] [varchar](500) NULL,
	[MemberAddress3] [varchar](500) NULL,
	[MemberAddressCode] [varchar](20) NULL,
	[MemberPhoneNumber] [varchar](300) NULL,
	[MemberCellNumber] [varchar](300) NULL,
	[NextOfKinName] [varchar](300) NULL,
	[NextOfKinRelationship] [varchar](300) NULL,
	[NextOfKinContactNumber] [varchar](300) NULL,
	[MemberLanguageID] [int] NULL,
	[MemberRaceID] [int] NULL,
	[MemberDependents] [varchar](1000) NULL,
	[FundReinstated] [bit] NULL,
	[FundReinstatedDate] [date] NULL,
	[Deceased] [bit] NULL,
	[DeceasedDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[MedAidProductID] [int] NULL,
	[MBOD_RMA] [bit] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Member_ChronicIllness]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Member_ChronicIllness](
	[MemberID] [int] NOT NULL,
	[ChronicIllnessID] [int] NOT NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Member_ChronicIllness] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[ChronicIllnessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Member_MedicalAidProduct]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Member_MedicalAidProduct](
	[MedAidProductID_MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MedAidProductID] [int] NULL,
	[MemberID] [int] NULL,
	[StartDate] [varchar](10) NOT NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[MemberNote]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MemberNote](
	[MemberNoteID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNote] [varchar](max) NULL,
	[MemberID] [int] NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK_MemberNote] PRIMARY KEY CLUSTERED 
(
	[MemberNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[MemberStatus]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MemberStatus](
	[MemberStatusID] [int] IDENTITY(1,1) NOT NULL,
	[MemberStatus] [varchar](200) NULL,
 CONSTRAINT [PK_MemberStatus] PRIMARY KEY CLUSTERED 
(
	[MemberStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[NappiCodes]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[NappiCodes](
	[NappiID] [int] IDENTITY(1,1) NOT NULL,
	[NappiCode] [varchar](100) NULL,
	[Description] [varchar](250) NULL,
	[Units] [int] NULL,
	[Measure] [varchar](10) NULL,
	[Price1] [decimal](10, 2) NULL,
	[Price2] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_NappiCodes] PRIMARY KEY CLUSTERED 
(
	[NappiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[PeriodInCountry]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[PeriodInCountry](
	[PeriodInCountryID] [int] IDENTITY(1,1) NOT NULL,
	[PeriodInCountry] [varchar](50) NULL,
 CONSTRAINT [PK_PeriodInCountry] PRIMARY KEY CLUSTERED 
(
	[PeriodInCountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Race]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Race](
	[RaceID] [int] IDENTITY(1,1) NOT NULL,
	[Race] [varchar](100) NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[ServiceProvider]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[ServiceProvider](
	[ServiceProviderID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceProviderName] [varchar](300) NULL,
	[ServiceProviderSurname] [varchar](300) NULL,
	[ServiceProviderInitials] [varchar](10) NULL,
	[PracticeName] [varchar](200) NULL,
	[GroupPracticeNr] [varchar](300) NULL,
	[PracticeNr] [varchar](300) NULL,
	[NoOfPartners] [int] NULL,
	[ServiceArea] [varchar](200) NULL,
	[SpecialityID] [int] NULL,
	[IsHospital] [bit] NULL,
	[PracticeAddress1] [varchar](300) NULL,
	[PracticeAddress2] [varchar](300) NULL,
	[PracticeAddress3] [varchar](300) NULL,
	[PracticeAddress4] [varchar](300) NULL,
	[PracticeAddressCode] [varchar](300) NULL,
	[PracticePAddress1] [varchar](300) NULL,
	[PracticePAddress2] [varchar](300) NULL,
	[PracticePAddress3] [varchar](300) NULL,
	[PracticePAddress4] [varchar](300) NULL,
	[PracticePAddressCode] [varchar](300) NULL,
	[PhoneNumber] [varchar](100) NULL,
	[FaxNumber] [varchar](100) NULL,
	[EmailAddress] [varchar](300) NULL,
	[LanguageID] [int] NULL,
	[CountryID] [int] NULL,
	[BankName] [varchar](200) NULL,
	[BankBranch] [varchar](200) NULL,
	[BankBranchCode] [varchar](200) NULL,
	[BankAccountType] [varchar](200) NULL,
	[BankAccountNumber] [varchar](200) NULL,
	[UserID] [varchar](200) NULL,
	[TariffStructureID] [varchar](3) NULL,
	[TariffInclVAT] [bit] NULL,
	[Visible] [bit] NULL,
	[CellNumber] [varchar](50) NULL,
 CONSTRAINT [PK_ServiceProvider] PRIMARY KEY CLUSTERED 
(
	[ServiceProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Speciality]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Speciality](
	[SpecialityID] [int] NOT NULL,
	[Speciality] [varchar](300) NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[SpecialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[SuspendedReason]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[SuspendedReason](
	[SuspendedReasonID] [int] IDENTITY(1,1) NOT NULL,
	[SuspendedReason] [varchar](200) NULL,
 CONSTRAINT [PK_SuspensionReason] PRIMARY KEY CLUSTERED 
(
	[SuspendedReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[SystemData]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[SystemData](
	[SystemDataID] [int] IDENTITY(1,1) NOT NULL,
	[SystemCountryID] [int] NULL,
	[SystemUniqueIdentifier] [uniqueidentifier] NULL,
	[SystemEmailAddress] [varchar](300) NULL,
	[SMTPServer] [varchar](300) NULL,
	[SSL] [bit] NULL,
	[Username] [varchar](300) NULL,
	[Password] [varchar](300) NULL,
	[UserID] [varchar](200) NULL,
	[SpecialICU] [int] NULL,
	[ICU] [int] NULL,
	[HighCare] [int] NULL,
	[NeuroWard] [int] NULL,
	[InIsolation] [int] NULL,
	[GeneralWard] [int] NULL,
	[Paediatric] [int] NULL,
	[Maternity] [int] NULL,
	[DayCase] [int] NULL,
	[StepDown] [int] NULL,
	[Psychiatric] [int] NULL,
	[Address1] [varchar](200) NULL,
	[Address2] [varchar](200) NULL,
	[Address3] [varchar](200) NULL,
	[Address4] [varchar](200) NULL,
	[AddressCode] [varchar](200) NULL,
	[Email] [varchar](200) NULL,
	[Fax] [varchar](50) NULL,
	[Telephone] [varchar](50) NULL,
	[Website] [varchar](200) NULL,
	[Logo] [varbinary](max) NULL,
	[DefaultProviderID] [int] NULL,
 CONSTRAINT [PK_SystemData] PRIMARY KEY CLUSTERED 
(
	[SystemDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[TariffName]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[TariffName](
	[TariffNameID] [int] IDENTITY(1,1) NOT NULL,
	[TariffName] [varchar](200) NULL,
	[Visible] [bit] NULL,
 CONSTRAINT [PK_TariffName] PRIMARY KEY CLUSTERED 
(
	[TariffNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[Title]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[Title](
	[TitleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[xHospitalType]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[xHospitalType](
	[HospitalTypeID] [int] NOT NULL,
	[HospitalTypeName] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[CaseLink]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[CaseLink](
	[ParentCase] [int] NOT NULL,
	[ChildCase] [int] NOT NULL,
	[OrigParent] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Tariff].[BaseTariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[BaseTariff](
	[BaseTariffID] [varchar](100) NOT NULL,
	[TariffStructureID] [varchar](3) NOT NULL,
	[TariffCode] [varchar](50) NULL,
	[SpecialityID] [int] NULL,
	[TariffDescription] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ChargeCodes] [varchar](20) NULL,
 CONSTRAINT [PK_BaseTariff] PRIMARY KEY CLUSTERED 
(
	[BaseTariffID] ASC,
	[TariffStructureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tariff].[Case_Tariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[Case_Tariff](
	[CaseID_TariffID] [bigint] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
	[Value] [decimal](10, 2) NULL,
	[Qty] [decimal](5, 1) NULL,
	[AgreedRateOverride] [decimal](10, 2) NULL,
	[ValueIsTotal] [bit] NULL,
	[Rejected] [bit] NULL,
	[DateOfProcedure] [date] NOT NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Tariff].[ServiceProvider_Tariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[ServiceProvider_Tariff](
	[ServiceProvider_TariffID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceProviderID] [int] NOT NULL,
	[TariffNameID] [int] NULL,
	[MainClientID] [int] NULL,
	[StartActiveDate] [date] NULL,
	[EndActiveDate] [date] NULL,
	[TariffPeriodName] [int] NULL,
	[PercentageAdded] [decimal](10, 4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Tariff].[ServiceProvider_Tariff_Custom]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[ServiceProvider_Tariff_Custom](
	[ServiceProvider_Tariff_CustomID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceProviderID] [int] NOT NULL,
	[BaseTariffID] [varchar](100) NULL,
	[MainClientID] [int] NULL,
	[TariffAmount] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Tariff].[Tariff]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[Tariff](
	[TariffID] [int] IDENTITY(1,1) NOT NULL,
	[BaseTariffID] [varchar](100) NULL,
	[TariffNameID] [int] NULL,
	[TariffAmount] [decimal](10, 2) NULL,
	[Metric] [varchar](10) NULL,
	[Quantity] [decimal](5, 1) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[TariffPeriodName] [varchar](4) NULL,
 CONSTRAINT [PK_Tariff_1] PRIMARY KEY CLUSTERED 
(
	[TariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Tariff].[TariffName]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[TariffName](
	[TariffNameID] [int] NOT NULL,
	[TariffName] [varchar](200) NULL,
	[Visible] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Updates].[AppUpdates]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Updates].[AppUpdates](
	[UpdateID] [int] IDENTITY(1,1) NOT NULL,
	[UpdatePath] [varchar](250) NULL,
	[UpdateComments] [varchar](max) NULL,
	[AppVersion] [varchar](50) NULL,
 CONSTRAINT [PK_AppUpdates] PRIMARY KEY CLUSTERED 
(
	[UpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Updates].[ClientUpdates]    Script Date: 2026/04/15 16:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Updates].[ClientUpdates](
	[ClientUpdateID] [int] IDENTITY(1,1) NOT NULL,
	[UpdateID] [int] NULL,
	[ClientComputerName] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ClientUpdates] PRIMARY KEY CLUSTERED 
(
	[ClientUpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aspnet_Applications] ADD  DEFAULT (newid()) FOR [ApplicationId]
GO
ALTER TABLE [dbo].[aspnet_Membership] ADD  DEFAULT ((0)) FOR [PasswordFormat]
GO
ALTER TABLE [dbo].[aspnet_Paths] ADD  DEFAULT (newid()) FOR [PathId]
GO
ALTER TABLE [dbo].[aspnet_PersonalizationPerUser] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[aspnet_Roles] ADD  DEFAULT (newid()) FOR [RoleId]
GO
ALTER TABLE [dbo].[aspnet_Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[aspnet_Users] ADD  DEFAULT (NULL) FOR [MobileAlias]
GO
ALTER TABLE [dbo].[aspnet_Users] ADD  DEFAULT ((0)) FOR [IsAnonymous]
GO
ALTER TABLE [CaseManagement].[Case_Checklist]  WITH CHECK ADD  CONSTRAINT [FK_Case_Checklist_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_Checklist] CHECK CONSTRAINT [FK_Case_Checklist_Cases]
GO
ALTER TABLE [CaseManagement].[Case_Checklist]  WITH CHECK ADD  CONSTRAINT [FK_Case_Checklist_ChecklistTemplate] FOREIGN KEY([ChecklistTemplateID])
REFERENCES [CaseManagement].[ChecklistTemplate] ([ChecklistTemplateID])
GO
ALTER TABLE [CaseManagement].[Case_Checklist] CHECK CONSTRAINT [FK_Case_Checklist_ChecklistTemplate]
GO
ALTER TABLE [CaseManagement].[Case_CPT]  WITH CHECK ADD  CONSTRAINT [FK_Case_CPT_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_CPT] CHECK CONSTRAINT [FK_Case_CPT_Cases]
GO
ALTER TABLE [CaseManagement].[Case_CPT]  WITH CHECK ADD  CONSTRAINT [FK_Case_CPT_CPT] FOREIGN KEY([CPTID])
REFERENCES [shared].[CPT] ([CPTID])
GO
ALTER TABLE [CaseManagement].[Case_CPT] CHECK CONSTRAINT [FK_Case_CPT_CPT]
GO
ALTER TABLE [CaseManagement].[Case_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_Case_Exclusion_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_Exclusion] CHECK CONSTRAINT [FK_Case_Exclusion_Cases]
GO
ALTER TABLE [CaseManagement].[Case_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_Case_Exclusion_Exclusion] FOREIGN KEY([ExclusionID])
REFERENCES [shared].[Exclusion] ([ExclusionID])
GO
ALTER TABLE [CaseManagement].[Case_Exclusion] CHECK CONSTRAINT [FK_Case_Exclusion_Exclusion]
GO
ALTER TABLE [CaseManagement].[Case_FacilityType]  WITH CHECK ADD  CONSTRAINT [FK_Case_FacilityType_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_FacilityType] CHECK CONSTRAINT [FK_Case_FacilityType_Cases]
GO
ALTER TABLE [CaseManagement].[Case_FacilityType]  WITH CHECK ADD  CONSTRAINT [FK_Case_FacilityType_FacilityType] FOREIGN KEY([FacilityTypeID])
REFERENCES [shared].[FacilityType] ([FacilityTypeID])
GO
ALTER TABLE [CaseManagement].[Case_FacilityType] CHECK CONSTRAINT [FK_Case_FacilityType_FacilityType]
GO
ALTER TABLE [CaseManagement].[Case_ICD]  WITH CHECK ADD  CONSTRAINT [FK_Case_ICD_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_ICD] CHECK CONSTRAINT [FK_Case_ICD_Cases]
GO
ALTER TABLE [CaseManagement].[Case_ICD]  WITH CHECK ADD  CONSTRAINT [FK_Case_ICD_ICD] FOREIGN KEY([ICDID])
REFERENCES [shared].[ICD] ([ICDID])
GO
ALTER TABLE [CaseManagement].[Case_ICD] CHECK CONSTRAINT [FK_Case_ICD_ICD]
GO
ALTER TABLE [CaseManagement].[CaseComment]  WITH CHECK ADD  CONSTRAINT [FK_CaseComment_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[CaseComment] CHECK CONSTRAINT [FK_CaseComment_Cases]
GO
ALTER TABLE [CaseManagement].[CaseNote]  WITH CHECK ADD  CONSTRAINT [FK_CaseNote_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[CaseNote] CHECK CONSTRAINT [FK_CaseNote_Cases]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_CaseStatus] FOREIGN KEY([StatusID])
REFERENCES [CaseManagement].[CaseStatus] ([CaseStatusID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_CaseStatus]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_Member] FOREIGN KEY([MemberID])
REFERENCES [shared].[Member] ([MemberID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_Member]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_ServiceProvider] FOREIGN KEY([ReferToID])
REFERENCES [shared].[ServiceProvider] ([ServiceProviderID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_ServiceProvider]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_ServiceProvider1] FOREIGN KEY([ReferFromID])
REFERENCES [shared].[ServiceProvider] ([ServiceProviderID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_ServiceProvider1]
GO
ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [dbo].[aspnet_Paths]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[aspnet_PersonalizationAllUsers]  WITH CHECK ADD FOREIGN KEY([PathId])
REFERENCES [dbo].[aspnet_Paths] ([PathId])
GO
ALTER TABLE [dbo].[aspnet_PersonalizationPerUser]  WITH CHECK ADD FOREIGN KEY([PathId])
REFERENCES [dbo].[aspnet_Paths] ([PathId])
GO
ALTER TABLE [dbo].[aspnet_PersonalizationPerUser]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [dbo].[aspnet_Profile]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [dbo].[aspnet_Roles]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[aspnet_Users]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[aspnet_UsersInRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[aspnet_UsersInRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
ALTER TABLE [shared].[MedicalAid_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Exclusion_BaseTariff] FOREIGN KEY([BaseTariffID])
REFERENCES [shared].[BaseTariff] ([BaseTariffID])
GO
ALTER TABLE [shared].[MedicalAid_Exclusion] CHECK CONSTRAINT [FK_MedicalAid_Exclusion_BaseTariff]
GO
ALTER TABLE [shared].[MedicalAid_Exclusion]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Exclusion_MedicalAid] FOREIGN KEY([MedicalAidID])
REFERENCES [shared].[MedicalAid] ([MedicalAidID])
GO
ALTER TABLE [shared].[MedicalAid_Exclusion] CHECK CONSTRAINT [FK_MedicalAid_Exclusion_MedicalAid]
GO
ALTER TABLE [shared].[MedicalAid_Tariff]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Tariff_MedicalAid] FOREIGN KEY([MedicalAidID])
REFERENCES [shared].[MedicalAid] ([MedicalAidID])
GO
ALTER TABLE [shared].[MedicalAid_Tariff] CHECK CONSTRAINT [FK_MedicalAid_Tariff_MedicalAid]
GO
ALTER TABLE [shared].[MedicalAid_Tariff]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Tariff_TariffName] FOREIGN KEY([TariffNameID])
REFERENCES [shared].[TariffName] ([TariffNameID])
GO
ALTER TABLE [shared].[MedicalAid_Tariff] CHECK CONSTRAINT [FK_MedicalAid_Tariff_TariffName]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Country] FOREIGN KEY([MemberCountryID])
REFERENCES [shared].[Country] ([CountryID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Country]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Gender] FOREIGN KEY([GenderID])
REFERENCES [shared].[Gender] ([GenderID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Gender]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Language] FOREIGN KEY([MemberLanguageID])
REFERENCES [shared].[Language] ([LanguageID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Language]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MarritalStatus] FOREIGN KEY([MarritalStatusID])
REFERENCES [shared].[MarritalStatus] ([MarritalStatusID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_MarritalStatus]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MedicalAid] FOREIGN KEY([MedicalAidID])
REFERENCES [shared].[MedicalAid] ([MedicalAidID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_MedicalAid]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MemberStatus] FOREIGN KEY([MemberStatusID])
REFERENCES [shared].[MemberStatus] ([MemberStatusID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_MemberStatus]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_PeriodInCountry] FOREIGN KEY([PeriodInCountryID])
REFERENCES [shared].[PeriodInCountry] ([PeriodInCountryID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_PeriodInCountry]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Race] FOREIGN KEY([MemberRaceID])
REFERENCES [shared].[Race] ([RaceID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Race]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Title] FOREIGN KEY([TitleID])
REFERENCES [shared].[Title] ([TitleID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Title]
GO
ALTER TABLE [shared].[Member_ChronicIllness]  WITH CHECK ADD  CONSTRAINT [FK_Member_ChronicIllness_ChronicIllness] FOREIGN KEY([ChronicIllnessID])
REFERENCES [shared].[ChronicIllness] ([ChronicIllnessID])
GO
ALTER TABLE [shared].[Member_ChronicIllness] CHECK CONSTRAINT [FK_Member_ChronicIllness_ChronicIllness]
GO
ALTER TABLE [shared].[Member_ChronicIllness]  WITH CHECK ADD  CONSTRAINT [FK_Member_ChronicIllness_Member] FOREIGN KEY([MemberID])
REFERENCES [shared].[Member] ([MemberID])
GO
ALTER TABLE [shared].[Member_ChronicIllness] CHECK CONSTRAINT [FK_Member_ChronicIllness_Member]
GO
ALTER TABLE [shared].[MemberNote]  WITH CHECK ADD  CONSTRAINT [FK_MemberNote_Member] FOREIGN KEY([MemberID])
REFERENCES [shared].[Member] ([MemberID])
GO
ALTER TABLE [shared].[MemberNote] CHECK CONSTRAINT [FK_MemberNote_Member]
GO
ALTER TABLE [shared].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProvider_Speciality] FOREIGN KEY([SpecialityID])
REFERENCES [shared].[Speciality] ([SpecialityID])
GO
ALTER TABLE [shared].[ServiceProvider] CHECK CONSTRAINT [FK_ServiceProvider_Speciality]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Speciality' , @level0type=N'SCHEMA',@level0name=N'CaseManagement', @level1type=N'TABLE',@level1name=N'Cases', @level2type=N'COLUMN',@level2name=N'AuthTypeID'
GO
