USE [MedManage]
GO
/****** Object:  Table [audit].[CaseManagement_Audit]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [audit].[CaseManagement_Audit](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NULL,
	[ObjectName] [varchar](200) NULL,
	[EventType] [char](1) NULL,
	[EventTime] [datetime2](7) NULL,
	[ID1] [varchar](200) NULL,
	[ID2] [varchar](200) NULL,
	[ID3] [varchar](200) NULL,
 CONSTRAINT [PK_CaseManagement_Audit] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
