USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_Billing]    Script Date: 2016/04/22 11:40:50 AM ******/
DROP TABLE [CaseManagement].[Case_Billing]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
----Changed 1.0.7.9
CREATE TABLE [CaseManagement].[Case_Billing](
	[Case_BillingID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[ServiceProviderID] [int] NULL,
	[AccountDate] [date] NULL,
	[AccountToDate] [date] NULL,
	[AccountNumber] [varchar](100) NULL,
	[DateReceived] [date] NULL,
	[Submitted] [bit] NULL,
	[DateSubmitted] [date] NULL,
	[Reported] [bit] NULL,
	[DateReported] [date] NULL,
	[ReceivedByName] [varchar](50) NULL,
	[AmountDue] [decimal](10, 2) NULL,
	[Discount] [decimal](10, 2) NULL,
	[Penalty] [decimal](10, 2) NULL,
	[DatePaid] [date] NULL,
	[Remittance] [varchar](150) NULL,
	[Amount] [decimal](10, 2) NULL,
	[BillingStatusID] [int] NULL,
	[DateInserted] [datetime2](7) NULL,
	[UserID] [varchar](200) NULL,
	[PatientName] [varchar](50) NULL,
	[PatientInitials] [varchar](50) NULL,
	[PatientSurname] [varchar](50) NULL,
 CONSTRAINT [PK_Case_Billing] PRIMARY KEY CLUSTERED 
(
	[Case_BillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

----Changed 1.0.7.9
--ALTER TABLE [CaseManagement].[Case_Billing]
--ADD [PatientName] [varchar](50) NULL,
--	[PatientInitials] [varchar](50) NULL,
--	[PatientSurname] [varchar](50) NULL

--SELECT * FROM [CaseManagement].[Case_Billing]