USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Episode_Case]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Episode_Case](
	[EpisodeID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[DateCreated] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Episode_Case] PRIMARY KEY CLUSTERED 
(
	[EpisodeID] ASC,
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
