USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[CaseNote]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[CaseNote](
	[CaseNoteID] [int] IDENTITY(1,1) NOT NULL,
	[CaseNote] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [datetime2](7) NULL,
	[InterimAmount] [decimal](10, 2) NULL,
	[CaseID] [int] NULL,
 CONSTRAINT [PK_CaseNote] PRIMARY KEY CLUSTERED 
(
	[CaseNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[CaseNote]  WITH CHECK ADD  CONSTRAINT [FK_CaseNote_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[CaseNote] CHECK CONSTRAINT [FK_CaseNote_Cases]
GO

--NEW 1.0.7.8
ALTER TABLE CaseManagement.CaseNote ADD
	CaseNumber VARCHAR(150) NULL