USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_ICD]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_ICD](
	[CaseID] [int] NOT NULL,
	[ICDID] [int] NOT NULL,
	[DateOfProcedure] [date] NULL,
	[PrimaryCode] [bit] NULL,
	[SecondaryCode] [bit] NULL,
	[CoMorbidityCode] [bit] NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_ICD] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC,
	[ICDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Case_ICD]  WITH CHECK ADD  CONSTRAINT [FK_Case_ICD_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_ICD] CHECK CONSTRAINT [FK_Case_ICD_Cases]
GO
ALTER TABLE [CaseManagement].[Case_ICD]  WITH CHECK ADD  CONSTRAINT [FK_Case_ICD_ICD] FOREIGN KEY([ICDID])
REFERENCES [shared].[ICD] ([ICDID])
GO
ALTER TABLE [CaseManagement].[Case_ICD] CHECK CONSTRAINT [FK_Case_ICD_ICD]
GO
