USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_CPT]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_CPT](
	[CaseID_CPTID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[CPTID] [int] NOT NULL,
	[DateOfProcedure] [date] NULL,
	[PrimaryCode] [bit] NULL,
	[SecondaryCode] [bit] NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Case_CPT] PRIMARY KEY CLUSTERED 
(
	[CaseID_CPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Case_CPT]  WITH CHECK ADD  CONSTRAINT [FK_Case_CPT_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_CPT] CHECK CONSTRAINT [FK_Case_CPT_Cases]
GO
ALTER TABLE [CaseManagement].[Case_CPT]  WITH CHECK ADD  CONSTRAINT [FK_Case_CPT_CPT] FOREIGN KEY([CPTID])
REFERENCES [shared].[CPT] ([CPTID])
GO
ALTER TABLE [CaseManagement].[Case_CPT] CHECK CONSTRAINT [FK_Case_CPT_CPT]
GO
