USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Cases]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Cases](
	[CaseID] [int] IDENTITY(1,1) NOT NULL,
	[AuthNumber] [varchar](50) NULL,
	[AccountNr] [varchar](50) NULL,
	[MemberID] [int] NULL,
	[ReferToID] [int] NULL,
	[ReferFromID] [int] NULL,
	[AdmissionDate] [date] NULL,
	[AdmissionTime] [time](7) NULL,
	[DischargeDate] [date] NULL,
	[DischargeTime] [time](7) NULL,
	[AuthTypeID] [int] NULL,
	[WCA_IOD] [bit] NULL,
	[TotalLengthOfStay] [decimal](10, 2) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[FinalInvoiceAmount] [decimal](10, 2) NULL,
	[FinalInvoiceAmountUpdated] [varchar](100) NULL,
	[StatusID] [int] NULL,
	[CaseDescription] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[Changes] [varchar](max) NULL,
	[Limits] [varchar](max) NULL,
	[Exclusions] [varchar](max) NULL,
	[DateCreated] [date] NULL,
	[HasBooking] [bit] NULL,
	[ChangeToCaseDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_CaseStatus] FOREIGN KEY([StatusID])
REFERENCES [CaseManagement].[CaseStatus] ([CaseStatusID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_CaseStatus]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_Member] FOREIGN KEY([MemberID])
REFERENCES [shared].[Member] ([MemberID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_Member]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_ServiceProvider] FOREIGN KEY([ReferToID])
REFERENCES [shared].[ServiceProvider] ([ServiceProviderID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_ServiceProvider]
GO
ALTER TABLE [CaseManagement].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_ServiceProvider1] FOREIGN KEY([ReferFromID])
REFERENCES [shared].[ServiceProvider] ([ServiceProviderID])
GO
ALTER TABLE [CaseManagement].[Cases] CHECK CONSTRAINT [FK_Cases_ServiceProvider1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Speciality' , @level0type=N'SCHEMA',@level0name=N'CaseManagement', @level1type=N'TABLE',@level1name=N'Cases', @level2type=N'COLUMN',@level2name=N'AuthTypeID'
GO


--NEW 1.0.7.8
ALTER TABLE CaseManagement.Cases ADD
	PenaltyPercentage DECIMAL(5,2) NULL