USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_Checklist]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_Checklist](
	[CaseID] [int] NOT NULL,
	[ChecklistTemplateID] [int] NOT NULL,
	[Checked] [bit] NULL,
	[UserID] [varchar](200) NULL,
	[Date] [datetime2](7) NULL,
	[Comments] [varchar](max) NULL,
	[NotApplicable] [bit] NULL,
 CONSTRAINT [PK_Case_Checklist] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC,
	[ChecklistTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Case_Checklist]  WITH CHECK ADD  CONSTRAINT [FK_Case_Checklist_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_Checklist] CHECK CONSTRAINT [FK_Case_Checklist_Cases]
GO
ALTER TABLE [CaseManagement].[Case_Checklist]  WITH CHECK ADD  CONSTRAINT [FK_Case_Checklist_ChecklistTemplate] FOREIGN KEY([ChecklistTemplateID])
REFERENCES [CaseManagement].[ChecklistTemplate] ([ChecklistTemplateID])
GO
ALTER TABLE [CaseManagement].[Case_Checklist] CHECK CONSTRAINT [FK_Case_Checklist_ChecklistTemplate]
GO
