USE [MedManage]
GO
/****** Object:  Table [CaseManagement].[Case_FacilityType]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CaseManagement].[Case_FacilityType](
	[CaseID_FacilityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityTypeID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[DateAdmitted] [datetime2](0) NOT NULL,
	[DateDischarged] [datetime2](0) NULL,
	[LOS] [decimal](10, 1) NULL,
	[FacilityTypeCode] [varchar](10) NULL,
	[MinutesOnVentilator] [int] NULL,
	[Comments] [varchar](500) NULL,
	[DateInserted] [date] NULL,
	[UserID] [varchar](100) NULL,
 CONSTRAINT [PK_Case_FacilityType] PRIMARY KEY CLUSTERED 
(
	[CaseID_FacilityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CaseManagement].[Case_FacilityType]  WITH CHECK ADD  CONSTRAINT [FK_Case_FacilityType_Cases] FOREIGN KEY([CaseID])
REFERENCES [CaseManagement].[Cases] ([CaseID])
GO
ALTER TABLE [CaseManagement].[Case_FacilityType] CHECK CONSTRAINT [FK_Case_FacilityType_Cases]
GO
ALTER TABLE [CaseManagement].[Case_FacilityType]  WITH CHECK ADD  CONSTRAINT [FK_Case_FacilityType_FacilityType] FOREIGN KEY([FacilityTypeID])
REFERENCES [shared].[FacilityType] ([FacilityTypeID])
GO
ALTER TABLE [CaseManagement].[Case_FacilityType] CHECK CONSTRAINT [FK_Case_FacilityType_FacilityType]
GO
