USE [MedManage]
GO
/****** Object:  Table [dbo].[ChronicIllness]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChronicIllness](
	[ChronicIllnessID] [float] NULL,
	[ChronicIllnessName] [nvarchar](max) NULL,
	[ChronicIllnessDescription] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[DateAdded] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
