USE [MedManage]
GO
/****** Object:  Table [finance].[BillingStatus]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE finance.BillingStatus
	(
	BillingStatusID int NOT NULL,
	BillingStatus varchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE finance.BillingStatus ADD CONSTRAINT
	PK_BillingStatus PRIMARY KEY CLUSTERED 
	(
	BillingStatusID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE finance.BillingStatus SET (LOCK_ESCALATION = TABLE)

INSERT INTO finance.BillingStatus (BillingStatusID,BillingStatus)
VALUES (1,'New')
INSERT INTO finance.BillingStatus (BillingStatusID,BillingStatus)
VALUES (2,'Submitted')
INSERT INTO finance.BillingStatus (BillingStatusID,BillingStatus)
VALUES (3,'Paid')

