USE [MedManage]
GO
/****** Object:  Table [finance].[Remittance]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [finance].[Remittance](
	[RemittanceID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[RemittanceNumber] [varchar](50) NULL,
	[DateRemittanceCreated] [datetime2](7) NULL,
	[DateRemittanceSubmitted] [datetime2](7) NULL,
	[UserID] [varchar](100) NULL,
 CONSTRAINT [PK_Remittance] PRIMARY KEY CLUSTERED 
(
	[RemittanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
