USE [MedManage]
GO
/****** Object:  Table [Import].[GPHTariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[GPHTariff](
	[DEP] [nvarchar](255) NULL,
	[CG] [nvarchar](max) NULL,
	[Tariff] [nvarchar](max) NULL,
	[DESCRIPT] [nvarchar](255) NULL,
	[SCH] [float] NULL,
	[TariffCode] [nvarchar](max) NULL,
	[TARIFF EXCL VAT] [nvarchar](max) NULL,
	[PRICE] [nvarchar](max) NULL,
	[DT] [datetime] NULL,
	[CG_QTY_FACTOR] [float] NULL,
	[PF] [nvarchar](255) NULL,
	[A] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
