USE [MedManage]
GO
/****** Object:  Table [Import].[tmpmember]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Import].[tmpmember](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNumber] [varchar](200) NULL,
	[TitleID] [int] NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[Name] [varchar](300) NULL,
	[IDNumber] [varchar](300) NULL,
	[PassportNumber] [varchar](300) NULL,
	[PassportExpiryDate] [date] NULL,
	[PeriodInCountryID] [int] NULL,
	[DateOfBirth] [date] NULL,
	[GenderID] [int] NULL,
	[HasMedicalAid] [bit] NULL,
	[MedicalAidID] [int] NULL,
	[DateOfBenefit] [date] NULL,
	[DateJoined] [date] NULL,
	[Suspended] [bit] NULL,
	[DateSuspended] [date] NULL,
	[SuspendedReasonID] [int] NULL,
	[MedicalAidExhausted] [bit] NULL,
	[DateMedicalAidExhausted] [date] NULL,
	[WaitingPeriodApplicable] [bit] NULL,
	[MarritalStatusID] [int] NULL,
	[EmployerCountryID] [int] NULL,
	[EmployerAddress] [varchar](300) NULL,
	[EmployerAddressCode] [varchar](20) NULL,
	[EmployerPhoneNumber] [varchar](20) NULL,
	[Pensioner] [bit] NULL,
	[MemberStatusID] [int] NULL,
	[MemberCountryID] [int] NULL,
	[MemberAddress1] [varchar](500) NULL,
	[MemberAddress2] [varchar](500) NULL,
	[MemberAddress3] [varchar](500) NULL,
	[MemberAddressCode] [varchar](20) NULL,
	[MemberPhoneNumber] [varchar](300) NULL,
	[MemberCellNumber] [varchar](300) NULL,
	[NextOfKinName] [varchar](300) NULL,
	[NextOfKinRelationship] [varchar](300) NULL,
	[NextOfKinContactNumber] [varchar](300) NULL,
	[MemberLanguageID] [int] NULL,
	[MemberRaceID] [int] NULL,
	[MemberDependents] [varchar](1000) NULL,
	[FundReinstated] [bit] NULL,
	[FundReinstatedDate] [date] NULL,
	[Deceased] [bit] NULL,
	[DeceasedDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[MedAidProductID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
