USE [MedManage]
GO
/****** Object:  Table [Import].[mNel2006]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[mNel2006](
	[Speciality] [float] NULL,
	[Code] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Value] [float] NULL
) ON [PRIMARY]

GO
