USE [MedManage]
GO
/****** Object:  Table [Import].[BokomosoTariffs]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[BokomosoTariffs](
	[S#No#] [nvarchar](255) NULL,
	[SERVICE GROUP] [nvarchar](255) NULL,
	[SERVICE CODE] [nvarchar](255) NULL,
	[Speciality] [float] NULL,
	[NHRPL CODE] [nvarchar](255) NULL,
	[SERVICE] [nvarchar](255) NULL,
	[MOH TARIFF] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
