USE [MedManage]
GO
/****** Object:  Table [Overnight].[AllCodesData_bk20150929]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Overnight].[AllCodesData_bk20150929](
	[RecordKey] [int] IDENTITY(1,1) NOT NULL,
	[CaseStatus] [varchar](200) NULL,
	[AuthNumber] [varchar](50) NULL,
	[AccountNr] [varchar](50) NULL,
	[CasePrefix] [char](3) NULL,
	[MemberNumber] [varchar](200) NULL,
	[Name] [varchar](300) NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[ReferTo] [varchar](200) NULL,
	[ReferFrom] [varchar](200) NULL,
	[AdmissionDate] [date] NULL,
	[AdmissionTime] [time](7) NULL,
	[DischargeDate] [date] NULL,
	[DischargeTime] [time](7) NULL,
	[CPTCode] [varchar](20) NULL,
	[CPTPrimary] [bit] NULL,
	[CPTSecondary] [bit] NULL,
	[ICDCode] [varchar](50) NULL,
	[ICDPrimary] [bit] NULL,
	[ICDSecondary] [bit] NULL,
	[ICDCoMorbidity] [bit] NULL,
	[ICDDesc] [varchar](max) NOT NULL,
	[CPTDesc] [varchar](255) NOT NULL,
	[ReferToPracticeNumber] [varchar](300) NULL,
	[ReferFromPracticeNumber] [varchar](300) NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [date] NULL,
	[CaseID] [int] NOT NULL,
	[MedicalAidID] [int] NULL,
	[FacilityType] [varchar](100) NOT NULL,
	[LOS] [decimal](10, 1) NULL,
	[TotalLengthOfStay] [decimal](10, 2) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[FinalInvoiceAmount] [decimal](10, 2) NULL,
	[MedAidProductName] [varchar](50) NULL,
	[MBOD_RMA] [bit] NULL,
	[HasBooking] [bit] NULL,
	[ChangeToCaseDate] [datetime2](7) NULL,
	[TariffCode] [varchar](50) NULL,
	[TariffDescription] [varchar](max) NULL,
	[MainClientID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
