USE [MedManage]
GO
/****** Object:  Table [shared].[MemberNote]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[MemberNote](
	[MemberNoteID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNote] [varchar](max) NULL,
	[MemberID] [int] NULL,
	[UserID] [varchar](200) NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK_MemberNote] PRIMARY KEY CLUSTERED 
(
	[MemberNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [shared].[MemberNote]  WITH CHECK ADD  CONSTRAINT [FK_MemberNote_Member] FOREIGN KEY([MemberID])
REFERENCES [shared].[Member] ([MemberID])
GO
ALTER TABLE [shared].[MemberNote] CHECK CONSTRAINT [FK_MemberNote_Member]
GO
