USE [MedManage]
GO
/****** Object:  Table [shared].[BaseTariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[BaseTariff](
	[BaseTariffID] [varchar](100) NOT NULL,
	[TariffCode] [varchar](50) NULL,
	[SpecialityID] [int] NULL,
	[TariffDescription] [varchar](max) NULL,
	[UserID] [varchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ChargeCodes] [varchar](20) NULL,
 CONSTRAINT [PK_BaseTariff] PRIMARY KEY CLUSTERED 
(
	[BaseTariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
