USE [MedManage]
GO
/****** Object:  Table [shared].[MedicalAid_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MedicalAid_Tariff](
	[MedicalAidID] [int] NOT NULL,
	[TariffNameID] [int] NOT NULL,
 CONSTRAINT [PK_MedicalAid_Tariff] PRIMARY KEY CLUSTERED 
(
	[MedicalAidID] ASC,
	[TariffNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [shared].[MedicalAid_Tariff]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Tariff_MedicalAid] FOREIGN KEY([MedicalAidID])
REFERENCES [shared].[MedicalAid] ([MedicalAidID])
GO
ALTER TABLE [shared].[MedicalAid_Tariff] CHECK CONSTRAINT [FK_MedicalAid_Tariff_MedicalAid]
GO
ALTER TABLE [shared].[MedicalAid_Tariff]  WITH CHECK ADD  CONSTRAINT [FK_MedicalAid_Tariff_TariffName] FOREIGN KEY([TariffNameID])
REFERENCES [shared].[TariffName] ([TariffNameID])
GO
ALTER TABLE [shared].[MedicalAid_Tariff] CHECK CONSTRAINT [FK_MedicalAid_Tariff_TariffName]
GO
