USE [MedManage]
GO
/****** Object:  Table [shared].[Member]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberNumber] [varchar](200) NULL,
	[TitleID] [int] NULL,
	[Surname] [varchar](300) NULL,
	[Initials] [varchar](50) NULL,
	[Name] [varchar](300) NULL,
	[IDNumber] [varchar](300) NULL,
	[PassportNumber] [varchar](300) NULL,
	[PassportExpiryDate] [date] NULL,
	[PeriodInCountryID] [int] NULL,
	[DateOfBirth] [date] NULL,
	[GenderID] [int] NULL,
	[HasMedicalAid] [bit] NULL,
	[MedicalAidID] [int] NULL,
	[DateOfBenefit] [date] NULL,
	[DateJoined] [date] NULL,
	[Suspended] [bit] NULL,
	[DateSuspended] [date] NULL,
	[SuspendedReasonID] [int] NULL,
	[MedicalAidExhausted] [bit] NULL,
	[DateMedicalAidExhausted] [date] NULL,
	[WaitingPeriodApplicable] [bit] NULL,
	[MarritalStatusID] [int] NULL,
	[EmployerCountryID] [int] NULL,
	[EmployerAddress] [varchar](300) NULL,
	[EmployerAddressCode] [varchar](20) NULL,
	[EmployerPhoneNumber] [varchar](20) NULL,
	[Pensioner] [bit] NULL,
	[MemberStatusID] [int] NULL,
	[MemberCountryID] [int] NULL,
	[MemberAddress1] [varchar](500) NULL,
	[MemberAddress2] [varchar](500) NULL,
	[MemberAddress3] [varchar](500) NULL,
	[MemberAddressCode] [varchar](20) NULL,
	[MemberPhoneNumber] [varchar](300) NULL,
	[MemberCellNumber] [varchar](300) NULL,
	[NextOfKinName] [varchar](300) NULL,
	[NextOfKinRelationship] [varchar](300) NULL,
	[NextOfKinContactNumber] [varchar](300) NULL,
	[MemberLanguageID] [int] NULL,
	[MemberRaceID] [int] NULL,
	[MemberDependents] [varchar](1000) NULL,
	[FundReinstated] [bit] NULL,
	[FundReinstatedDate] [date] NULL,
	[Deceased] [bit] NULL,
	[DeceasedDate] [date] NULL,
	[UserID] [varchar](200) NULL,
	[MedAidProductID] [int] NULL,
	[MBOD_RMA] [bit] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Country] FOREIGN KEY([MemberCountryID])
REFERENCES [shared].[Country] ([CountryID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Country]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Gender] FOREIGN KEY([GenderID])
REFERENCES [shared].[Gender] ([GenderID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Gender]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Language] FOREIGN KEY([MemberLanguageID])
REFERENCES [shared].[Language] ([LanguageID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Language]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MarritalStatus] FOREIGN KEY([MarritalStatusID])
REFERENCES [shared].[MarritalStatus] ([MarritalStatusID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_MarritalStatus]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MedicalAid] FOREIGN KEY([MedicalAidID])
REFERENCES [shared].[MedicalAid] ([MedicalAidID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_MedicalAid]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MemberStatus] FOREIGN KEY([MemberStatusID])
REFERENCES [shared].[MemberStatus] ([MemberStatusID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_MemberStatus]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_PeriodInCountry] FOREIGN KEY([PeriodInCountryID])
REFERENCES [shared].[PeriodInCountry] ([PeriodInCountryID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_PeriodInCountry]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Race] FOREIGN KEY([MemberRaceID])
REFERENCES [shared].[Race] ([RaceID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Race]
GO
ALTER TABLE [shared].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Title] FOREIGN KEY([TitleID])
REFERENCES [shared].[Title] ([TitleID])
GO
ALTER TABLE [shared].[Member] CHECK CONSTRAINT [FK_Member_Title]
GO
