USE [MedManage]
GO
/****** Object:  Table [shared].[LinkedFile]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[LinkedFile](
	[LinkedFileID] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [varchar](50) NOT NULL,
	[EntityID] [int] NULL,
	[FilePath] [varchar](max) NULL,
	[FileName] [varchar](200) NULL,
	[DateAdded] [datetime] NULL,
	[UserID] [varchar](50) NULL,
 CONSTRAINT [PK_LinkedFile] PRIMARY KEY CLUSTERED 
(
	[LinkedFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
