USE [MedManage]
GO

/****** Object:  Table [shared].[Member_MedicalAidProduct]    Script Date: 2016/07/07 08:15:44 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [shared].[Member_MedicalAidProduct](
	[MedAidProductID_MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MedAidProductID] [int] NULL,
	[MemberID] [int] NULL,
	[StartDate] [varchar](10) NOT NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO





SELECT MedAidProductID_MemberID = IDENTITY(INT,1,1)
	,m.[MedAidProductID]
	,MemberID = Convert(int,m.[MemberID])
	,StartDate = '2010-01-01'
	,EndDate = Convert(DATE,NULL)
INTO Shared.Member_MedicalAidProduct
FROM [shared].[Member] m
WHERE MedAidProductID IS NOT NULL


