USE [MedManage]
GO
/****** Object:  Table [shared].[NappiCodes]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[NappiCodes](
	[NappiID] [int] IDENTITY(1,1) NOT NULL,
	[NappiCode] [varchar](100) NULL,
	[Description] [varchar](250) NULL,
	[Units] [int] NULL,
	[Measure] [varchar](10) NULL,
	[Price1] [decimal](10, 2) NULL,
	[Price2] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_NappiCodes] PRIMARY KEY CLUSTERED 
(
	[NappiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
