USE [MedManage]
GO
/****** Object:  Table [shared].[CPT]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[CPT](
	[CPTID] [int] IDENTITY(1,1) NOT NULL,
	[Chapter] [varchar](255) NULL,
	[CODE] [varchar](20) NULL,
	[SHORT_DESCR] [varchar](255) NULL,
	[MEDIUM_DESCR] [varchar](255) NULL,
	[LONG_DESCR] [varchar](max) NULL,
 CONSTRAINT [PK_CPT] PRIMARY KEY CLUSTERED 
(
	[CPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
