USE [MedManage]
GO
/****** Object:  Table [shared].[PeriodInCountry]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[PeriodInCountry](
	[PeriodInCountryID] [int] IDENTITY(1,1) NOT NULL,
	[PeriodInCountry] [varchar](50) NULL,
 CONSTRAINT [PK_PeriodInCountry] PRIMARY KEY CLUSTERED 
(
	[PeriodInCountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
