USE [MedManage]
GO
/****** Object:  Table [shared].[ServiceProvider]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[ServiceProvider](
	[ServiceProviderID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceProviderName] [varchar](300) NULL,
	[ServiceProviderSurname] [varchar](300) NULL,
	[ServiceProviderInitials] [varchar](10) NULL,
	[PracticeName] [varchar](200) NULL,
	[GroupPracticeNr] [varchar](300) NULL,
	[PracticeNr] [varchar](300) NULL,
	[NoOfPartners] [int] NULL,
	[ServiceArea] [varchar](200) NULL,
	[SpecialityID] [int] NULL,
	[IsHospital] [bit] NULL,
	[PracticeAddress1] [varchar](300) NULL,
	[PracticeAddress2] [varchar](300) NULL,
	[PracticeAddress3] [varchar](300) NULL,
	[PracticeAddress4] [varchar](300) NULL,
	[PracticeAddressCode] [varchar](300) NULL,
	[PracticePAddress1] [varchar](300) NULL,
	[PracticePAddress2] [varchar](300) NULL,
	[PracticePAddress3] [varchar](300) NULL,
	[PracticePAddress4] [varchar](300) NULL,
	[PracticePAddressCode] [varchar](300) NULL,
	[PhoneNumber] [varchar](100) NULL,
	[FaxNumber] [varchar](100) NULL,
	[EmailAddress] [varchar](300) NULL,
	[LanguageID] [int] NULL,
	[CountryID] [int] NULL,
	[BankName] [varchar](200) NULL,
	[BankBranch] [varchar](200) NULL,
	[BankBranchCode] [varchar](200) NULL,
	[BankAccountType] [varchar](200) NULL,
	[BankAccountNumber] [varchar](200) NULL,
	[UserID] [varchar](200) NULL,
	[TariffStructureID] [varchar](3) NULL,
	[TariffInclVAT] [bit] NULL,
	[Visible] [bit] NULL,
 CONSTRAINT [PK_ServiceProvider] PRIMARY KEY CLUSTERED 
(
	[ServiceProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [shared].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProvider_Speciality] FOREIGN KEY([SpecialityID])
REFERENCES [shared].[Speciality] ([SpecialityID])
GO
ALTER TABLE [shared].[ServiceProvider] CHECK CONSTRAINT [FK_ServiceProvider_Speciality]
GO

--Added 1.0.7.8
ALTER TABLE [shared].[ServiceProvider]
	ADD CellNumber Varchar(50) NULL