USE [MedManage]
GO
/****** Object:  Table [shared].[MainClient_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[MainClient_Tariff](
	[MainClientID] [int] NOT NULL,
	[TariffNameID] [int] NOT NULL,
	[TariffPeriodName] [int] NULL
) ON [PRIMARY]

GO
