USE [MedManage]
GO
/****** Object:  Table [shared].[ServiceProvider_MainClient_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[ServiceProvider_MainClient_Tariff](
	[ServiceProviderID] [int] NOT NULL,
	[MainClientID] [int] NOT NULL,
	[TariffNameID] [int] NOT NULL
) ON [PRIMARY]

GO
