USE [MedManage]
GO
/****** Object:  Table [shared].[SystemData]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[SystemData](
	[SystemDataID] [int] IDENTITY(1,1) NOT NULL,
	[SystemCountryID] [int] NULL,
	[SystemUniqueIdentifier] [uniqueidentifier] NULL,
	[SystemEmailAddress] [varchar](300) NULL,
	[SMTPServer] [varchar](300) NULL,
	[SSL] [bit] NULL,
	[Username] [varchar](300) NULL,
	[Password] [varchar](300) NULL,
	[UserID] [varchar](200) NULL,
	[SpecialICU] [int] NULL,
	[ICU] [int] NULL,
	[HighCare] [int] NULL,
	[NeuroWard] [int] NULL,
	[InIsolation] [int] NULL,
	[GeneralWard] [int] NULL,
	[Paediatric] [int] NULL,
	[Maternity] [int] NULL,
	[DayCase] [int] NULL,
	[StepDown] [int] NULL,
	[Psychiatric] [int] NULL,
	[Address1] [varchar](200) NULL,
	[Address2] [varchar](200) NULL,
	[Address3] [varchar](200) NULL,
	[Address4] [varchar](200) NULL,
	[AddressCode] [varchar](200) NULL,
	[Email] [varchar](200) NULL,
	[Fax] [varchar](50) NULL,
	[Telephone] [varchar](50) NULL,
	[Website] [varchar](200) NULL,
	[Logo] [varbinary](max) NULL,
	[DefaultProviderID] [int] NULL,
 CONSTRAINT [PK_SystemData] PRIMARY KEY CLUSTERED 
(
	[SystemDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
