USE [MedManage]
GO
/****** Object:  Table [shared].[Member_ChronicIllness]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [shared].[Member_ChronicIllness](
	[MemberID] [int] NOT NULL,
	[ChronicIllnessID] [int] NOT NULL,
	[UserID] [varchar](200) NULL,
 CONSTRAINT [PK_Member_ChronicIllness] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[ChronicIllnessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [shared].[Member_ChronicIllness]  WITH CHECK ADD  CONSTRAINT [FK_Member_ChronicIllness_ChronicIllness] FOREIGN KEY([ChronicIllnessID])
REFERENCES [shared].[ChronicIllness] ([ChronicIllnessID])
GO
ALTER TABLE [shared].[Member_ChronicIllness] CHECK CONSTRAINT [FK_Member_ChronicIllness_ChronicIllness]
GO
ALTER TABLE [shared].[Member_ChronicIllness]  WITH CHECK ADD  CONSTRAINT [FK_Member_ChronicIllness_Member] FOREIGN KEY([MemberID])
REFERENCES [shared].[Member] ([MemberID])
GO
ALTER TABLE [shared].[Member_ChronicIllness] CHECK CONSTRAINT [FK_Member_ChronicIllness_Member]
GO
