USE [MedManage]
GO
/****** Object:  Table [Tariff].[TariffName]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Tariff].[TariffName](
	[TariffNameID] [int] NOT NULL,
	[TariffName] [varchar](200) NULL,
	[Visible] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
