USE [MedManage]
GO
/****** Object:  Table [Tariff].[ServiceProvider_Tariff]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tariff].[ServiceProvider_Tariff](
	[ServiceProvider_TariffID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceProviderID] [int] NOT NULL,
	[TariffNameID] [int] NULL,
	[MainClientID] [int] NULL,
	[StartActiveDate] [date] NULL,
	[EndActiveDate] [date] NULL,
	[TariffPeriodName] [int] NULL,
	[PercentageAdded] [decimal](10, 4) NULL
) ON [PRIMARY]

GO
