USE [MedManage]
GO
/****** Object:  Table [Tariff].[ServiceProvider_Tariff_Custom]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Tariff].[ServiceProvider_Tariff_Custom](
	[ServiceProvider_Tariff_CustomID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceProviderID] [int] NOT NULL,
	[BaseTariffID] [varchar](100) NULL,
	[MainClientID] [int] NULL,
	[TariffAmount] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
