USE [MedManage]
GO
/****** Object:  Table [Updates].[AppUpdates]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [Updates].[AppUpdates](
	[UpdateID] [int] IDENTITY(1,1) NOT NULL,
	[UpdatePath] [varchar](250) NULL,
	[UpdateComments] [varchar](max) NULL,
	[AppVersion] [varchar](50) NULL,
 CONSTRAINT [PK_AppUpdates] PRIMARY KEY CLUSTERED 
(
	[UpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
