USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseStatus_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_CaseStatus_Update] 
    @CaseStatusID int
    ,@CaseStatus varchar(200)
AS BEGIN
UPDATE CaseManagement.CaseStatus
SET   CaseStatus = @CaseStatus
WHERE CaseStatusID = @CaseStatusID

END








GO
