USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Bookings_Select_ByCaseID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE   [dbo].[usp_Bookings_Select_ByCaseID]
	@CaseID int
AS
BEGIN
	SELECT
	 spRefer.ServiceProviderName AS ReferServiceProviderName
	, spCurr.ServiceProviderName AS CurrServiceProviderName
	, spCurr.SpecialityID AS CurrSpecialityID
	, CaseManagement.Cases.AuthNumber
	, shared.Member.Surname
	, shared.Member.Name
	, shared.Member.MemberNumber
	, CaseManagement.Cases.CaseID
	, Member.MemberID
FROM shared.Member INNER JOIN
	CaseManagement.Cases ON shared.Member.MemberID = CaseManagement.Cases.MemberID AND 
	shared.Member.MemberID = CaseManagement.Cases.MemberID INNER JOIN
	shared.ServiceProvider AS spCurr ON CaseManagement.Cases.ReferToID = spCurr.ServiceProviderID INNER JOIN
	shared.ServiceProvider AS spRefer ON CaseManagement.Cases.ReferFromID = spRefer.ServiceProviderID
WHERE CaseID = @CaseID

END










GO
