USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Case_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Episode_Case_Insert]
    @CaseID int
    ,@EpisodeID int
    ,@UserID varchar(200)
    ,@DateCreated date
AS BEGIN
INSERT INTO CaseManagement.Episode_Case
VALUES(@EpisodeID
,@CaseID
,@DateCreated
,@UserID
)
END








GO
