USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Case_Select_ByEpisodeID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Episode_Case_Select_ByEpisodeID] 
@EpisodeID int
AS BEGIN

SELECT 
m.Name
,Surname
,DateOfBirth
,EpisodeDescription
,ec.EpisodeID
,CaseID
FROM CaseManagement.Episode_Case ec
	INNER JOIN CaseManagement.Episode e
		ON e.EpisodeID = ec.EpisodeID
	INNER JOIN Shared.Member m
		ON m.MemberID = e.MemberID
WHERE ec.EpisodeID = @EpisodeID
END






GO
