USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Changed 1.0.7.9
ALTER PROCEDURE [dbo].[usp_Case_Billing_Update] 
    @Case_BillingID int
    ,@CaseID int
    ,@ServiceProviderID int
    ,@AccountDate date
	,@AccountToDate date
    ,@AccountNumber varchar(100)
    ,@DateReceived date
	,@Submitted bit
	,@DateSubmitted date
	,@Reported bit
	,@DateReported date
    ,@ReceivedByName varchar(50)
	,@PatientName varchar(50)
	,@PatientInitials varchar(50)
	,@PatientSurname varchar(50)
    ,@AmountDue decimal(10,2)
	,@Discount decimal(10,2)
	,@Penalty decimal(10,2)
    ,@DatePaid date
    ,@Remittance varchar(50)
    ,@Amount decimal(10,2)
	,@BillingStatusID INT
    ,@DateInserted datetime2(7)
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Case_Billing
SET   CaseID = @CaseID
	,ServiceProviderID = @ServiceProviderID
    ,AccountDate = @AccountDate
	,AccountToDate = @AccountToDate
    ,AccountNumber = @AccountNumber
    ,DateReceived = @DateReceived
	,Submitted = @Submitted
	,DateSubmitted = @DateSubmitted
	,Reported = @Reported
	,DateReported = @DateReported
    ,ReceivedByName = @ReceivedByName
	,PatientName = @PatientName
	,PatientInitials = @PatientInitials
	,PatientSurname = @PatientSurname
    ,AmountDue = @AmountDue
	,Discount = @Discount
	,Penalty = @Penalty
    ,DatePaid = @DatePaid
    ,Remittance = @Remittance
    ,Amount = @Amount
	,BillingStatusID = @BillingStatusID
    ,DateInserted = @DateInserted
    ,UserID = @UserID
WHERE Case_BillingID = @Case_BillingID

END



GO
