USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_FacilityType_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE  [dbo].[usp_Case_FacilityType_Select] 
@CaseID int
AS BEGIN
SELECT FacilityType = FacilityType + CASE WHEN ISNULL(FacilityTypeCode,'') <> '' THEN '-'+ISNULL(FacilityTypeCode,'') ELSE '' END
	, DateAdmitted
	, DateDischarged
	, LOS
	, MinutesOnVentilator
	, Comments
	, FacilityTypeCode
	, cf.FacilityTypeID
	, CaseID
	, cf.UserID
	, ID = CaseID_FacilityTypeID
FROM CaseManagement.Case_FacilityType cf
	INNER JOIN shared.FacilityType ft ON ft.FacilityTypeID = cf.FacilityTypeID
WHERE CaseID = @CaseID
ORDER BY DateAdmitted DESC
END






GO
