USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MarritalStatus_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MarritalStatus_Insert]
    @MarritalStatus varchar(50)
AS BEGIN
INSERT INTO shared.MarritalStatus
VALUES(@MarritalStatus
)END








GO
