USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Update_Tariff]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_Update_Tariff]
    @TariffID int
    ,@Tariff decimal(10,2)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.Tariff
SET Tariff = @Tariff
    ,UserID = @UserID
WHERE TariffID = @TariffID

END







GO
