USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Case_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[usp_Episode_Case_Delete] 
    @CaseID int
    ,@EpisodeID int
AS BEGIN
DELETE FROM CaseManagement.Episode_Case
WHERE CaseID = @CaseID
    AND EpisodeID = @EpisodeID
END








GO
