USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_NappiCodes_Select_ByNappiCode_Description_Date]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_NappiCodes_Select_ByNappiCode_Description_Date]
    @NappiCode Varchar(100)
    ,@Description Varchar(250)
    ,@Date Date
AS BEGIN

SELECT NappiCode
	, [Description]
	, Units
	, Measure
	, Price1
	, Price2
	, StartDate
	, EndDate
	, NappiID
FROM shared.NappiCodes
WHERE NappiCode LIKE '%' + @NappiCode + '%'
	AND [Description] LIKE '%' + @Description + '%'
	AND @Date BETWEEN StartDate AND EndDate

END









GO
