USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Exclusion_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Exclusion_Update] 
    @ExclusionID int
    ,@Exclusion varchar(300)
    ,@ExclusionDescription varchar(1000)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.Exclusion
SET   Exclusion = @Exclusion
    ,ExclusionDescription = @ExclusionDescription
    ,UserID = @UserID
WHERE ExclusionID = @ExclusionID

END








GO
