USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_CPT_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_CPT_Update] 
    @CaseID int
    ,@CPTID int
    ,@DateOfProcedure date
    ,@PrimaryCode bit
    ,@SecondaryCode bit
    ,@DateInserted date
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Case_CPT
SET   DateOfProcedure = @DateOfProcedure
    ,PrimaryCode = @PrimaryCode
    ,SecondaryCode = @SecondaryCode
    ,DateInserted = @DateInserted
    ,UserID = @UserID
WHERE CaseID = @CaseID
    AND CPTID = @CPTID

END








GO
