USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_Select_ByFilters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Member_Select_ByFilters] 
    @Surname Varchar(200)
    ,@Name Varchar(200)
    ,@MemberNumber Varchar(200)
    ,@PassportNumber Varchar(200)
    ,@IDNumber Varchar(200)
    ,@DateOfBirth date
    ,@MainClientID int
AS BEGIN

if @DateOfBirth <> CONVERT(Date,GetDate())
	BEGIN
		SELECT MemberNumber
			,Title
			,Surname
			,Initials
			,Name
			,IDNumber
			,PassportNumber
			,PassportExpiryDate
			,PeriodInCountryID
			,DateOfBirth
			,GenderID
			,HasMedicalAid
			,m.MedicalAidID
			,DateOfBenefit
			,DateJoined
			,Suspended
			,DateSuspended
			,SuspendedReasonID
			,MedicalAidExhausted
			,DateMedicalAidExhausted
			,WaitingPeriodApplicable
			,MarritalStatusID
			,EmployerCountryID
			,EmployerAddress
			,EmployerAddressCode
			,EmployerPhoneNumber
			,Pensioner
			,MemberStatusID
			,MemberCountryID
			,MemberAddress1
			,MemberAddress2
			,MemberAddress3
			,MemberAddressCode
			,MemberPhoneNumber
			,MemberCellNumber
			,NextOfKinName
			,NextOfKinRelationship
			,NextOfKinContactNumber
			,MemberLanguageID
			,MemberRaceID
			,MemberDependents
			,FundReinstated
			,FundReinstatedDate
			,Deceased
			,DeceasedDate
			,MemberID
			,m.UserID
			,MedAidProductID = ISNULL(MedAidProductID,1)
			,MBOD_RMA
		FROM shared.Member m LEFT JOIN shared.Title ON m.TitleID = Title.TitleID
			LEFT JOIN Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID
		WHERE Surname LIKE '%' + @Surname + '%'
			AND Name LIKE '%' + @Name + '%'
			AND MemberNumber LIKE '%' + @MemberNumber + '%'
			AND ISNULL(PassportNumber,'') LIKE '%' + @PassportNumber + '%'
			AND IDNumber LIKE '%' + @IDNumber + '%'
			AND DateOfBirth = @DateOfBirth
			AND ma.MainClientID = @MainClientID
			
		END
	ELSE
	BEGIN
		SELECT MemberNumber
			,Title
			,Surname
			,Initials
			,Name
			,PassportNumber
			,PassportExpiryDate
			,PeriodInCountryID
			,DateOfBirth
			,GenderID
			,HasMedicalAid
			,m.MedicalAidID
			,DateOfBenefit
			,DateJoined
			,Suspended
			,DateSuspended
			,MedicalAidExhausted
			,DateMedicalAidExhausted
			,WaitingPeriodApplicable
			,MarritalStatusID
			,EmployerCountryID
			,EmployerAddress
			,EmployerAddressCode
			,EmployerPhoneNumber
			,Pensioner
			,MemberStatusID
			,MemberCountryID
			,MemberAddress1
			,MemberAddress2
			,MemberAddress3
			,MemberAddressCode
			,MemberPhoneNumber
			,MemberCellNumber
			,NextOfKinName
			,NextOfKinRelationship
			,NextOfKinContactNumber
			,MemberLanguageID
			,MemberRaceID
			,MemberDependents
			,FundReinstatedDate
			,MemberID
			,m.UserID
			,MedAidProductID = ISNULL(MedAidProductID,1)
			,MBOD_RMA
		FROM shared.Member m LEFT JOIN shared.Title ON m.TitleID = Title.TitleID
			LEFT JOIN Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID
		WHERE Surname LIKE '%' + @Surname + '%'
			AND Name LIKE '%' + @Name + '%'
			AND MemberNumber LIKE '%' + @MemberNumber + '%'
			AND ISNULL(PassportNumber,'') LIKE '%' + @PassportNumber + '%'
			AND IDNumber LIKE '%' + @IDNumber + '%'
			AND ma.MainClientID = @MainClientID
	END
END











GO
