USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseNote_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8
ALTER PROCEDURE  [dbo].[usp_CaseNote_Select] 
@CaseID int
AS BEGIN
SELECT CaseNote
	,InterimAmount
	,CaseNumber
    ,UserID
    ,DateCreated
    ,CaseID
    ,CaseNoteID
FROM CaseManagement.CaseNote
WHERE CaseID = @CaseID
ORDER BY CaseID, DateCreated desc,CaseNoteID DESC
END

GO
