USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseComment_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE  [dbo].[usp_CaseComment_Insert]
    @CaseComment varchar(MAX)
    ,@UserID varchar(200)
    ,@DateCreated datetime2(7)
    ,@CaseID int
AS BEGIN
INSERT INTO CaseManagement.CaseComment
VALUES(@CaseComment
    ,@UserID
    ,@DateCreated
    ,@CaseID
)END










GO
