USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Title_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Title_Select] 
   -- @GenderID int
AS BEGIN
SELECT TitleID
	, Title
FROM shared.Title
--WHERE GenderID = @GenderID
END








GO
