USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_InsertLine]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[usp_Tariff_InsertLine]
	@BaseTariffID VarchaR(100)
    ,@TariffNameID int
	,@TariffAmount Decimal(10,2)
	,@Metric Varchar(10)
	,@Quantity Decimal(5,1)
    ,@StartDate date
    ,@EndDate date
    ,@UserID Varchar(200)
    ,@TariffPeriodName Varchar(4)
AS BEGIN
	INSERT INTO shared.Tariff (BaseTariffID, TariffNameID, TariffAmount, Metric, Quantity, StartDate, EndDate, UserID, TariffPeriodName)
		VALUES(@BaseTariffID
				, @TariffNameID
				, @TariffAmount
				, @Metric
				, @Quantity
				, @StartDate
				, @EndDate
				, @UserID
				, @TariffPeriodName
				)
END









GO
