USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Exclusion_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MedicalAid_Exclusion_Delete] 
    @MedicalAidID int
    ,@BaseTariffID varchar(200)
    ,@UserID varchar(200)
AS BEGIN
DELETE FROM shared.MedicalAid_Exclusion
WHERE MedicalAidID = @MedicalAidID
    AND BaseTariffID = @BaseTariffID
END








GO
