USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChronicIllness_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_ChronicIllness_Update] 
    @ChronicIllnessID int
    ,@ChronicIllnessName varchar(300)
    ,@ChronicIllnessDescription varchar(1000)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.ChronicIllness
SET   ChronicIllnessName = @ChronicIllnessName
    ,ChronicIllnessDescription = @ChronicIllnessDescription
    ,UserID = @UserID
WHERE ChronicIllnessID = @ChronicIllnessID

END








GO
