USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_FacilityType_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_FacilityType_Select] 
    --@TariffID int
AS BEGIN
SELECT FacilityTypeID
	, FacilityType
FROM shared.FacilityType
--WHERE TariffID = @TariffID
END








GO
