USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_FacilityType_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_Case_FacilityType_Update] 
     @FacilityTypeID int
    ,@CaseID int
    ,@DateAdmitted DateTime2(0)
    ,@DateDischarged DateTime2(0)
    ,@LOS Decimal(10,1)
    ,@FacilityTypeCode Varchar(10)
    ,@MinutesOnVentilator int
    ,@Comments Varchar(500)
    ,@DateInserted date
    ,@UserID varchar(100)
    ,@ID int
AS BEGIN
UPDATE    CaseManagement.Case_FacilityType
SET DateDischarged = @DateDischarged
	, LOS = @LOS
	, FacilityTypeCode = @FacilityTypeCode
	, MinutesOnVentilator = @MinutesOnVentilator
	, Comments = @Comments
	, DateInserted = @DateInserted
	, UserID = @UserID
	, FacilityTypeID = @FacilityTypeID
    , CaseID = @CaseID
    , DateAdmitted = @DateAdmitted
WHERE CaseID_FacilityTypeID = @ID
    

END









GO
