USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_UpdateToPaid]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_UpdateToPaid] 
    @Case_BillingID int
    ,@Amount decimal(10,2)
	,@DatePaid Date
	,@Comments Varchar(350)
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Case_Billing
SET  Amount = @Amount
	,BillingStatusID = 2
	,DatePaid = @DatePaid
    ,UserID = @UserID
WHERE Case_BillingID = @Case_BillingID

if @Comments != ''
INSERT INTO [CaseManagement].[Case_Billing_Comment]
		(Case_BillingID, Comment, DateInserted, UserID)
Values(@Case_BillingID,@Comments, GETDATE(),@UserID)

END

GO
