USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseNote_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_CaseNote_Delete] 
    @CaseNoteID int
AS BEGIN
DELETE FROM CaseManagement.CaseNote
WHERE CaseNoteID = @CaseNoteID
END








GO
