USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseStatus_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_CaseStatus_Insert]
    @CaseStatus varchar(200)
AS BEGIN
INSERT INTO CaseManagement.CaseStatus
VALUES(@CaseStatus
)END








GO
