USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_UpdateRemittanceNumber]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_UpdateRemittanceNumber] 
    @Case_BillingID int
    ,@Remittance Varchar(20)
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Case_Billing
SET  Remittance = @Remittance
    ,UserID = @UserID
WHERE Case_BillingID = @Case_BillingID

END

GO
