USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Exclusion_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MedicalAid_Exclusion_Update] 
    @MedicalAidID int
    ,@TariffCode varchar(200)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.MedicalAid_Exclusion
SET   MedicalAidID = @MedicalAidID
    ,BaseTariffID = @TariffCode
    ,UserID = @UserID

END








GO
