USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_SelectPeriodName_ByTariffNameID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_SelectPeriodName_ByTariffNameID] 
    @TariffNameID int
AS BEGIN

	SELECT DISTINCT TariffPeriodName
	FROM shared.Tariff
	WHERE TariffNameID = @TariffNameID
--WHERE TariffID = @TariffID
END








GO
