USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Country_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Country_Update] 
    @CountryID int
    ,@CountryName varchar(50)
    ,@CountryISOCode char(3)
    ,@CountryCurrencyCode char(3)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.Country
SET   CountryName = @CountryName
    ,CountryISOCode = @CountryISOCode
    ,CountryCurrencyCode = @CountryCurrencyCode
    ,UserID = @UserID
WHERE CountryID = @CountryID

END








GO
