USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MainClient_UpdateImage]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE   [dbo].[usp_MainClient_UpdateImage] 
   @Logo varbinary(max)
	,@MainClientID int
AS BEGIN

UPDATE [shared].[MainClient]
SET [MainClientLogo] = @Logo
WHERE MainClientID = @MainClientID

END









GO
