USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE  [dbo].[usp_Member_Select] 
    @MemberID int
	,@Date Date
AS BEGIN
SELECT m.MemberID
    ,MemberNumber
    ,TitleID
    ,Surname
    ,Initials
    ,Name
    ,IDNumber
    ,PassportNumber
    ,PassportExpiryDate
    ,PeriodInCountryID
    ,DateOfBirth
    ,GenderID
    ,HasMedicalAid
    ,m.MedicalAidID
    ,DateOfBenefit
    ,DateJoined
    ,Suspended
    ,DateSuspended
    ,SuspendedReasonID
    ,MedicalAidExhausted
    ,DateMedicalAidExhausted
    ,WaitingPeriodApplicable
    ,MarritalStatusID
    ,EmployerCountryID
    ,EmployerAddress
    ,EmployerAddressCode
    ,EmployerPhoneNumber
    ,Pensioner
    ,MemberStatusID
    ,MemberCountryID
    ,MemberAddress1
    ,MemberAddress2
    ,MemberAddress3
    ,MemberAddressCode
    ,MemberPhoneNumber
    ,MemberCellNumber
    ,NextOfKinName
    ,NextOfKinRelationship
    ,NextOfKinContactNumber
    ,MemberLanguageID
    ,MemberRaceID
    ,MemberDependents
    ,FundReinstated
    ,FundReinstatedDate
    ,Deceased
    ,DeceasedDate
    ,m.UserID
    ,ma.CasePrefix
	,MedAidProductID = ISNULL(map.MedAidProductID,1)
	,AllowServices = ISNULL(mp.AllowServices,1)
	,MBOD_RMA = ISNULL(m.MBOD_RMA,0)
FROM shared.Member m
INNER JOIN shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID
LEFT JOIN Shared.Member_MedicalAidProduct map
	ON m.MemberID = map.MemberID
		AND @Date BETWEEN map.StartDate AND ISNULL(map.EndDate,DATEADD(YEAR,1,GETDATE()))
LEFT JOIN Shared.MedicalAidProduct mp ON map.MedAidProductID = mp.MedAidProductID
WHERE m.MemberID = @MemberID
END

GO
