USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_SystemData_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_SystemData_Delete] 
    @SystemDataID int
AS BEGIN
DELETE FROM shared.SystemData
WHERE SystemDataID = @SystemDataID
END








GO
