USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_NappiCodes_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Case_NappiCodes_Select]
    @CaseID int
AS BEGIN

SELECT nc.Description
,nc.NappiCode
,nc.Price1
, cnc.Value
, cnc.Quantity
, nc.Measure
, nc.Units
, cnc.Dispensary
, cnc.Ward
, cnc.Theater
, cnc.TTO
, cnc.[0201]
, cnc.[Date]
, cnc.UserId
, cnc.CaseID_NappiID
, cnc.CaseID
, cnc.NappiID
FROM CaseManagement.Case_NappiCodes cnc
INNER JOIN shared.NappiCodes nc
	ON cnc.NappiID = nc.NappiID
WHERE cnc.CaseID = @CaseID

END









GO
