USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gender_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Gender_Update] 
    @GenderID int
    ,@GenderCode char(1)
    ,@GenderDescription varchar(20)
AS BEGIN
UPDATE shared.Gender
SET   GenderCode = @GenderCode
    ,GenderDescription = @GenderDescription
WHERE GenderID = @GenderID

END








GO
