USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Checklist_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_Case_Checklist_Select] 
@CaseID int
AS BEGIN

IF(SELECT Count(1) FROM CaseManagement.Case_Checklist WHERE CaseID = @CaseID) = 0
BEGIN
INSERT INTO CaseManagement.Case_Checklist
	SELECT 
		@CaseID
		,ChecklistTemplateID
		,0
		,''
		,GETDATE()
		,''
		,0
	FROM CaseManagement.ChecklistTemplate
END

SELECT ct.ChecklistPrompt
	,Checked
	,NotApplicable
    ,Comments
    ,UserID
    ,Date
    ,CaseID
    ,cc.ChecklistTemplateID
FROM CaseManagement.Case_Checklist cc
	INNER JOIN CaseManagement.ChecklistTemplate ct on cc.ChecklistTemplateID = ct.ChecklistTemplateID
WHERE CaseID = @CaseID
END








GO
