USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Comment_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE  [dbo].[usp_Case_Billing_Comment_Insert]
	@Case_BillingID int
	,@Comment Varchar(500)
	,@DateInserted DateTime2(7)
	,@UserID VarchaR(200)
AS BEGIN
INSERT INTO [CaseManagement].[Case_Billing_Comment]
(Case_BillingID, Comment, DateInserted, UserID)
VALUES(@Case_BillingID, @Comment, @DateInserted, @UserID)

END











GO
