USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_SpecialityID_TariffID_Select_ByServiceProviderID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 2013-07-06
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_SpecialityID_TariffID_Select_ByServiceProviderID]
	-- Add the parameters for the stored procedure here
	@ServiceProviderID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		sp.[ServiceProviderID]
		,[SpecialityID]
		,TariffNameID
	FROM [shared].[ServiceProvider] sp
		LEFT JOIN [shared].[ServiceProvider_Tariff] spt
			ON sp.ServiceProviderID = spt.ServiceProviderID
	WHERE sp.ServiceProviderID = @ServiceProviderID


END



GO
