USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseStatus_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_CaseStatus_Select] 
    --@CountryID int
AS BEGIN
SELECT CaseStatusID
	,CaseStatus
FROM CaseManagement.CaseStatus
--WHERE CountryID = @CountryID
END








GO
