USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChecklistTemplate_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_ChecklistTemplate_Select] 
    @ChecklistTemplateID int
AS BEGIN
SELECT ChecklistTemplateID
    ,ChecklistPrompt
FROM CaseManagement.ChecklistTemplate
WHERE ChecklistTemplateID = @ChecklistTemplateID
END








GO
