USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAidProduct_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_MedicalAidProduct_Select] 
  @MainClientID int = -1
AS BEGIN

SELECT DISTINCT MP.MedAidProductID
	, MP.MainClientID
	, MP.MedAidProductName
FROM shared.MedicalAidProduct MP
LEFT JOIN shared.MedicalAid MA ON MA.MainClientID = MP.MainClientID
WHERE  ISNULL(MP.MainClientID,@MainClientID) = @MainClientID
ORDER BY MedAidProductName

END









GO
