USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MemberNote_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MemberNote_Select]  
    @MemberID int
AS BEGIN
SELECT MemberNoteID
    ,MemberNote
    ,MemberID
    ,UserID
FROM shared.MemberNote
WHERE MemberID = @MemberID
END








GO
