USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_FacilityType_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_Case_FacilityType_Insert]
    @FacilityTypeID int
    ,@CaseID int
    ,@DateAdmitted DateTime2(0)
    ,@DateDischarged DateTime2(0)
    ,@LOS Decimal(10,1)
    ,@FacilityTypeCode Varchar(10)
    ,@MinutesOnVentilator int
    ,@Comments Varchar(500)
    ,@DateInserted date
    ,@UserID varchar(100)
    
AS BEGIN
INSERT INTO CaseManagement.Case_FacilityType
	(FacilityTypeID
	, CaseID
	, DateAdmitted
	, DateDischarged
	, LOS
	, FacilityTypeCode
	, MinutesOnVentilator
	, Comments
	, DateInserted
	, UserID)
VALUES(@FacilityTypeID
	, @CaseID
	, @DateAdmitted
	, @DateDischarged
	, @LOS
	, @FacilityTypeCode
	, @MinutesOnVentilator
	, @Comments
	, @DateInserted
	, @UserID
)

END









GO
