USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Episode_Update]
    @EpisodeID int
    ,@EpisodeDescription Varchar(MAX)
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Episode
SET EpisodeDescription = @EpisodeDescription
,UserID = @UserID
WHERE EpisodeID = @EpisodeID

END








GO
