USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_LinkedFile_SelectByEntityID_EntityType]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20130922
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_LinkedFile_SelectByEntityID_EntityType] 
	-- Add the parameters for the stored procedure here
	@EntityID int
	,@EntityType Varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [FileName], DateAdded, FilePath, UserID, LinkedFileID, EntityType, EntityID
FROM [Shared].[LinkedFile]
WHERE EntityID = @EntityID
	AND EntityType = @EntityType
ORDER BY [FileName]
	,[DateAdded]

END





GO
