USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_Audit_BillingAuditing]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_rpt_Audit_BillingAuditing]-- @StartDate,@EndDate,@UserID,@MainClientID
	@StartDate Date
	,@EndDate Date
	,@UserID Varchar(50)
	,@MainClientID int
AS
BEGIN

--SET @StartDate = '2015-01-01'
--SET @EndDate = '2015-02-01'
--SET @UserID = 'Carol'

	SELECT
		CaseID = CONVERT(INT,REPLACE(ID1, 'CaseID = ',''))
		,UserName
		,AmountUpdated = Convert(Date,EventTime)
		,FinalInvoiceAmount = NewValue
	INTO #Temp
	FROM [audit].CaseManagement_Audit a
		INNER JOIN [audit].CaseManagement_AuditDetail ad
			ON a.AuditID = ad.AuditID
	WHERE ObjectName = 'Cases'
	AND FieldName = 'FinalInvoiceAmount'
	AND a.EventTime BETWEEN @StartDate AND @EndDate
	AND OldValue IS NOT NULL
	AND UserName = @UserID
	ORDER BY ObjectName

	SELECT t.*
		,c.AdmissionDate
		,c.AccountNr
		,TariffAdded = tr.BaseTariffID
	FROM #Temp t
	INNER JOIN [CaseManagement].[Cases] c
		ON c.CaseID = t.CaseID
	LEFT JOIN Shared.Member m
		ON m.MemberID = c.MemberID
	LEFT JOIN shared.MedicalAid ma
		ON m.MedicalAidID = ma.MedicalAidID
	LEFT JOIN [Tariff].[Case_Tariff] ct
		ON t.CaseID = ct.CaseID
		AND ct.[DateInserted] BETWEEN @StartDate AND @EndDate 
		AND ct.UserID = @UserID
	LEFT JOIN [Tariff].[Tariff] tr
		ON ct.TariffID = tr.TariffID
	WHERE ma.MainClientID = @MainClientID

	--SELECT * FROM #TEMP

	DROP TABLE #Temp

END
GO
