USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_MainClient_Discount_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




  CREATE PROCEDURE  [dbo].[usp_ServiceProvider_MainClient_Discount_Insert]
	 @ServiceProviderID int
	 ,@Discount Decimal(10,2)
	AS

  IF(SELECT count(1) FROM [finance].[ServiceProvider_MainClient_Discount] WHERE ServiceProviderID = @ServiceProviderID) =0
  BEGIN
		INSERT INTO [finance].[ServiceProvider_MainClient_Discount]
		SELECT @ServiceProviderID
		,[MainClientID]
		,@Discount
		FROM [shared].[MainClient]
	END
	ELSE BEGIN
		UPDATE [finance].[ServiceProvider_MainClient_Discount]
		SET Discount = @Discount
		WHERE ServiceProviderID = @ServiceProviderID
	END



GO
