USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseComment_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE  [dbo].[usp_CaseComment_Update] 
    @CaseCommentID int
    ,@CaseComment varchar(MAX)
    ,@UserID varchar(200)
    ,@DateCreated datetime2(7)
AS BEGIN
UPDATE CaseManagement.CaseComment
SET   CaseComment = @CaseComment
    ,UserID = @UserID
    ,DateCreated = @DateCreated
WHERE CaseCommentID = @CaseCommentID


END










GO
