USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_Insert]
    @TariffName varchar(200)
    ,@PeriodName Varchar(4)
    ,@StartDate date
    ,@EndDate date
    ,@UserID Varchar(200)
AS BEGIN

IF (SELECT COUNT(1) FROM shared.TariffName WHERE TariffName = @TariffName) < 1
BEGIN
INSERT INTO shared.TariffName
SELECT @TariffName


INSERT INTO shared.Tariff (TariffNameID,StartDate,EndDate,BaseTariffID,UserID,Tariff,TariffPeriodName)
SELECT @@IDENTITY
	,@StartDate
	,@EndDate
	,BaseTariffID
	,@UserID
	,Tariff = 0
	,@PeriodName
FROM shared.BaseTariff
END

SELECT @@IDENTITY

END







GO
