USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_LinkedFile_SelectByCaseID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20130922
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Case_LinkedFile_SelectByCaseID] 
	-- Add the parameters for the stored procedure here
	@CaseID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT 
	[FileName]
	,[FileType]
	,[FilePath]
	,[DateAdded]
	,[CaseID]
	,[UserID]
	,[Case_LinkedFileID]
FROM [CaseManagement].[Case_LinkedFile]
WHERE CaseID = @CaseID
AND FileType = 'Case'

UNION

SELECT 
	[FileName]
	,[FileType]
	,[FilePath]
	,[DateAdded]
	,[CaseID]
	,[UserID]
	,[Case_LinkedFileID]
FROM [CaseManagement].[Case_LinkedFile]
WHERE MemberID = (Select MemberID from CaseManagement.Cases WHERE CaseID = @CaseID)
AND FileType = 'Member'
ORDER BY [FileName]
	,[DateAdded]

END






GO
