USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Checklist_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_Case_Checklist_Update] 
    @CaseID int
    ,@ChecklistTemplateID int
    ,@Checked bit
    ,@UserID varchar(200)
    ,@Date datetime2(7)
    ,@Comments varchar(MAX)
    ,@NotApplicable bit
AS BEGIN

if (SELECT COUNT(1) FROM CaseManagement.Case_Checklist
	WHERE Checked = @Checked
		AND Comments = @Comments
		AND NotApplicable = @NotApplicable
		AND CaseID = @CaseID
		AND ChecklistTemplateID = @ChecklistTemplateID) <> 1
BEGIN
	UPDATE CaseManagement.Case_Checklist
	SET   Checked = @Checked
		,UserID = @UserID
		,Date = @Date
		,Comments = @Comments
		,NotApplicable = @NotApplicable
	WHERE CaseID = @CaseID
		AND ChecklistTemplateID = @ChecklistTemplateID
END
    

END








GO
