USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Select_Distinct_ByHospitalType]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Tariff_Select_Distinct_ByHospitalType]-- 57
    @HospitalTypeID int
AS BEGIN
SELECT Distinct bt.TariffCode
	,bt.BaseTariffID
	,TariffDescription = bt.TariffCode + ' - ' +  bt.TariffDescription
FROM shared.BaseTariff bt 
WHERE bt.GroupPracticeNr = @HospitalTypeID
ORDER BY bt.TariffCode + ' - ' +  bt.TariffDescription
END


GO
