USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_ByRemittance]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Cases_Select_ByRemittance] --'001'
	@Remittance Varchar(50)
AS BEGIN

WITH NumberOfInvoices AS 
	(
		SELECT AccountNr, ReferToID, COUNT(AccountNr) NumberOfAccounts
		FROM CaseManagement.Cases
		GROUP BY AccountNr, ReferToID
	)
SELECT c.CaseID
	, bs.BillingStatus
	, cb.Remittance
	, c.AuthNumber
	, c.AccountNr
	, c.[FinalInvoiceAmount]
	, stat.CaseStatus
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, c.[HasBooking]
	, CurrentPractice = rto.PracticeName
	, rto.ServiceProviderName
	, rfrom.ServiceProviderName AS ReferFrom
	, c.AdmissionDate
	, c.DischargeDate
	, AdmissionDateFY = CASE WHEN c.AdmissionDate < '2011-04-01' THEN 'PRIOR'
								WHEN DATEPART(MONTH,c.AdmissionDate) IN (4,5,6,7,8,9,10,11,12) THEN CONVERT(VARCHAR(10),DATEPART(YEAR,c.AdmissionDate) +1)
								ELSE CONVERT(VARCHAR(10),DATEPART(YEAR,c.AdmissionDate))
								END
	, ma.MedicalAidName
	, map.MedAidProductName
	, Address1 = rto.PracticeAddress1
	, Address2 = rto.PracticeAddress2
	, Address3 = rto.PracticeAddress3
	, Address4 = rto.PracticeAddress4
	, AddressCode = rto.PracticeAddressCode
	, ReferringPractice = rfrom.PracticeNr + ' ' + rfrom.PracticeName
	, refersp.Speciality
	, m.MBOD_RMA
	, c.[ChangeToCaseDate]
	, cb.Case_BillingID
	, bs.BillingStatusID
	, n.NumberOfAccounts
FROM CaseManagement.Cases AS c INNER JOIN
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID LEFT JOIN
  Shared.MainClient mc ON mc.MainClientID = ma.MainClientID LEFT JOIN
  shared.MedicalAidProduct map ON map.MedAidProductID = ISNULL(M.MedAidProductID,1) LEFT JOIN
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  shared.Speciality refersp ON refersp.SpecialityID = rfrom.SpecialityID LEFT JOIN
  CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN
  [finance].[Remittance] r ON r.CaseID = c.CaseID LEFT JOIN 
  [CaseManagement].[Case_Billing] cb ON cb.CaseID = c.CaseID LEFT JOIN 
  [finance].[BillingStatus] bs ON bs.BillingStatusID = cb.BillingStatusID LEFT JOIN 
  NumberOfInvoices n ON n.AccountNr = c.AccountNr
	AND n.ReferToID = c.ReferToID
WHERE cb.Remittance = @Remittance
END


GO
