USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE   [dbo].[usp_MedicalAid_Update] 
	@MainClientID	int
    ,@MedicalAidID int
    ,@MedicalAidName varchar(200)
    ,@MedicalAidInitiationDate date
    ,@MedicalAidReinstatedDate date
    ,@MedicalAidTerminatedDate date
    ,@CasePrefix Char(3)
    ,@ReportTemplate varchar(200)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.MedicalAid
SET  MainClientID = @MainClientID 
	,MedicalAidName = @MedicalAidName
    ,MedicalAidInitiationDate = @MedicalAidInitiationDate
    ,MedicalAidReinstatedDate = @MedicalAidReinstatedDate
    ,MedicalAidTerminatedDate = @MedicalAidTerminatedDate
    ,CasePrefix = @CasePrefix
    ,ReportTemplate = @ReportTemplate
    ,UserID = @UserID
WHERE MedicalAidID = @MedicalAidID

END









GO
