USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_ICD_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_ICD_Delete] 
    @CaseID int
    ,@ICDID int
    ,@UserID varchar(200)
AS BEGIN
DELETE FROM CaseManagement.Case_ICD
WHERE CaseID = @CaseID
    AND ICDID = @ICDID
END








GO
