USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_ICD_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_ICD_Insert]
    @CaseID int
    ,@ICDID int
    ,@DateOfProcedure date
    ,@PrimaryCode bit
    ,@SecondaryCode bit
    ,@CoMorbidityCode bit
    ,@DateInserted date
    ,@UserID varchar(200)
AS BEGIN

IF (SELECT ICDID 
		FROM CaseManagement.Case_ICD
		WHERE CaseID = @CaseID
			AND ICDID = @ICDID) IS NOT NULL
	BEGIN
		UPDATE CaseManagement.Case_ICD
		SET   DateOfProcedure = @DateOfProcedure
			,PrimaryCode = @PrimaryCode
			,SecondaryCode = @SecondaryCode
			,CoMorbidityCode = @CoMorbidityCode
			,DateInserted = @DateInserted
			,UserID = @UserID
		WHERE CaseID = @CaseID
			AND ICDID = @ICDID
	END
ELSE
	BEGIN
		INSERT INTO CaseManagement.Case_ICD
		VALUES(@CaseID
			,@ICDID
			,@DateOfProcedure
			,@PrimaryCode
			,@SecondaryCode
			,@CoMorbidityCode
			,@DateInserted
			,@UserID
		)
	END
	


END








GO
