USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Race_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Race_Update] 
    @RaceID int
    ,@Race varchar(100)
AS BEGIN
UPDATE shared.Race
SET   Race = @Race
WHERE RaceID = @RaceID

END








GO
