USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_CaseNote_SelectLastNote_CaseID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

ALTER PROCEDURE   [dbo].[usp_rpt_CaseNote_SelectLastNote_CaseID] 
    @CaseID int
AS BEGIN

SELECT CaseNote = Note
	,[IncludeDischargeForm]
	,[IncludeReferralLetter]
FROM CaseManagement.CaseLetterNote
WHERE CaseID = @CaseID

END





GO
