USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Tariff_Custom_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 2013-07-06
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_ServiceProvider_Tariff_Custom_Insert]
	-- Add the parameters for the stored procedure here
	@ServiceProviderID int
           --,@TariffNameID int
           ,@TariffID int
           ,@TariffAmount Decimal(10,2)
		   ,@MainClientID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(Select(1) from [shared].[ServiceProvider_Tariff_Custom]
		WHERE [ServiceProviderID] = @ServiceProviderID
           AND [TariffID] = @TariffID
		   AND MainClientID = @MainClientID
		   ) IS NULL
	BEGIN
		INSERT INTO [shared].[ServiceProvider_Tariff_Custom]
			   ([ServiceProviderID]
			   ,[TariffID]
			   ,[TariffAmount]
			   ,MainClientID)
		 VALUES
			   (@ServiceProviderID
			   ,@TariffID
			   ,@TariffAmount
			   ,@MainClientID)
	END
	ELSE BEGIN
		UPDATE [shared].[ServiceProvider_Tariff_Custom]
		SET [TariffAmount] = @TariffAmount
		WHERE [ServiceProviderID] = @ServiceProviderID
			AND [TariffID] = @TariffID
			AND MainClientID = @MainClientID
	END
END




GO
