USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_LinkedFile_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20141110
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_LinkedFile_Insert] 
	-- Add the parameters for the stored procedure here
	@EntityID int
	, @EntityType varchar(50)
	, @FilePath Varchar(MAX)
	, @FileName Varchar(200)
	, @UserID Varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO [Shared].[LinkedFile]
           ([EntityID]
		   ,[EntityType]
           ,[FilePath]
           ,[FileName]
           ,[DateAdded]
           ,[UserID])
     VALUES
           (@EntityID
		   ,@EntityType
           ,@FilePath
           ,@FileName
           ,GetDate()
           ,@UserID)

END





GO
