USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Changed 1.0.7.9
ALTER PROCEDURE [dbo].[usp_Case_Billing_Insert]
    @CaseID int
	,@ServiceProviderID int
    ,@AccountDate date
	,@AccountToDate date
    ,@AccountNumber varchar(100)
    ,@DateReceived date
	,@Submitted bit
	,@DateSubmitted date
	,@Reported bit
	,@DateReported date
    ,@ReceivedByName varchar(50)
	,@PatientName varchar(50)
	,@PatientInitials varchar(50)
	,@PatientSurname varchar(50)
    ,@AmountDue decimal(10,2)
	,@Discount decimal(10,2)
	,@Penalty decimal(10,2)
    ,@DatePaid date
    ,@Remittance varchar(50)
    ,@Amount decimal(10,2)
	,@BillingStatusID int
    ,@DateInserted datetime2(7)
    ,@UserID varchar(200)
AS BEGIN
INSERT INTO CaseManagement.Case_Billing
VALUES(@CaseID
	,@ServiceProviderID
    ,@AccountDate
	,@AccountToDate
    ,@AccountNumber
    ,@DateReceived
	,@Submitted
	,@DateSubmitted
	,@Reported
	,@DateReported
    ,@ReceivedByName
    ,@AmountDue
	,@Discount
	,@Penalty
    ,@DatePaid
    ,@Remittance
    ,@Amount
	,@BillingStatusID
    ,@DateInserted
    ,@UserID
	,@PatientName
	,@PatientInitials
	,@PatientSurname
)END

SELECT MAX(Case_BillingID) FROM CaseManagement.Case_Billing

GO
