USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_ServiceProvider_Insert]
    @ServiceProviderName varchar(300)
    ,@ServiceProviderSurname varchar(300)
    ,@ServiceProviderInitials varchar(10)
    ,@PracticeName varchar(200)
    ,@GroupPracticeNr varchar(300)
    ,@PracticeNr varchar(300)
    ,@NoOfPartners int
    ,@ServiceArea varchar(200)
    ,@SpecialityID int
    ,@IsHospital bit
    ,@PracticeAddress1 varchar(300)
    ,@PracticeAddress2 varchar(300)
    ,@PracticeAddress3 varchar(300)
    ,@PracticeAddress4 varchar(300)
    ,@PracticeAddressCode varchar(300)
    ,@PracticePAddress1 varchar(300)
    ,@PracticePAddress2 varchar(300)
    ,@PracticePAddress3 varchar(300)
    ,@PracticePAddress4 varchar(300)
    ,@PracticePAddressCode varchar(300)
    ,@PhoneNumber varchar(100)
    ,@FaxNumber varchar(100)
    ,@EmailAddress varchar(300)
    ,@LanguageID int
    ,@CountryID int
    ,@BankName varchar(200)
    ,@BankBranch varchar(200)
    ,@BankBranchCode varchar(200)
    ,@BankAccountType varchar(200)
    ,@BankAccountNumber varchar(200)
    ,@UserID varchar(200)
	,@TariffStructureID Varchar(3)
	,@TariffInclVAT BIT
	,@Visible BIT
	,@CellNumber VARCHAR(50)
AS BEGIN
INSERT INTO shared.ServiceProvider
VALUES(@ServiceProviderName
    ,@ServiceProviderSurname
    ,@ServiceProviderInitials
    ,@PracticeName
    ,@GroupPracticeNr
    ,@PracticeNr
    ,@NoOfPartners
    ,@ServiceArea
    ,@SpecialityID
    ,@IsHospital
    ,@PracticeAddress1
    ,@PracticeAddress2
    ,@PracticeAddress3
    ,@PracticeAddress4
    ,@PracticeAddressCode
    ,@PracticePAddress1
    ,@PracticePAddress2
    ,@PracticePAddress3
    ,@PracticePAddress4
    ,@PracticePAddressCode
    ,@PhoneNumber
    ,@FaxNumber
    ,@EmailAddress
    ,@LanguageID
    ,@CountryID
    ,@BankName
    ,@BankBranch
    ,@BankBranchCode
    ,@BankAccountType
    ,@BankAccountNumber
    ,@UserID
	,@TariffStructureID
	,@TariffInclVAT
	,@Visible
	,@CellNumber
)

DECLARE @ServiceProviderID INT
SELECT @ServiceProviderID = MAX(ServiceProviderID) FROM Shared.ServiceProvider

INSERT INTO Tariff.[ServiceProvider_Tariff] (ServiceProviderID, TariffNameID, MainClientID, StartActiveDate, EndActiveDate, TariffPeriodName,PercentageAdded)
SELECT DISTINCT @ServiceProviderID
	,TariffNameID = CASE WHEN @TariffStructureID = 'GPH' THEN 63
						WHEN @TariffStructureID = 'BOK' THEN 64
						ELSE 62
					END
	,MainClientID
	,StartActiveDate
	,EndActiveDate
	,TariffPeriodName
	,PercentageAdded = CASE WHEN @TariffStructureID = 'GPH' THEN 0.00
							WHEN @TariffStructureID = 'BOK' THEN 0.00
							ELSE 92.00
						END
FROM Tariff.ServiceProvider_Tariff
WHERE ServiceProviderID = 0

--SELECT * FROM Tariff.ServiceProvider_Tariff 

SELECT @ServiceProviderID

END

GO
