USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Link_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_Link_Select]
   @Case int
AS BEGIN

SELECT CaseID = CASE WHEN ParentCase = @Case THEN ChildCase ELSE ParentCase END
INTO #C
FROM CaseManagement.Case_Link
WHERE ParentCase = @Case
	OR ChildCase = @Case

SELECT AuthNumber
	,Cases.CaseID
FROM CaseManagement.Cases
	INNER JOIN #C ON #C.CaseID = Cases.CaseID
	
DROP TABLE #C

END








GO
