USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Change 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_Cases_Update] 
    @CaseID int
    ,@AuthNumber varchar(50)
    ,@AccountNr varchar(50)
    ,@MemberID int
    ,@ReferToID int
    ,@ReferFromID int
    ,@AdmissionDate date
    ,@AdmissionTime time(7)
    ,@DischargeDate date
    ,@DischargeTime time(7)
    ,@AuthTypeID int
    ,@WCA_IOD bit
    ,@TotalLengthOfStay Decimal(10,2)
    ,@TotalAmount Decimal(10,2)
    ,@FinalInvoiceAmount Decimal(10,2)
    ,@FinalInvoiceAmountUpdated Varchar(200)
    ,@StatusID int
    ,@CaseDescription varchar(MAX)
    ,@UserID varchar(200)
    ,@Changes varchar(MAX)
    ,@Limits varchar(MAX)
    ,@Exclusions varchar(MAX)
	,@HasBooking bit
	,@ChangeToCaseDate DATETIME2(7)
	,@PenaltyPercentage DECIMAL(5,2)
AS BEGIN
UPDATE CaseManagement.Cases
SET   AuthNumber = @AuthNumber
    ,AccountNr = @AccountNr
    ,MemberID = @MemberID
    ,ReferToID = @ReferToID
    ,ReferFromID = @ReferFromID
    ,AdmissionDate = @AdmissionDate
    ,AdmissionTime = @AdmissionTime
    ,DischargeDate = @DischargeDate
    ,DischargeTime = @DischargeTime
    ,AuthTypeID = @AuthTypeID
    ,WCA_IOD = @WCA_IOD
    ,TotalLengthOfStay = @TotalLengthOfStay
    ,TotalAmount = @TotalAmount
    ,FinalInvoiceAmount = @FinalInvoiceAmount
    ,FinalInvoiceAmountUpdated = @FinalInvoiceAmountUpdated
    ,StatusID = @StatusID
    ,CaseDescription = @CaseDescription
    ,UserID = @UserID
    ,Changes = @Changes
    ,Limits = @Limits
    ,Exclusions = @Exclusions
	,[HasBooking] = @HasBooking
	,[ChangeToCaseDate] = @ChangeToCaseDate
	,PenaltyPercentage = @PenaltyPercentage
WHERE CaseID = @CaseID

END










GO
