USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Session_User_Case_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Session_User_Case_Insert]
    @UserID varchar(200)
    ,@CaseID int
AS BEGIN

IF (SELECT Count(1) FROM CaseManagement.Session_User_Case WHERE UserID = @UserID AND CaseID = @CaseID) > 0
BEGIN
	SELECT @UserID
END
ELSE BEGIN
	INSERT INTO CaseManagement.Session_User_Case
	SELECT @CaseID,@UserID
	
	SELECT @UserID
END



END








GO
