USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_BaseTariff_InsertCustom]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[usp_BaseTariff_InsertCustom] 
    @TariffCode Varchar(20)
    ,@SpecialityID int
    ,@TariffDescription Varchar(Max)
    ,@UserID Varchar(200)
AS BEGIN

DECLARE @BaseTariffID Varchar(20)
SELECT @BaseTariffID = CONVERT(VARCHAR,@SpecialityID) + '_' + @TariffCode

INSERT INTO [shared].[BaseTariff]
           (BaseTariffID
           ,[TariffCode]
           ,[SpecialityID]
           ,[TariffDescription]
           ,[UserID])
     VALUES
           (@BaseTariffID
           ,@TariffCode
           ,@SpecialityID
           ,@TariffDescription
           ,@UserID)

IF (SELECT COUNT(1) FROM shared.Tariff WHERE BaseTariffID = @BaseTariffID) = 0
BEGIN
	INSERT INTO shared.Tariff
	SELECT DISTINCT 
		@BaseTariffID
		,TariffNameID
		,0.00
		,'Qty'
		,1
		,StartDate
		,EndDate
		,@UserID
		,TariffPeriodName
	FROM shared.Tariff
END

SELECT @BaseTariffID

END









GO
