USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_Select_ExistingMemberNumber]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Member_Select_ExistingMemberNumber] 
    @MemberNumber Varchar(200)
    
AS BEGIN

	SELECT COUNT(1)
	FROM shared.Member 
	WHERE MemberNumber = @MemberNumber

END








GO
