USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_ChronicIllness_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Member_ChronicIllness_Select] 
AS BEGIN
SELECT MemberID
    ,ChronicIllnessID
    ,UserID
FROM shared.Member_ChronicIllness
END








GO
