USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseNote_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8
ALTER PROCEDURE  [dbo].[usp_CaseNote_Update] 
    @CaseNoteID int
    ,@CaseNote varchar(MAX)
    ,@UserID varchar(200)
	,@InterimAmount Decimal(10,2)
	,@CaseNumber Varchar(150)
    ,@DateCreated datetime2(7)
AS BEGIN
UPDATE CaseManagement.CaseNote
SET   CaseNote = @CaseNote
    ,UserID = @UserID
	,InterimAmount = @InterimAmount
	,Casenumber = @CaseNumber
    ,DateCreated = @DateCreated
WHERE CaseNoteID = @CaseNoteID


END










GO
