USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseLetterNote_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8
ALTER PROCEDURE   [dbo].[usp_CaseLetterNote_Insert]
    @CaseID INT
    ,@Note VARCHAR(MAX)
	,@IncludeDischargeForm bit
	,@IncludeReferralLetter bit = 0
AS BEGIN

IF (SELECT CaseID FROM CaseManagement.CaseLetterNote WHERE CaseID = @CaseID) IS NOT NULL
	BEGIN
		UPDATE CaseManagement.CaseLetterNote
		SET   Note = @Note
			,[IncludeDischargeForm] = @IncludeDischargeForm
			,[IncludeReferralLetter] = @IncludeReferralLetter
		WHERE CaseID = @CaseID
		
	END
ELSE
	BEGIN
		INSERT INTO CaseManagement.CaseLetterNote
			(Note,CaseID,IncludeDischargeForm,IncludeReferralLetter)
		VALUES (@Note,@CaseID,@IncludeDischargeForm,@IncludeReferralLetter)
		
	END



END










GO
