USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ProviderIDs_TreatmentDate_Select_ByCaseID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 2013-07-06
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_ProviderIDs_TreatmentDate_Select_ByCaseID]
	-- Add the parameters for the stored procedure here
	@CaseID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		sp.[ServiceProviderID]
		,[SpecialityID]
		,TariffNameID
		,[DischargeDate]
	FROM [CaseManagement].[Cases] c
		LEFT JOIN [shared].[ServiceProvider] sp
			ON sp.ServiceProviderID = c.ReferToID
		LEFT JOIN [shared].[ServiceProvider_Tariff] spt
			ON sp.ServiceProviderID = spt.ServiceProviderID
	WHERE CaseID = @CaseID


END




GO
