USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_SelectAccountNumbers_ByServiceProviderID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_SelectAccountNumbers_ByServiceProviderID] 
    @ServiceProviderID int
AS BEGIN

SELECT AccountNumber
FROM CaseManagement.Case_Billing
WHERE ServiceProviderID = @ServiceProviderID
	AND (CaseID = ''
		OR CaseID = '-1')

END

GO
