USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Language_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Language_Select] 
   -- @LanguageID int
AS BEGIN
SELECT LanguageID
    ,Language
FROM shared.Language
--WHERE LanguageID = @LanguageID
END








GO
