USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Bookings_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Bookings_Insert]
	@BookingID int
	,@TravelDate date
	,@TravelTime time(7)
	,@AppointmentDate date
	,@ReferringPracticeID int
	,@MemberID int
	,@CaseID int
	,@Discipline Varchar(500)
	,@Consultation bit
	,@Admission bit
	,@CurrentPracticeID int
	,@Hospital Varchar(500)
	,@Arrived bit
	,@TISCH varchar(500)
	,@Comments varchar(MAX)
	
AS BEGIN

IF (SELECT BookingID 
		FROM shared.Bookings
		WHERE BookingID = @BookingID) IS NOT NULL
	BEGIN
		UPDATE shared.Bookings
		SET TravelDate = @TravelDate
			, TravelTime = @TravelTime
			, AppointmentDate = @AppointmentDate
			, ReferringPracticeID = @ReferringPracticeID
			, MemberID = @MemberID
			, CaseID = @CaseID
			, Discipline = @Discipline
			, Consultation = @Consultation
			, Admission = @Admission
			, CurrentPracticeID = @CurrentPracticeID
			, Hospital = @Hospital
			, Arrived = @Arrived
			, TISCH = @TISCH
			, Comments = @Comments
			WHERE BookingID = @BookingID
			SELECT @BookingID
	END
ELSE
	BEGIN
		INSERT INTO shared.Bookings
		 VALUES
			   (@TravelDate
			   ,@TravelTime
			   ,@AppointmentDate
			   ,@ReferringPracticeID
			   ,@MemberID
			   ,@CaseID
			   ,@Discipline
			   ,@Consultation
			   ,@Admission
			   ,@CurrentPracticeID
			   ,@Hospital
			   ,@Arrived
			   ,@TISCH
			   ,@Comments)
		SELECT @@IDENTITY
	END
	


END








GO
