USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_SystemData_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_SystemData_Update] 
    @SystemDataID int
    ,@SystemCountryID int
	,@SystemUniqueIdentifier uniqueidentifier
	,@SystemEmailAddress varchar(300)
	,@SMTPServer varchar(300)
	,@SSL bit
	,@Username varchar(300)
	,@Password varchar(300)
	,@UserID varchar(200)
	,@SpecialICU int
	,@ICU int
	,@HighCare int
	,@NeuroWard int
	,@InIsolation int
	,@GeneralWard int
	,@Paediatric int
	,@Maternity int
	,@DayCase int
	,@StepDown int
	,@Psychiatric int
	,@Address1 varchar(200)
	,@Address2 varchar(200)
	,@Address3 varchar(200)
	,@Address4 varchar(200)
	,@AddressCode varchar(200)
	,@Email varchar(200)
	,@Fax varchar(50)
	,@Telephone varchar(50)
	,@Website varchar(200)
	,@Logo varbinary(max)
	,@DefaultProviderID int
AS BEGIN

UPDATE [shared].[SystemData]
SET [SystemCountryID] = @SystemCountryID
	,[SystemUniqueIdentifier] = CASE WHEN [SystemUniqueIdentifier] IS NULL THEN @SystemUniqueIdentifier ELSE [SystemUniqueIdentifier] END
	,[SystemEmailAddress] = @SystemEmailAddress
	,[SMTPServer] = @SMTPServer
	,[SSL] = @SSL
	,[Username] = @Username
	,[Password] = @Password
	,[UserID] = @UserID
	,[SpecialICU] = @SpecialICU
	,[ICU] = @ICU
	,[HighCare] = @HighCare
	,[NeuroWard] = @NeuroWard
	,[InIsolation] = @InIsolation
	,[GeneralWard] = @GeneralWard
	,[Paediatric] = @Paediatric
	,[Maternity] = @Maternity
	,[DayCase] = @DayCase
	,[StepDown] = @StepDown
	,[Psychiatric] = @Psychiatric
	,[Address1] = @Address1
	,[Address2] = @Address2
	,[Address3] = @Address3
	,[Address4] = @Address4
	,[AddressCode] = @AddressCode
	,[Email] = @Email
	,[Fax] = @Fax
	,[Telephone] = @Telephone
	,[Website] = @Website
	,[Logo] = @Logo
	,DefaultProviderID = @DefaultProviderID
WHERE SystemDataID = @SystemDataID

END








GO
