USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Checklist_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_Case_Checklist_Insert]
    @CaseID int
    ,@ChecklistTemplateID int
    ,@Checked bit
    ,@UserID varchar(200)
    ,@Date datetime2(7)
    ,@Comments varchar(MAX)
    ,@NotApplicable bit
AS BEGIN
INSERT INTO CaseManagement.Case_Checklist
VALUES(@CaseID
    ,@ChecklistTemplateID
    ,@Checked
    ,@UserID
    ,@Date
    ,@Comments
    ,@NotApplicable
)END








GO
