USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_ByMemberID_ExclCaseID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE  [dbo].[usp_Cases_Select_ByMemberID_ExclCaseID] 
    @MemberID int
    ,@CaseID int
AS BEGIN
SELECT AuthNumber
	,c.[HasBooking]
    ,AccountNr
    ,ChildCase = CONVERT(BIT,CASE WHEN cl.ChildCase IS NULL THEN 0 ELSE 1 END)
    ,AdmissionDate
    ,AdmissionTime = CONVERT(DATETIME,AdmissionTime)
    ,DischargeDate
    ,DischargeTime = CONVERT(DATETIME,DischargeTime)
    ,AuthTypeID
    ,WCA_IOD
    ,TotalLengthOfStay
    ,TotalAmount
    ,FinalInvoiceAmount
    ,FinalInvoiceAmountUpdated
    ,StatusID
    ,CaseDescription
    ,c.UserID
    ,Changes
    ,Limits
    ,Exclusions
    ,c.DateCreated
    ,c.CaseID
    ,MemberID
    ,ReferToID
    ,ReferFromID
	,c.[ChangeToCaseDate]
FROM CaseManagement.Cases c
	LEFT JOIN CaseManagement.Case_Link cl ON c.CaseID = cl.ChildCase
WHERE c.MemberID = @MemberID
AND CaseID <> @CaseID
ORDER BY c.CaseID DESC, c.DateCreated DESC
END











GO
