USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Country_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Country_Delete] 
    @CountryID int
AS BEGIN
DELETE FROM shared.Country
WHERE CountryID = @CountryID
END








GO
