USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_CPT_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_CPT_Delete] 
   @CaseID_CPTID int
    ,@UserID varchar(200)
AS BEGIN
DELETE FROM CaseManagement.Case_CPT
WHERE CaseID_CPTID = @CaseID_CPTID
END








GO
