USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Exclusion_Select_ByMedicalAid]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MedicalAid_Exclusion_Select_ByMedicalAid] 
	@MedicalAidID INT
AS BEGIN
SELECT s.Speciality
	,bt.TariffDescription
	,me.BaseTariffID
    ,me.UserID
    ,MedicalAidID
    
FROM shared.MedicalAid_Exclusion me
INNER JOIN shared.BaseTariff bt ON me.BaseTariffID = bt.BaseTariffID
INNER JOIN shared.Speciality s ON s.SpecialityID = bt.SpecialityID
WHERE MedicalAidID = @MedicalAidID
Order by Speciality,TariffDescription

END








GO
