USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[usp_Member_Insert]
    @MemberNumber varchar(200)
    ,@TitleID int
    ,@Surname varchar(300)
    ,@Initials varchar(50)
    ,@Name varchar(300)
    ,@IDNumber Varchar(300)
    ,@PassportNumber varchar(300)
    ,@PassportExpiryDate date
    ,@PeriodInCountryID int
    ,@DateOfBirth date
    ,@GenderID int
    ,@HasMedicalAid bit
    ,@MedicalAidID int
    ,@DateOfBenefit date
    ,@DateJoined date
    ,@Suspended bit
    ,@DateSuspended date
    ,@SuspendedReasonID int
    ,@MedicalAidExhausted bit
    ,@DateMedicalAidExhausted date
    ,@WaitingPeriodApplicable bit
    ,@MarritalStatusID int
    ,@EmployerCountryID int
    ,@EmployerAddress varchar(300)
    ,@EmployerAddressCode varchar(20)
    ,@EmployerPhoneNumber varchar(20)
    ,@Pensioner bit
    ,@MemberStatusID int
    ,@MemberCountryID int
    ,@MemberAddress1 varchar(500)
    ,@MemberAddress2 varchar(500)
    ,@MemberAddress3 varchar(500)
    ,@MemberAddressCode varchar(20)
    ,@MemberPhoneNumber varchar(300)
    ,@MemberCellNumber varchar(300)
    ,@NextOfKinName varchar(300)
    ,@NextOfKinRelationship varchar(300)
    ,@NextOfKinContactNumber varchar(300)
    ,@MemberLanguageID int
    ,@MemberRaceID int
    ,@MemberDependents varchar(1000)
    ,@FundReinstatedDate date
    ,@FundReinstated bit
    ,@Deceased bit
    ,@DeceasedDate Date
    ,@UserID varchar(200)
	,@MedAidProductID INT
	,@MBOD_RMA BIT = 0
AS BEGIN

INSERT INTO shared.Member
VALUES(@MemberNumber
    ,@TitleID
    ,@Surname
    ,@Initials
    ,@Name
    ,@IDNumber
    ,@PassportNumber
    ,@PassportExpiryDate
    ,@PeriodInCountryID
    ,@DateOfBirth
    ,@GenderID
    ,@HasMedicalAid
    ,@MedicalAidID
    ,@DateOfBenefit
    ,@DateJoined
    ,@Suspended
    ,@DateSuspended
    ,@SuspendedReasonID
    ,@MedicalAidExhausted
    ,@DateMedicalAidExhausted
    ,@WaitingPeriodApplicable
    ,@MarritalStatusID
    ,@EmployerCountryID
    ,@EmployerAddress
    ,@EmployerAddressCode
    ,@EmployerPhoneNumber
    ,@Pensioner
    ,@MemberStatusID
    ,@MemberCountryID
    ,@MemberAddress1
    ,@MemberAddress2
    ,@MemberAddress3
    ,@MemberAddressCode
    ,@MemberPhoneNumber
    ,@MemberCellNumber
    ,@NextOfKinName
    ,@NextOfKinRelationship
    ,@NextOfKinContactNumber
    ,@MemberLanguageID
    ,@MemberRaceID
    ,@MemberDependents
    ,@FundReinstated
    ,@FundReinstatedDate
    ,@Deceased
    ,@DeceasedDate
    ,@UserID
	,@MedAidProductID
	,@MBOD_RMA
)

SELECT @@IDENTITY

END










GO
