USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Exclusion_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Exclusion_Select] 
    --@ExclusionID int
AS BEGIN
SELECT ExclusionID
    ,Exclusion
    ,ExclusionDescription
    ,UserID
FROM shared.Exclusion
--WHERE ExclusionID = @ExclusionID
END








GO
