USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Select_ByFilters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_ServiceProvider_Select_ByFilters] 
    @ServiceProviderName Varchar(300)
    ,@ServiceProviderSurname Varchar(300)
    ,@PracticeName Varchar(300)
    ,@PracticeNr Varchar(300)
	,@Visible BIT = 1
AS BEGIN
SELECT PracticeNr
    ,PracticeName
    ,ServiceProviderName
    ,ServiceProviderSurname
    ,ServiceProviderInitials
	,Visible
    ,GroupPracticeNr
    ,NoOfPartners
    ,ServiceArea
    ,SpecialityID
    ,IsHospital
    ,PracticeAddress1
    ,PracticeAddress2
    ,PracticeAddress3
    ,PracticeAddress4
    ,PracticeAddressCode
    ,PracticePAddress1
    ,PracticePAddress2
    ,PracticePAddress3
    ,PracticePAddress4
    ,PracticePAddressCode
    ,PhoneNumber
    ,FaxNumber
    ,EmailAddress
	,CellNumber
    ,BankName
    ,BankBranch
    ,BankBranchCode
    ,BankAccountType
    ,BankAccountNumber
    ,LanguageID
    ,CountryID
    ,UserID
    ,ServiceProviderID
FROM shared.ServiceProvider
WHERE ServiceProviderName LIKE '%' + @ServiceProviderName + '%'
    AND ServiceProviderSurname LIKE '%' + @ServiceProviderSurname + '%'
    AND PracticeName LIKE '%' + @PracticeName + '%'
    AND PracticeNr LIKE '%' + @PracticeNr + '%'
	AND CASE WHEN @Visible = 0 THEN @Visible ELSE Visible END = @Visible
END









GO
