USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gender_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Gender_Select] 
   -- @GenderID int
AS BEGIN
SELECT GenderID
    ,GenderCode
    ,GenderDescription
FROM shared.Gender
--WHERE GenderID = @GenderID
END








GO
