USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Copy]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_Case_Copy] --32717,0,1,1,1,1,1,'SD'
	@CaseID int
	,@UseSameAuthNumber bit
	,@LinkToParentCase bit
	,@CopyICD10 bit
	,@CopyCPT bit
	,@CopyTariff bit
	,@CopyDaysInCare bit
	,@UserID Varchar(100)
AS BEGIN
	
	DECLARE @NewCaseID INT
	
	INSERT INTO CaseManagement.Cases
	SELECT 
		AuthNumber
		, AccountNr
		, MemberID
		, ReferToID
		, ReferFromID
		, AdmissionDate
		, AdmissionTime
		, DischargeDate
		, DischargeTime
		, AuthTypeID
		, WCA_IOD
		, TotalLengthOfStay
		, TotalAmount
		, FinalInvoiceAmount = 0
		, FinalInvoiceAmountUpdated = ''
		, StatusID = 1
		, CaseDescription
		, UserID = @UserID
		, Changes
		, Limits
		, Exclusions
		, DateCreated = GetDate()
		, [HasBooking]
		, [ChangeToCaseDate]
		, PenaltyPercentage
	FROM CaseManagement.Cases
	WHERE CaseID = @CaseID
	
	SELECT @NewCaseID = MAX(CaseID) FROM CaseManagement.Cases-- @@IDENTITY

	PRINT @NewCaseID
	
	IF @UseSameAuthNumber = 0
	BEGIN
		UPDATE CaseManagement.Cases
		SET AuthNumber = LEFT(AuthNumber,3) + RIGHT('00000000' + (CONVERT(Varchar,@NewCaseID)),7)
		WHERE CaseID = @NewCaseID
	END

	PRINT @NewCaseID
	
	IF (@LinkToParentCase = 1 OR @UseSameAuthNumber = 1)
	BEGIN --Where the original case is a parent case
		IF (SELECT COUNT(ChildCase) FROM CaseManagement.Case_Link WHERE ParentCase = @CaseID) IS NOT NULL
		BEGIN
			INSERT INTO CaseManagement.Case_Link
			SELECT @CaseID
				,@NewCaseID
		END
		ELSE BEGIN
			IF (SELECT COUNT(ParentCase) FROM CaseManagement.Case_Link WHERE ChildCase = @CaseID) IS NOT NULL
			BEGIN --Where the parent case is a child case
				INSERT INTO CaseManagement.Case_Link
				SELECT ParentCase = (SELECT ParentCase FROM CaseManagement.Case_Link WHERE ChildCase = @CaseID)
					,@NewCaseID
			END
			ELSE BEGIN --Where are is no links yet
				INSERT INTO CaseManagement.Case_Link
				SELECT @CaseID
					,@NewCaseID
			END
		END
	END
	

	PRINT @NewCaseID


	IF @CopyICD10 = 1
	BEGIN
		INSERT INTO CaseManagement.Case_ICD
		SELECT CaseID = @NewCaseID
			, ICDID
			, DateOfProcedure
			, PrimaryCode
			, SecondaryCode
			, CoMorbidityCode
			, DateInserted = GetDate()
			, UserID = @UserID
		FROM CaseManagement.Case_ICD
		WHERE CaseID = @CaseID
	END

	PRINT @NewCaseID
	
	IF @CopyCPT = 1
	BEGIN
		INSERT INTO CaseManagement.Case_CPT
		SELECT CaseID = @NewCaseID
			, CPTID
			, DateOfProcedure
			, PrimaryCode
			, SecondaryCode
			, DateInserted = GetDate()
			, UserID = @UserID
		FROM CaseManagement.Case_CPT
		WHERE CaseID = @CaseID
	END

	PRINT @NewCaseID
	
	IF @CopyTariff = 1
	BEGIN
		INSERT INTO CaseManagement.Case_Tariff
		SELECT CaseID = @NewCaseID
			, TariffID
			, Value
			, Qty
			, [AgreedRateOverride]
			, [ValueIsTotal]
			, [Rejected]
			, DateOfProcedure
			, DateInserted = GetDate()
			, UserID = @UserID
		FROM CaseManagement.Case_Tariff
		WHERE CaseID = @CaseID
	END

	PRINT @NewCaseID
	
	IF @CopyDaysInCare = 1
	BEGIN
		INSERT INTO CaseManagement.Case_FacilityType
		SELECT FacilityTypeID
			, CaseID = @NewCaseID
			, DateAdmitted
			, DateDischarged
			, LOS
			, FacilityTypeCode
			, MinutesOnVentilator
			, Comments
			, DateInserted = GetDate()
			, UserID = @UserID
		FROM CaseManagement.Case_FacilityType
		WHERE CaseID = @CaseID
	END

	PRINT @NewCaseID
	
	INSERT INTO CaseManagement.Case_Checklist(CaseID, ChecklistTemplateID, Checked, UserID, Date, Comments, NotApplicable)
	SELECT 
		@NewCaseID
		,ChecklistTemplateID
		,0
		,@UserID
		,GETDATE()
		,''
		,0
	FROM CaseManagement.ChecklistTemplate
	
	SELECT @NewCaseID

	PRINT @NewCaseID

END





GO
