USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE   [dbo].[usp_MedicalAid_Select] 
  @MainClientID int
AS BEGIN
SELECT MedicalAidID
    ,MedicalAidName
    ,MedicalAidInitiationDate
    ,MedicalAidReinstatedDate
    ,MedicalAidTerminatedDate
    ,CasePrefix
    ,ReportTemplate
	,MainClientID
    ,UserID
FROM shared.MedicalAid
WHERE MainClientID = @MainClientID
END









GO
