USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_Billing_Case]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_rpt_Billing_Case] 
@CaseID int
AS
SELECT c.AuthNumber
	, AccountDate
	, AccountToDate
	, AccountNumber
	, DateReceived
	, Submitted
	, DateSubmitted
	, Reported
	, DateReported
	, ReceivedByName
	, AmountDue
	, Discount
	, Penalty
	, DatePaid
	, Remittance
	, Amount
	, bs.BillingStatus
	, sp.PracticeName
	, MemberName = m.Name
	, MemberSurname = m.Surname
	, m.MemberNumber
	, DateInserted
	, Case_BillingID
FROM [CaseManagement].[Case_Billing] cb
INNER JOIN [CaseManagement].[Cases] c
	ON c.CaseID = cb.CaseID
INNER JOIN finance.BillingStatus bs
	ON bs.BillingStatusID = cb.BillingStatusID
INNER JOIN [shared].[ServiceProvider] sp
	ON c.ReferToID = sp.ServiceProviderID
INNER JOIN [shared].[Member] m
	ON m.MemberID = c.MemberID
WHERE cb.CaseID = @CaseID


GO
