USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Tariff_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Case_Tariff_Insert]
    @CaseID_TariffID int
    ,@CaseID int
    ,@TariffID int
    ,@Value decimal(10,2)
	,@Qty decimal(5, 1)
	,@AgreedRateOverride decimal(10,2)
	,@ValueIsTotal bit
	,@Rejected bit
    ,@DateOfProcedure date
    ,@DateInserted date
    ,@UserID varchar(200)
AS BEGIN

IF (@CaseID_TariffID <> -1)
	BEGIN
		UPDATE CaseManagement.Case_Tariff
		SET  Value = @Value
			,DateOfProcedure = @DateOfProcedure
			,DateInserted = @DateInserted
			,UserID = @UserID
			,Qty = @Qty
			,AgreedRateOverride = @AgreedRateOverride
			,ValueIsTotal = @ValueIsTotal
			,Rejected = @Rejected
		WHERE CaseID_TariffID = @CaseID_TariffID
		SELECT @CaseID_TariffID
	END
ELSE
	BEGIN
		INSERT INTO CaseManagement.Case_Tariff
		VALUES(@CaseID
			,@TariffID
			,@Value
			,@Qty
			,@AgreedRateOverride
			,@ValueIsTotal
			,@Rejected
			,@DateOfProcedure
			,@DateInserted
			,@UserID
		)
		SELECT @@IDENTITY
	END



END








GO
