USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_CPT_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_CPT_Select] 
@CaseID int
AS BEGIN
SELECT CODE
	,LONG_DESCR
	,DateOfProcedure
	,PrimaryCode
	,SecondaryCode
	,CaseID
    ,cc.CPTID
    ,UserID
    ,Seq = CaseID_CPTID
    ,CodeType = CASE WHEN PrimaryCode = 1 THEN 'Primary' ELSE 'Secondary' END
FROM CaseManagement.Case_CPT cc
	INNER JOIN shared.CPT cpt ON cc.CPTID = cpt.CPTID
WHERE CaseID = @CaseID
ORDER BY PrimaryCode DESC

END








GO
