USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_LinkedFile_DeleteByLinkedFileID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20141110
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_LinkedFile_DeleteByLinkedFileID] 
	-- Add the parameters for the stored procedure here
	@LinkedFileID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DELETE FROM [Shared].[LinkedFile]
WHERE [LinkedFileID] = @LinkedFileID

END





GO
