USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Tariff_Custom_Insert_FromExcel]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 2014-02-09
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_ServiceProvider_Tariff_Custom_Insert_FromExcel]
	-- Add the parameters for the stored procedure here
	@ServiceProviderID INT
    ,@TariffCode VARCHAR(20)
    ,@TariffAmount DECIMAL(10,2)
	,@MainClientID INT
	,@TariffPeriodName INT
	,@TariffNameID INT
	,@SpecialityID INT = -1

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	CREATE TABLE #Temp (
		[ServiceProviderID] [int] NOT NULL,
		[TariffID] [int] NOT NULL,
		[MainClientID] [int] NULL,
		[TariffAmount] [decimal](10, 2) NULL
	) ON [PRIMARY]

	IF @SpecialityID = -1
	BEGIN
		INSERT INTO #Temp
		SELECT ServiceProviderID = @ServiceProviderID
			, TariffID
			, MainClientID = @MainClientID
			, TariffAmount = @TariffAmount
		FROM [shared].[Tariff]
		WHERE BaseTariffID LIKE '%_' + Convert(VARCHAR(20),@TariffCode)
			AND TariffPeriodName = @TariffPeriodName
			AND TariffNameID = @TariffNameID
	END
	ELSE BEGIN
		INSERT INTO #Temp
		SELECT ServiceProviderID = @ServiceProviderID
			, TariffID
			, MainClientID = @MainClientID
			, TariffAmount = @TariffAmount
		FROM [shared].[Tariff]
		WHERE BaseTariffID = RIGHT('0'+ @SpecialityID,2) + '_' + Convert(VARCHAR(20),@TariffCode)
			AND TariffPeriodName = @TariffPeriodName
			AND TariffNameID = @TariffNameID
	END

	DELETE A 
	FROM [shared].[ServiceProvider_Tariff_Custom] A
	INNER JOIN #Temp B
		ON a.MainClientID = b.MainClientID
			AND a.ServiceProviderID = b.ServiceProviderID
			AND a.TariffID = b.TariffID

	INSERT INTO [shared].[ServiceProvider_Tariff_Custom](ServiceProviderID, TariffID, MainClientID, TariffAmount)
	SELECT ServiceProviderID, TariffID, MainClientID, TariffAmount FROM #Temp


END





GO
