USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseComment_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_CaseComment_Delete] 
    @CaseCommentID int
AS BEGIN
DELETE FROM CaseManagement.CaseComment
WHERE CaseCommentID = @CaseCommentID
END









GO
