USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_Delete] 
    @Case_BillingID int
AS BEGIN
DELETE FROM CaseManagement.Case_Billing
WHERE Case_BillingID = @Case_BillingID
END

GO
