USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CPT_Select_ByFilters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_CPT_Select_ByFilters] 
    @Code Varchar(200)
    ,@Description Varchar(200)
AS BEGIN

SELECT  Chapter, CODE, SHORT_DESCR, MEDIUM_DESCR, LONG_DESCR, CPTID
FROM shared.CPT
WHERE CODE like '%' + @Code + '%'
	AND LONG_DESCR like '%' + @Description + '%'

END








GO
