USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Discount_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE  [dbo].[usp_Case_Discount_Update]
	@CaseID INT
	,@Discount Decimal
AS 
BEGIN

IF(SELECT 1 FROM [finance].[Case_Discount] WHERE CaseID = @CaseID) IS NOT NULL
	BEGIN
		UPDATE [finance].[Case_Discount] 
		SET Discount = @Discount
		WHERE CaseID = @CaseID
	END
	ELSE BEGIN
		INSERT INTO [finance].[Case_Discount] 
		VALUES(@CaseID,@Discount)
	END
	

END

--INSERT INTO [shared].[ServiceProvider_Tariff]
--SELECT Distinct [ServiceProviderID],4
--FROM [shared].[ServiceProvider]









GO
