USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseLetterNote_Select_ByCaseID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_CaseLetterNote_Select_ByCaseID]
    @CaseID INT
AS BEGIN

SELECT Note 
FROM CaseManagement.CaseLetterNote
WHERE CaseID = @CaseID

END





GO
