USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Select_NotLinkedToCase]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Changed 1.0.7.9
ALTER PROCEDURE [dbo].[usp_Case_Billing_Select_NotLinkedToCase] 
@Remittance Varchar(50)
AS
SELECT AccountNumber
	, AccountDate
	, c.AuthNumber
	, DateReceived
	, ReceivedByName
	, PatientName
	, PatientSurname
	, Comment
	, AmountDue
	, DatePaid
	, Remittance
	, AmountPaid = Amount
FROM [CaseManagement].[Case_Billing] cb
	LEFT JOIN CaseManagement.Case_Billing_Comment cbc
		ON cb.Case_BillingID = cbc.Case_BillingID
	INNER JOIN (SELECT [Case_Billing_CommentID] = MAX([Case_Billing_CommentID])
			FROM CaseManagement.Case_Billing_Comment
			Group BY [Case_BillingID]
		)cbcf
		ON cbcf.Case_Billing_CommentID = cbc.Case_Billing_CommentID
	LEFT JOIN CaseManagement.Cases c
		ON c.CaseID = cb.CaseID
WHERE Remittance = @Remittance
ORDER BY cb.CaseID














GO
