USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Exclusion_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_Exclusion_Delete] 
    @CaseID int
    ,@ExclusionID int
    ,@UserID varchar(100)
AS BEGIN
DELETE FROM CaseManagement.Case_Exclusion
WHERE CaseID = @CaseID
    AND ExclusionID = @ExclusionID
END








GO
