USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Bookings_Select_ByFilters]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE   [dbo].[usp_Bookings_Select_ByFilters]
	@Surname Varchar(200)
	,@Name Varchar(200)
	,@MemberNumber Varchar(200)
	,@TravelDateFrom date
	,@TravelDateTo date
AS
BEGIN
	SELECT 
	shared.Member.Surname
	, shared.Member.Name
	, shared.Member.MemberNumber
	, shared.Bookings.TravelDate
	, shared.Bookings.TravelTime
	, shared.Bookings.AppointmentDate
	, spRefer.ServiceProviderName AS ReferServiceProviderName
	, spCurr.ServiceProviderName AS CurrServiceProviderName
	, Speciality.Speciality
	, CaseManagement.Cases.AuthNumber
	, shared.Bookings.Consultation
	, shared.Bookings.Admission
	, shared.Bookings.Hospital
	, shared.Bookings.Arrived
	, shared.Bookings.TISCH
	, shared.Bookings.Comments
	, shared.Bookings.BookingID
	, CaseManagement.Cases.CaseID
	, Member.MemberID
FROM shared.Member INNER JOIN
	CaseManagement.Cases ON shared.Member.MemberID = CaseManagement.Cases.MemberID AND 
	shared.Member.MemberID = CaseManagement.Cases.MemberID INNER JOIN
	shared.Bookings ON CaseManagement.Cases.CaseID = shared.Bookings.CaseID INNER JOIN
	shared.ServiceProvider AS spCurr ON CaseManagement.Cases.ReferToID = spCurr.ServiceProviderID INNER JOIN
	shared.ServiceProvider AS spRefer ON CaseManagement.Cases.ReferFromID = spRefer.ServiceProviderID INNER JOIN 
	shared.Speciality ON Speciality.SpecialityID = spCurr.SpecialityID
WHERE Surname LIKE '%' + @Surname + '%'
	AND Name LIKE '%' + @Name + '%'
	AND MemberNumber LIKE '%' + @MemberNumber + '%'
	AND TravelDate BETWEEN @TravelDateFrom AND @TravelDateTo

END










GO
