USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Bookings_Select_ByBookingID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE   [dbo].[usp_Bookings_Select_ByBookingID]
	@BookingID int
AS
BEGIN
	SELECT shared.Bookings.BookingID
	, shared.Bookings.TravelDate
	, shared.Bookings.TravelTime
	, shared.Bookings.AppointmentDate
	, spRefer.ServiceProviderName AS ReferServiceProviderName
	, spCurr.ServiceProviderName AS CurrServiceProviderName
	, spCurr.SpecialityID AS CurrSpecialityID
	, CaseManagement.Cases.AuthNumber
	, shared.Member.Surname
	, shared.Member.Name
	, shared.Member.MemberNumber
	, Member.MemberID
	, shared.Bookings.Consultation
	, shared.Bookings.Admission
	, shared.Bookings.Hospital
	, shared.Bookings.Arrived
	, shared.Bookings.TISCH
	, shared.Bookings.Comments
	, CaseManagement.Cases.CaseID
FROM shared.Member INNER JOIN
	CaseManagement.Cases ON shared.Member.MemberID = CaseManagement.Cases.MemberID AND 
	shared.Member.MemberID = CaseManagement.Cases.MemberID INNER JOIN
	shared.Bookings ON CaseManagement.Cases.CaseID = shared.Bookings.CaseID INNER JOIN
	shared.ServiceProvider AS spCurr ON CaseManagement.Cases.ReferToID = spCurr.ServiceProviderID INNER JOIN
	shared.ServiceProvider AS spRefer ON CaseManagement.Cases.ReferFromID = spRefer.ServiceProviderID
WHERE BookingID = @BookingID

END










GO
