USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChecklistTemplate_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_ChecklistTemplate_Insert]
    @ChecklistPrompt varchar(200)
AS BEGIN
INSERT INTO CaseManagement.ChecklistTemplate
VALUES(@ChecklistPrompt
)END








GO
