USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_Member_Update] 
    @MemberID int
    ,@MemberNumber varchar(200)
    ,@TitleID int
    ,@Surname varchar(300)
    ,@Initials varchar(50)
    ,@Name varchar(300)
	,@IDNumber Varchar(300)
    ,@PassportNumber varchar(300)
    ,@PassportExpiryDate date
    ,@PeriodInCountryID int
    ,@DateOfBirth date
    ,@GenderID int
    ,@HasMedicalAid bit
    ,@MedicalAidID int
    ,@DateOfBenefit date
    ,@DateJoined date
    ,@Suspended bit
    ,@DateSuspended date
    ,@SuspendedReasonID int
    ,@MedicalAidExhausted bit
    ,@DateMedicalAidExhausted date
    ,@WaitingPeriodApplicable bit
    ,@MarritalStatusID int
    ,@EmployerCountryID int
    ,@EmployerAddress varchar(300)
    ,@EmployerAddressCode varchar(20)
    ,@EmployerPhoneNumber varchar(20)
    ,@Pensioner bit
    ,@MemberStatusID int
    ,@MemberCountryID int
    ,@MemberAddress1 varchar(500)
    ,@MemberAddress2 varchar(500)
    ,@MemberAddress3 varchar(500)
    ,@MemberAddressCode varchar(20)
    ,@MemberPhoneNumber varchar(300)
    ,@MemberCellNumber varchar(300)
    ,@NextOfKinName varchar(300)
    ,@NextOfKinRelationship varchar(300)
    ,@NextOfKinContactNumber varchar(300)
    ,@MemberLanguageID int
    ,@MemberRaceID int
    ,@MemberDependents varchar(1000)
    ,@FundReinstatedDate date
    ,@FundReinstated bit
    ,@Deceased bit
    ,@DeceasedDate Date
    ,@UserID varchar(200)
	,@MedAidProductID int
	,@MBOD_RMA bit
AS BEGIN
UPDATE shared.Member
SET   MemberNumber = @MemberNumber
    ,TitleID = @TitleID
    ,Surname = @Surname
    ,Initials = @Initials
    ,Name = @Name
    ,IDNumber = @IDNumber
    ,PassportNumber = @PassportNumber
    ,PassportExpiryDate = @PassportExpiryDate
    ,PeriodInCountryID = @PeriodInCountryID
    ,DateOfBirth = @DateOfBirth
    ,GenderID = @GenderID
    ,HasMedicalAid = @HasMedicalAid
    ,MedicalAidID = @MedicalAidID
    ,DateOfBenefit = @DateOfBenefit
    ,DateJoined = @DateJoined
    ,Suspended = @Suspended
    ,DateSuspended = @DateSuspended
    ,SuspendedReasonID = @SuspendedReasonID
    ,MedicalAidExhausted = @MedicalAidExhausted
    ,DateMedicalAidExhausted = @DateMedicalAidExhausted
    ,WaitingPeriodApplicable = @WaitingPeriodApplicable
    ,MarritalStatusID = @MarritalStatusID
    ,EmployerCountryID = @EmployerCountryID
    ,EmployerAddress = @EmployerAddress
    ,EmployerAddressCode = @EmployerAddressCode
    ,EmployerPhoneNumber = @EmployerPhoneNumber
    ,Pensioner = @Pensioner
    ,MemberStatusID = @MemberStatusID
    ,MemberCountryID = @MemberCountryID
    ,MemberAddress1 = @MemberAddress1
    ,MemberAddress2 = @MemberAddress2
    ,MemberAddress3 = @MemberAddress3
    ,MemberAddressCode = @MemberAddressCode
    ,MemberPhoneNumber = @MemberPhoneNumber
    ,MemberCellNumber = @MemberCellNumber
    ,NextOfKinName = @NextOfKinName
    ,NextOfKinRelationship = @NextOfKinRelationship
    ,NextOfKinContactNumber = @NextOfKinContactNumber
    ,MemberLanguageID = @MemberLanguageID
    ,MemberRaceID = @MemberRaceID
    ,MemberDependents = @MemberDependents
    ,FundReinstated = @FundReinstated
    ,FundReinstatedDate = @FundReinstatedDate
    ,Deceased = @Deceased
    ,DeceasedDate = @DeceasedDate
    ,UserID = @UserID
	,MedAidProductID = @MedAidProductID
	,MBOD_RMA = @MBOD_RMA
WHERE MemberID = @MemberID

END










GO
