USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Select_ByNameID_Period_Speciality]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_Select_ByNameID_Period_Speciality] 
    @TariffNameID int
    ,@TariffPeriodName Varchar(4)
    ,@SpecialityID int
AS BEGIN
SELECT tn.TariffName
	,s.Speciality
	,bt.TariffCode
	,bt.TariffDescription
	,t.Tariff
	,t.StartDate
	,t.EndDate
	,t.TariffID
FROM shared.Tariff t
	INNER JOIN shared.BaseTariff bt ON t.BaseTariffID = bt.BaseTariffID
	INNER JOIN shared.Speciality s ON bt.SpecialityID = s.SpecialityID
	INNER JOIN shared.TariffName tn ON t.TariffNameID = tn.TariffNameID
WHERE t.TariffNameID = @TariffNameID
	AND TariffPeriodName = @TariffPeriodName
	AND bt.SpecialityID = @SpecialityID
ORDER BY s.Speciality
	,bt.TariffDescription
END







GO
