USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_LinkedFile_DeleteByCase_LinkedFileID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20130922
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Case_LinkedFile_DeleteByCase_LinkedFileID] 
	-- Add the parameters for the stored procedure here
	@Case_LinkedFileID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DELETE FROM [CaseManagement].[Case_LinkedFile]
WHERE [Case_LinkedFileID] = @Case_LinkedFileID

END



GO
