USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Language_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Language_Update] 
    @LanguageID int
    ,@Language varchar(100)
AS BEGIN
UPDATE shared.Language
SET   Language = @Language
WHERE LanguageID = @LanguageID

END








GO
