USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Tariff_Select_ById]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_ServiceProvider_Tariff_Select_ById]-- 130460,75,'2014',5
	@ServiceProviderID INT
	,@SpecialityID int
	,@EffectiveDate Varchar(10)
	,@MainClientID INT
AS 
BEGIN

	SELECT DISTINCT Code = bt.[TariffCode]
	,Speciality = bt.[SpecialityID]
	,Qty = ISNULL(t.Quantity,1)
	,Units = ISNULL(t.Metric,'Qty')
	,ProviderRate = ISNULL(ISNULL(stc.[TariffAmount],t.TariffAmount),0)
	,SchemeRate = t.TariffAmount
	--,MainClientRate = t_mct.TariffAmount
	,FinalRate = CASE --WHEN ISNULL(t_mct.TariffAmount,0) <> 0 THEN t_mct.TariffAmount
						WHEN ISNULL(stc.[TariffAmount],0) <> 0 THEN stc.[TariffAmount]
						ELSE ISNULL(t.TariffAmount,0) 
					END
	,[Description] = LEFT(bt.[TariffDescription],1000)
	,bt.BaseTariffID
	,t.StartDate
	,t.EndDate
	,t.TariffID
	,stc.ServiceProviderID
	,stc.MainClientID
FROM [shared].[BaseTariff] bt
	LEFT JOIN [shared].[Tariff] t
		ON bt.BaseTariffID = t.BaseTariffID
	INNER JOIN [shared].[ServiceProvider_Tariff] st
			ON st.TariffNameID = t.TariffNameID
			AND st.MainClientID = @MainClientID
			AND st.TariffPeriodName = t.TariffPeriodName
			AND st.ServiceProviderID = @ServiceProviderID
	LEFT JOIN [shared].[ServiceProvider_Tariff_Custom] stc
		ON t.TariffID = stc.TariffID
		AND stc.ServiceProviderID = @ServiceProviderID
		AND stc.MainClientID = @MainClientID
WHERE  t.TariffPeriodName = @EffectiveDate
	AND SpecialityID = @SpecialityID
	AND st.MainClientID = @MainClientID
ORDER BY Code

END

GO
