USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Select_ByFilters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Tariff_Select_ByFilters]
    @Code Varchar(200)
    ,@Description Varchar(200)
    ,@CaseID int
    ,@SpecialityID INT
    ,@TariffNameID INT
AS BEGIN

--DECLARE @Code Varchar(200)
--DECLARE @Description Varchar(200)
--DECLARE @CaseID int
--SET @Code = ''
--SET @Description = ''
--SET @CaseID = 1

DECLARE @MemberID INT
DECLARE @MedicalAidID INT
DECLARE @Date DATE

SELECT @MemberID = c.MemberID
	,@Date = c.AdmissionDate
	,@MedicalAidID = m.MedicalAidID
FROM CaseManagement.Cases c
	INNER JOIN shared.ServiceProvider sp ON sp.ServiceProviderID = c.ReferToID
	INNER JOIN shared.Member m ON m.MemberID = c.MemberID
WHERE CaseID = @CaseID
--Select @MemberID,@Date,@SpecialityID

SELECT Speciality.Speciality
, shared.BaseTariff.TariffCode
, shared.BaseTariff.TariffDescription
, shared.Tariff.Tariff
, shared.TariffName.TariffName
, shared.Tariff.StartDate
, shared.Tariff.EndDate
, shared.Tariff.TariffID
, Exclusion = CASE WHEN mae.BaseTariffID IS NULL THEN 0 ELSE 1 END

FROM --shared.MedicalAid 
	--INNER JOIN shared.Member ON shared.MedicalAid.MedicalAidID = shared.Member.MedicalAidID 
	--	AND shared.Member.MemberID = @MemberID
	--INNER JOIN shared.MedicalAid_Tariff ON shared.MedicalAid.MedicalAidID = shared.MedicalAid_Tariff.MedicalAidID 
	shared.TariffName-- ON shared.MedicalAid_Tariff.TariffNameID = shared.TariffName.TariffNameID
	INNER JOIN shared.Tariff ON shared.TariffName.TariffNameID = shared.Tariff.TariffNameID
	INNER JOIN shared.BaseTariff ON shared.BaseTariff.BaseTariffID = shared.Tariff.BaseTariffID
	INNER JOIN shared.Speciality ON Speciality.SpecialityID = BaseTariff.SpecialityID
	LEFT JOIN shared.MedicalAid_Exclusion mae ON  mae.BaseTariffID = shared.BaseTariff.BaseTariffID
WHERE --Speciality.SpecialityID = @SpecialityID
	--AND 
	ISNULL(mae.MedicalAidID,1) = CASE WHEN mae.MedicalAidID IS NULL THEN 1 ELSE @MedicalAidID END
	AND CONVERT(VARCHAR,BaseTariff.TariffCode) LIKE '%' + @Code + '%'
	AND CONVERT(VARCHAR,BaseTariff.TariffDescription) LIKE '%' + @Description + '%'
	AND @Date BETWEEN shared.Tariff.StartDate AND shared.Tariff.EndDate
	AND TariffName.TariffNameID = @TariffNameID
END



GO
