USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_FacilityType_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_FacilityType_Delete] 
    @ID int
AS BEGIN
DELETE FROM CaseManagement.Case_FacilityType
WHERE CaseID_FacilityTypeID = @ID
END








GO
