USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MemberStatus_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MemberStatus_Insert]
    @MemberStatus varchar(200)
AS BEGIN
INSERT INTO shared.MemberStatus
VALUES(@MemberStatus
)END








GO
