USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChronicIllness_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_ChronicIllness_Insert]
    @ChronicIllnessName varchar(300)
    ,@ChronicIllnessDescription varchar(1000)
    ,@UserID varchar(200)
AS BEGIN
INSERT INTO shared.ChronicIllness
VALUES(@ChronicIllnessName
    ,@ChronicIllnessDescription
    ,@UserID
    ,GETDATE()
)END








GO
