USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_Filters]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_Cases_Select_Filters] 
    @AuthNumber Varchar(200) = ''
    ,@MemberNumber Varchar(200) = ''
    ,@Name Varchar(200) = ''
    ,@Surname Varchar(200) = ''
    ,@DateOfBirth date = '1900-01-01'
    ,@DateCreated date = '1900-01-01'
    ,@PracticeName Varchar(200) = ''
    ,@MedicalFunder int = -1		--
    ,@PrimaryICD Varchar(10) = ''	--
    ,@PrimaryCPT Varchar(10) = ''	--
    ,@StatusID int = -1
    ,@MainClientID int
    ,@CaseType int = -1
AS BEGIN

SELECT 
	stat.CaseStatus
	,c.[HasBooking]
	,c.AuthNumber
	, c.AdmissionDate
	, c.DischargeDate
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, ReferTo = rto.PracticeName
	, ReferFrom = rfrom.PracticeName
	, c.AdmissionTime
	, c.DischargeTime
	, PrimaryICD = ISNULL(MAX(DiagnosisCode),'')
	, PrimaryCPT = ISNULL(MAX(CPT.Code),'')
	, PrimaryICDDesc = ISNULL(MAX(DiagnosisDesc),'')
	, PrimaryCPTDesc = ISNULL(MAX(CPT.MEDIUM_DESCR),'')
	, ReferToPracticeNumber = rto.PracticeNr
	, ReferFromPracticeNumber = rfrom.PracticeNr
	, ct.CaseType
	, c.UserID
	, c.DateCreated
	, c.CaseID
	, m.MedicalAidID
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[ChangeToCaseDate]
FROM CaseManagement.Cases AS c INNER JOIN
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
  CaseManagement.CaseType ct ON ct.CaseTypeID = c.AuthTypeID INNER JOIN
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN 
  --CaseManagement.Episode_Case ec ON ec.CaseID = c.CaseID LEFT JOIN 
  CaseManagement.Case_ICD ON Case_ICD.CaseID = c.CaseID AND Case_ICD.PrimaryCode = 1 LEFT JOIN 
  shared.ICD ON ICD.ICDID = Case_ICD.ICDID LEFT JOIN
  CaseManagement.Case_CPT ON Case_CPT.CaseID = c.CaseID AND Case_CPT.PrimaryCode = 1 LEFT JOIN 
  shared.CPT ON CPT.CPTID = Case_CPT.CPTID
  LEFT JOIN [shared].[MedicalAidProduct] map ON map.MedAidProductID = m.MedAidProductID
WHERE c.AuthNumber LIKE '%' + @AuthNumber + '%'
    AND m.memberNumber LIKE '%' + @MemberNumber + '%'
    AND Name LIKE '%' + @Name + '%'
    AND Surname LIKE '%' + @Surname + '%'
    AND @DateOfBirth = CASE WHEN @DateOfBirth = '1900-01-01' THEN '1900-01-01' ELSE DateOfBirth END
    AND @DateCreated = CASE WHEN @DateCreated = '1900-01-01' THEN '1900-01-01' ELSE c.DateCreated END
    AND @MedicalFunder = CASE WHEN @MedicalFunder = -1 THEN -1 ELSE ma.MedicalAidID END
    AND (ISNULL(rto.PracticeName,'') like '%' + @PracticeName + '%'
		OR ISNULL(rfrom.PracticeName,'') like '%' + @PracticeName + '%')
	AND ISNULL((DiagnosisCode),'') LIKE '%' + @PrimaryICD + '%'
	AND ISNULL((CPT.Code),'') LIKE '%' + @PrimaryCPT + '%'
    AND @StatusID = CASE WHEN @StatusID = -1 THEN -1 ELSE c.StatusID END
	AND ma.MainClientID = @MainClientID
    AND @CaseType = CASE WHEN @CaseType = -1 THEN -1 ELSE c.AuthTypeID END
GROUP BY stat.CaseStatus
	,c.AuthNumber
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, rto.PracticeNr
	, rto.PracticeName
	, rfrom.PracticeNr
	, rfrom.PracticeName
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, c.CaseID
	, m.MedicalAidID
	, ct.CaseType
	, c.UserID
	, c.DateCreated
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
ORDER BY c.CaseID DESC,c.DateCreated DESC, m.Surname 


END



/****** Object:  Table [CaseManagement].[CaseLetterNote]    Script Date: 03/14/2012 11:32:50 ******/
SET ANSI_NULLS ON









GO
