USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Select_By_Filters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Episode_Select_By_Filters] 
@EpisodeID int = -1
,@RelatedCaseNumber Varchar(20)
,@MemberName Varchar(200)
,@MemberSurname Varchar(200)
,@MemberNumber Varchar(200)
,@MemberIDNumber Varchar(200)
AS BEGIN

SELECT DISTINCT e.EpisodeDescription
, m.MemberNumber
, m.Name
, m.Surname
, m.PassportNumber AS 'ID/PassportNumber'
, e.EpisodeID
, e.MemberID
FROM CaseManagement.Episode AS e LEFT JOIN
	CaseManagement.Episode_Case AS ec ON e.EpisodeID = ec.EpisodeID LEFT JOIN
	shared.Member AS m ON e.MemberID = m.MemberID LEFT JOIN
	CaseManagement.Cases AS c ON ec.CaseID = c.CaseID
WHERE (CASE WHEN @EpisodeID = -1 THEN -1 ELSE e.EpisodeID END) = @EpisodeID
	AND ISNULL(c.AuthNumber,'') like '%' + @RelatedCaseNumber + '%'
	AND m.Name like '%' + @MemberName + '%'
	AND m.Surname like '%' + @MemberSurname + '%'
	AND m.MemberNumber like '%' + @MemberNumber + '%'
	AND m.PassportNumber like '%' + @MemberIDNumber + '%'

END








GO
