USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_z_Tariff_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_z_Tariff_Update] 
    @TariffID int
    ,@TariffCode int
    ,@GroupPracticeNr varchar(100)
    ,@TariffDescription varchar(200)
    ,@Tariff decimal(10,2)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.Tariff
SET   TariffCode = @TariffCode
    ,GroupPracticeNr = @GroupPracticeNr
    ,TariffDescription = @TariffDescription
    ,Tariff = @Tariff
    ,UserID = @UserID
WHERE TariffID = @TariffID

END

GO
