USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_ICD_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_ICD_Select] 
@CaseID int
AS BEGIN
SELECT DiagnosisCode
	,DiagnosisDesc
	,ci.DateOfProcedure
	,PrimaryCode
	,SecondaryCode
	,CoMorbidityCode
	,CaseID
    ,ci.ICDID
    ,UserID
    ,CodeType = CASE 
			WHEN PrimaryCode = 1 THEN 'Primary'
			WHEN SecondaryCode = 1 THEN 'Secondary'
			WHEN CoMorbidityCode = 1 THEN 'Co-Morbidity'
			END
FROM CaseManagement.Case_ICD ci
	INNER JOIN shared.ICD icd ON ci.ICDID = icd.ICDID
WHERE CaseID = @CaseID
ORDER BY PrimaryCode desc,SecondaryCode desc
END








GO
