USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Language_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Language_Insert]
    @Language varchar(100)
AS BEGIN
INSERT INTO shared.Language
VALUES(@Language
)END








GO
