USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_Finance_Select_Filters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_rpt_Finance_Select_Filters] 
    @AuthNumber Varchar(200) = ''
    ,@MemberNumber Varchar(200) = ''
    ,@Name Varchar(200) = ''
    ,@Surname Varchar(200) = ''
    ,@DateOfBirth date = '1900-01-01'
    ,@DateCreated date = '1900-01-01'
    ,@PracticeName Varchar(200) = ''
    ,@MedicalFunder int = -1		--
    ,@PrimaryICD Varchar(10) = ''	--
    ,@PrimaryCPT Varchar(10) = ''	--
    ,@MainClientID int
AS BEGIN

SELECT 
	c.[AuthNumber]
	,[Status] = stat.CaseStatus
	,Amount = c.[FinalInvoiceAmount]
	,AccountNumber = c.[AccountNr]
	,DateCaptured = c.[DateCreated]
	,AdmissionDate = c.[AdmissionDate]
	,DischargeDate = c.[DischargeDate]
	,MemberNumber = m.MemberNumber
	,Surname = m.Surname
	,Name = m.Name
	,ServiceProvider = rto.PracticeName
	, m.MBOD_RMA
FROM CaseManagement.Cases AS c INNER JOIN
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN 
  --CaseManagement.Episode_Case ec ON ec.CaseID = c.CaseID LEFT JOIN 
  CaseManagement.Case_ICD ON Case_ICD.CaseID = c.CaseID AND Case_ICD.PrimaryCode = 1 LEFT JOIN 
  shared.ICD ON ICD.ICDID = Case_ICD.ICDID LEFT JOIN
  CaseManagement.Case_CPT ON Case_CPT.CaseID = c.CaseID AND Case_CPT.PrimaryCode = 1 LEFT JOIN 
  shared.CPT ON CPT.CPTID = Case_CPT.CPTID LEFT JOIN 
  CaseManagement.Case_FacilityType cft ON cft.CaseID = c.CaseID
  LEFT JOIN shared.FacilityType ft ON ft.FacilityTypeID = cft.FacilityTypeID
  LEFT JOIN (SELECT CaseNoteID = MAX(CaseNoteID),CaseID FROM CaseManagement.CaseNote GROUP BY CaseID) cni ON cni.CaseID = c.CaseID
  LEFT JOIN CaseManagement.CaseNote cn ON cn.CaseNoteID = cni.CaseNoteID
	AND cn.CaseID = cni.CaseID
WHERE c.AuthNumber LIKE '%' + @AuthNumber + '%'
    AND m.memberNumber LIKE '%' + @MemberNumber + '%'
    AND Name LIKE '%' + @Name + '%'
    AND Surname LIKE '%' + @Surname + '%'
    AND @DateOfBirth = CASE WHEN @DateOfBirth = '1900-01-01' THEN '1900-01-01' ELSE DateOfBirth END
    AND @DateCreated = CASE WHEN @DateCreated = '1900-01-01' THEN '1900-01-01' ELSE c.DateCreated END
    AND @MedicalFunder = CASE WHEN @MedicalFunder = -1 THEN -1 ELSE ma.MedicalAidID END
    AND (ISNULL(rto.ServiceProviderName,'') like '%' + @PracticeName + '%'
		OR ISNULL(rfrom.ServiceProviderName,'') like '%' + @PracticeName + '%')
	AND ISNULL((DiagnosisCode),'') LIKE '%' + @PrimaryICD + '%'
	AND ISNULL((CPT.Code),'') LIKE '%' + @PrimaryCPT + '%'
    AND ma.MainClientID = @MainClientID
ORDER BY c.DateCreated, m.Surname DESC


END



/****** Object:  Table [CaseManagement].[CaseLetterNote]    Script Date: 03/14/2012 11:32:50 ******/
SET ANSI_NULLS ON






GO
