USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseComment_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_CaseComment_Select] 
@CaseID int
AS BEGIN
SELECT CaseComment
    ,UserID
    ,DateCreated
    ,CaseID
    ,CaseCommentID
FROM CaseManagement.CaseComment
WHERE CaseID = @CaseID
ORDER BY CaseCommentID DESC,Convert(VARCHAR,DateCreated,112) desc
END











GO
