USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MemberStatus_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MemberStatus_Update] 
    @MemberStatusID int
    ,@MemberStatus varchar(200)
AS BEGIN
UPDATE shared.MemberStatus
SET   MemberStatus = @MemberStatus
WHERE MemberStatusID = @MemberStatusID

END








GO
