USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_LinkedFile_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Case_LinkedFile_Insert] 
	-- Add the parameters for the stored procedure here
	@CaseID int
	, @MemberID int
	, @FilePath Varchar(MAX)
	, @FileName Varchar(200)
	, @FileType Varchar(50)
	, @UserID Varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO [CaseManagement].[Case_LinkedFile]
           ([CaseID]
		   ,[MemberID]
           ,[FilePath]
           ,[FileName]
		   ,[FileType]
           ,[DateAdded]
           ,[UserID])
     VALUES
           (@CaseID
		   ,@MemberID
           ,@FilePath
           ,@FileName
		   ,@FileType
           ,GetDate()
           ,@UserID)

END





GO
