USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Select_Summary]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_Select_Summary] 
@CaseID int
AS
SELECT AccountDate
	, AccountNumber
	, AmountDue
FROM [CaseManagement].[Case_Billing]
WHERE CaseID = @CaseID
ORDER BY AccountDate


GO
