USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseNote_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8
ALTER PROCEDURE  [dbo].[usp_CaseNote_Insert]
    @CaseNote varchar(MAX)
    ,@UserID varchar(200)
    ,@DateCreated datetime2(7)
	,@InterimAmount DECIMAL(10,2)
	,@CaseNumber Varchar(150)
    ,@CaseID int
AS BEGIN
INSERT INTO CaseManagement.CaseNote
VALUES(@CaseNote
    ,@UserID
    ,@DateCreated
	,@InterimAmount
    ,@CaseID
	,@CaseNumber
)END










GO
