USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MemberNote_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MemberNote_Insert]
    @MemberNote varchar(MAX)
    ,@MemberID int
    ,@UserID varchar(200)
AS BEGIN
INSERT INTO shared.MemberNote
VALUES(@MemberNote
    ,@MemberID
    ,@UserID
    ,GETDATE()
)END








GO
