USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_CheckPeriodExist]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_CheckPeriodExist]
	@TariffNameID int
	,@StartDate date
	,@EndDate date
	,@TariffPeriodName Varchar(4)
AS BEGIN

	SELECT DISTINCT
		TariffID
	FROM shared.Tariff
	WHERE TariffNameID = @TariffNameID
		AND (@StartDate BETWEEN StartDate AND EndDate
			OR @EndDate BETWEEN StartDate AND EndDate
			OR TariffPeriodName = @TariffPeriodName)

END







GO
