USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Link_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_Link_Insert]
   @ParentCase int
   ,@ChildCase int
AS BEGIN

--DECLARE @ParentCaseInt INT
--SELECT @ParentCaseInt = CaseID
--FROM CaseManagement.Cases
--WHERE CaseID = @ParentCase

INSERT INTO CaseManagement.Case_Link
VALUES(@ParentCase
    ,@ChildCase
)

END








GO
