USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_PossibleDuplicate]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE  [dbo].[usp_Cases_Select_PossibleDuplicate] 
    @MemberID int
	,@ReferToID int
	,@AdmissionDate Date
AS BEGIN

SELECT 
	stat.CaseStatus
	,c.AuthNumber
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, rto.PracticeNr + ' - ' + rto.PracticeName AS ReferTo
	, rfrom.PracticeNr + ' - ' + rfrom.PracticeName AS ReferFrom
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, c.CaseID
	, m.MedicalAidID
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
	--, ec.EpisodeID
FROM CaseManagement.Cases AS c INNER JOIN
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID-- LEFT JOIN 
  --CaseManagement.Episode_Case ec ON ec.CaseID = c.CaseID
WHERE c.MemberID = @MemberID
	AND c.ReferToID = @ReferToID
	AND c.AdmissionDate = @AdmissionDate
ORDER BY c.DateCreated DESC

END



/****** Object:  Table [CaseManagement].[CaseLetterNote]    Script Date: 03/14/2012 11:32:50 ******/
SET ANSI_NULLS ON






GO
