USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_InsertOldPeriod]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_InsertOldPeriod]-- 2,'2013','2013-01-01','2013-12-31',1.06,''
	@TariffNameID int
	,@PeriodName Varchar(4)
    ,@StartDate date
    ,@EndDate date
    ,@Multiplier Decimal(10,2)
    ,@UserID Varchar(200)
AS BEGIN

	INSERT INTO shared.Tariff (TariffNameID,StartDate,EndDate,BaseTariffID,UserID,Tariff,TariffPeriodName)
	SELECT @TariffNameID
		,@StartDate
		,@EndDate
		,bt.BaseTariffID
		,@UserID
		,ISNULL(t.Tariff,0) / @Multiplier
		,@PeriodName
	FROM shared.BaseTariff bt
		LEFT JOIN shared.Tariff t ON bt.BaseTariffID = t.BaseTariffID
			AND t.TariffPeriodName = (SELECT MAX(CONVERT(INT,TariffPeriodName)) 
										FROM shared.Tariff 
										WHERE TariffNameID = @TariffNameID)
			AND TariffNameID = @TariffNameID

SELECT @@IDENTITY

END







GO
