USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_BillingFilesPracticeNameMatch_Insert]    Script Date: 2016/04/25 11:29:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TRUNCATE TABLE [Import].[BillingFiles]
--UPDATE [Import].[BillingFiles]
--SET PRNumber = LTRIM(RTRIM(REPLACE(REPLACE(PRNumber,':',''),';','')))

ALTER PROCEDURE [Import].[usp_BillingFilesPracticeNameMatch_Insert]
@FileName Varchar(500)
AS

BEGIN

DELETE FROM import.BillingFilesPracticeNameMatch
WHERE [FileName] = @FileName

SELECT ID = IDENTITY(INT,1,1)
	,[DRName]
	,[PRNumber]
	,sp.PracticeName
	,sp.PracticeNr
	,sp.ServiceProviderID
	,sp.Visible
	,PrimaryProvider = CONVERT(bit,0)
	,Exclude = CONVERT(bit,0)
	,Query = CONVERT(bit,0)
	,[FileName]
	,ImportDate = GETDATE()
INTO #TEMP
FROM (SELECT DISTINCT [DRName]
		,[PRNumber]
		,[filename]
		FROM [Import].[BillingFiles]) b
	LEFT JOIN shared.ServiceProvider sp
		ON sp.PracticeNr like '%' + b.PRNumber
		AND b.PRNumber != ''
WHERE [FileName] = @FileName
ORDER BY [DRName], sp.Visible DESC, sp.ServiceProviderID DESC

INSERT INTO import.BillingFilesPracticeNameMatch
SELECT t.[DRName]
	,t.[PRNumber]
	,t.PracticeName
	,t.PracticeNr
	,t.ServiceProviderID
	,t.Visible
	,t.PrimaryProvider
	,t.Exclude
	,t.Query
	,t.[FileName]
	,t.ImportDate
FROM #TEMP t
INNER JOIN (SELECT ID = MAX(ID)
			FROM #TEMP
			GROUP BY DrName, PRNumber, [FileName]) a
	ON a.ID = t.ID
ORDER BY [DRName],t.ServiceProviderID DESC

END

