USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_Members_DRD_InsertRecord]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Import].[usp_Members_DRD_InsertRecord]
	@M_no Varchar(200)
	,@Title Varchar(200)
	,@Surname Varchar(200)
	,@Init Varchar(200)
	,@Name Varchar(200)
	,@ID_Pasport Varchar(200)
	,@DOB Varchar(200)
	,@UserID Varchar(200)
	
AS BEGIN

INSERT INTO [Import].Member
(MemberNumber
, TitleID
, Surname
, Initials
, Name
, IDNumber
, PassportNumber
, PassportExpiryDate
, PeriodInCountryID
, DateOfBirth
, GenderID
, HasMedicalAid
, MedicalAidID
, DateOfBenefit
, DateJoined
, Suspended
, DateSuspended
, SuspendedReasonID
, MedicalAidExhausted
, DateMedicalAidExhausted
, WaitingPeriodApplicable
, MarritalStatusID
, EmployerCountryID
, EmployerAddress
, EmployerAddressCode
, EmployerPhoneNumber
, Pensioner
, MemberStatusID
, MemberCountryID
, MemberAddress1
, MemberAddress2
, MemberAddress3
, MemberAddressCode
, MemberPhoneNumber
, MemberCellNumber
, NextOfKinName
, NextOfKinRelationship
, NextOfKinContactNumber
, MemberLanguageID
, MemberRaceID
, MemberDependents
, FundReinstated
, FundReinstatedDate
, Deceased
, DeceasedDate
, UserID
, MedAidProductID)
VALUES 
(@M_no
, CASE WHEN @Title = 'Mr' THEN 1 
	WHEN @Title = 'Mrs' THEN 2 
	WHEN @Title = 'Miss' THEN 3 
	WHEN @Title = 'Ms' THEN 4 END
,@Surname
,@Init
,@Name
,@ID_Pasport
,@ID_Pasport
, '1900-01-01'
, 1
, CONVERT(DATE,@DOB, 112)
, CASE WHEN @Title = 'Mr' THEN 1 
	WHEN @Title = 'Mrs' THEN 2 
	WHEN @Title = 'Miss' THEN 2 
	WHEN @Title = 'Ms' THEN 2 END
, 1
, 2
, CONVERT(DATE, CONVERT(VARCHAR(6), GETDATE(), 112) + '01', 112)
, CONVERT(DATE, CONVERT(VARCHAR(6), GETDATE(), 112) + '01', 112)
, 0
, CONVERT(DATE, CONVERT(VARCHAR(6), GETDATE(), 112) + '01', 112)
, 1
, 0
, '2025-01-01'
, 0
, 5
, 2
, ''
, ''
, ''
, 0
, 1
, 2
, ''
, ''
, ''
, ''
, ''
, ''
, ''
, ''
, ''
, 1
, 4
, ''
, 0
, GETDATE()
, 0
, NULL
,@UserID
, NULL)



END









GO
