USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_BillingFiles_FileName_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [Import].[usp_BillingFiles_FileName_Select]
AS

BEGIN

SELECT DISTINCT [FileName],[ImportDate]
FROM [Import].[BillingFilesPracticeNameMatch]
ORDER BY [ImportDate]

END


GO
