USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_BillingFiles_FinalImport]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [Import].[usp_BillingFiles_FinalImport]
@FileName Varchar(500)
AS

BEGIN

--Do stuff
Select 1

END


GO
