USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_Members_DRD_Merge]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Import].[usp_Members_DRD_Merge]
	
AS BEGIN

UPDATE shared.Member
SET [SuspendedReasonID] = 7
WHERE MemberNumber NOT IN 
		(SELECT DISTINCT MemberNumber
			FROM Import.Member
			WHERE [MedicalAidID] = 2
			AND MemberNumber <> '')
AND [MedicalAidID] = 2
AND MemberNumber <> ''
AND [SuspendedReasonID] <> 7

UPDATE shared.Member
SET [SuspendedReasonID] = 1
WHERE MemberNumber IN 
		(SELECT DISTINCT MemberNumber
			FROM Import.Member
			WHERE [MedicalAidID] = 2
			AND MemberNumber <> '')
AND [MedicalAidID] = 2
AND [SuspendedReasonID] = 7

INSERT INTO shared.Member
SELECT [MemberNumber]
      ,[TitleID]
      ,[Surname]
      ,[Initials]
      ,[Name]
      ,[IDNumber]
      ,[PassportNumber]
      ,[PassportExpiryDate]
      ,[PeriodInCountryID]
      ,[DateOfBirth]
      ,[GenderID]
      ,[HasMedicalAid]
      ,[MedicalAidID]
      ,[DateOfBenefit]
      ,[DateJoined]
      ,[Suspended]
      ,[DateSuspended]
      ,[SuspendedReasonID]
      ,[MedicalAidExhausted]
      ,[DateMedicalAidExhausted]
      ,[WaitingPeriodApplicable]
      ,[MarritalStatusID]
      ,[EmployerCountryID]
      ,[EmployerAddress]
      ,[EmployerAddressCode]
      ,[EmployerPhoneNumber]
      ,[Pensioner]
      ,[MemberStatusID]
      ,[MemberCountryID]
      ,[MemberAddress1]
      ,[MemberAddress2]
      ,[MemberAddress3]
      ,[MemberAddressCode]
      ,[MemberPhoneNumber]
      ,[MemberCellNumber]
      ,[NextOfKinName]
      ,[NextOfKinRelationship]
      ,[NextOfKinContactNumber]
      ,[MemberLanguageID]
      ,[MemberRaceID]
      ,[MemberDependents]
      ,[FundReinstated]
      ,[FundReinstatedDate]
      ,[Deceased]
      ,[DeceasedDate]
      ,[UserID]
      ,[MedAidProductID] 
	  ,[MBOD_RMA] = 0
FROM Import.Member
WHERE MemberNumber NOT IN 
		(SELECT DISTINCT MemberNumber
			FROM shared.Member
			WHERE [MedicalAidID] = 2
			)
AND MemberNumber <> ''

END









GO
