USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_Nappi_InsertRecord]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Import].[usp_Nappi_InsertRecord]
 @NappiCode Varchar(100)
, @Description Varchar(250)
, @Units int
, @Measure  Varchar(10)
, @Price1 Decimal(10,2)
, @Price2 Decimal(10,2)
, @Date date
	
AS BEGIN

	--IF EXISTS (SELECT 1 FROM [shared].[NappiCodes] WHERE NappiCode = @NappiCode)
	--BEGIN
	--	DECLARE @StartDate Date
	--	DECLARE @StartDateKey int

	--	SELECT @StartDate = StartDate
	--		,@StartDateKey = [NappiID]
	--	FROM [shared].[NappiCodes]
	--	WHERE [NappiCode] = @NappiCode
	--		AND [StartDate] < @Date

	--	IF ((SELECT Price1 FROM [shared].[NappiCodes] WHERE [NappiID] = @StartDateKey) != @Price1)
	--	BEGIN
	--		UPDATE [shared].[NappiCodes]
	--		SET EndDate = DAteAdd(DAY,-1,@Date)
	--		WHERE [NappiID] = @StartDateKey

			INSERT INTO Import.[NappiCodes](NappiCode, Description, Units, Measure, Price1, Price2, StartDate, EndDate)
			SELECT @NappiCode
			, @Description
			, @Units
			, @Measure
			, @Price1
			, @Price2
			, @Date
			, '2999-12-31'
	--	END
	--END
	--ELSE 
	--BEGIN
	--	INSERT INTO [shared].[NappiCodes](NappiCode, Description, Units, Measure, Price1, Price2, StartDate, EndDate)
	--	SELECT @NappiCode
	--	, @Description
	--	, @Units
	--	, @Measure
	--	, @Price1
	--	, @Price2
	--	, @Date
	--	, '2999-12-31'
	--END

END






GO
