USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_Case_Tariff_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

--SELECT * FROM [Tariff].[Case_Tariff] ORDER BY CaseID
--dbo.[usp_Case_Tariff_Select] 98735 -- 3328.91
--Tariff.[usp_Case_Tariff_Select] 153442
ALTER PROCEDURE  [Tariff].[usp_Case_Tariff_Select]-- 103679
	@CaseID int
AS BEGIN

DECLARE @MainClientID int
SELECT @MainClientID = MainClientID
FROM CaseManagement.Cases c 
	INNER JOIN shared.Member m 
		ON c.MemberID = m.MemberID
	INNER JOIN [shared].[MedicalAid] ma
		ON ma.MedicalAidID = m.MedicalAidID
WHERE c.CaseID = @CaseID
--print @MainClientID

DECLARE @ServiceProviderID int
SELECT @ServiceProviderID = ReferToID
FROM CaseManagement.Cases
WHERE CaseID = @CaseID

IF OBJECT_ID('tempdb..#Tariff') IS NOT NULL
    DROP TABLE #Tariff

		SELECT Distinct Code = bt.[TariffCode]
		,Speciality = s.Speciality
		,Value
		,TariffCode
		,Qty = ISNULL(ct.Qty,1)
		,Units = ISNULL(t.Metric,'Qty')
		,MaxQuantity = CASE WHEN t.Metric = 'MaxUnits' THEN t.Quantity ELSE 0 END
		--,stc.[TariffAmount]
		,ProviderRate = CONVERT(DECIMAL(10,2),ISNULL(ISNULL(stc.[TariffAmount],(t.TariffAmount * ((st.[PercentageAdded]/100) + 1))),0))
		,NormalRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,SchemeRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,FinalRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,[Description] = bt.[TariffDescription]
		,bt.BaseTariffID
		,t.StartDate
		,t.EndDate
		,t.TariffID
		,ct.DateOfProcedure
		,SPTariffID = ''--stc.TariffID
		,bt.[SpecialityID]
		,ServiceProviderID = ReferToID
		,c.CaseID
		,ct.DateInserted
		,t.TariffNameID
		--,SpSpeciality = CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END
		,TariffDescription
		,ct.UserID
		,CaseID_TariffID
		,Color = 'White'
		,[AgreedRateOverride] = CASE WHEN [AgreedRateOverride] = 0 THEN NULL ELSE [AgreedRateOverride] END
		,[ValueIsTotal]
		,Rejected
		,FullValue = Value
		,PercentageAdded = (st.[PercentageAdded]/100) + 1
		,cou.VAT
		,sp.TariffInclVAT
		,PenaltyPercentage = ISNULL(c.PenaltyPercentage,0)
	INTO #Tariff
	FROM Tariff.Case_Tariff ct
		LEFT JOIN CaseManagement.Cases c
			ON c.CaseID = ct.CaseID
		--Add [TariffStructureID] for Botswana
		LEFT JOIN Shared.Member m on c.MemberID = m.MemberID
		LEFT JOIN shared.ServiceProvider sp on sp.ServiceProviderID = c.ReferToID
		LEFT JOIN Shared.Country cou on sp.CountryID = cou.CountryID
		LEFT JOIN shared.MedicalAid ma on ma.MedicalAidID = m.MedicalAidID
		LEFT JOIN shared.MainClient mc on mc.MainClientID = ma.MainClientID
		LEFT JOIN Tariff.[Tariff] t
			ON t.TariffID = ct.TariffID
		LEFT JOIN Tariff.[BaseTariff] bt
			ON bt.BaseTariffID = t.BaseTariffID
				AND bt.TariffStructureID = sp.TariffStructureID
		LEFT JOIN [shared].[Speciality] s
			ON s.SpecialityID = bt.SpecialityID
		LEFT JOIN Tariff.[ServiceProvider_Tariff_Custom] stc
			ON t.BaseTariffID = stc.BaseTariffID
			AND stc.ServiceProviderID = @ServiceProviderID
			AND @MainClientID = CASE WHEN @MainClientID = -1 THEN @MainClientID ELSE stc.MainClientID END -- Change so that you do not have to specify the main client
			AND ct.DateOfProcedure BETWEEN ISNULL(stc.[StartDate],t.StartDate) AND ISNULL(stc.[EndDate], ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
			AND stc.[StartDate] IS NOT NULL
		LEFT JOIN [Tariff].[ServiceProvider_Tariff] st
			ON t.[TariffNameID] = st.[TariffNameID]
			AND st.ServiceProviderID = @ServiceProviderID
			AND st.MainClientID = @MainClientID
			AND ct.DateOfProcedure BETWEEN ISNULL(st.StartActiveDate,t.StartDate) AND ISNULL(st.EndActiveDate, ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
	WHERE ct.CaseID = @CaseID


UPDATE #Tariff
SET FinalRate = ISNULL(ISNULL(
--ISNULL(SchemeRate,
[AgreedRateOverride],ProviderRate),NormalRate)
				 * (CASE WHEN MaxQuantity > 0 THEN MaxQuantity ELSE Qty END) * 
					(CASE WHEN TariffInclVAT = 1 THEN (VAT+100)/100 ELSE 1 END)

UPDATE #Tariff
SET FullValue = FullValue * Qty
WHERE ValueIsTotal = 0

SELECT Distinct
	TariffCode
	,Value
	,Qty
	,FullValue
	,AgreedRate = FinalRate
	,Discount = ISNULL(cd.Discount,ISNULL(d.Discount,0))
	,MaxQuantity
	,DateOfProcedure
	,TariffDescription
	,DiscountValue = ISNULL(cd.Discount,ISNULL(d.Discount,0))/100 --Discount
					* (FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
	,TotalPayable = (FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
					- ISNULL(cd.Discount,ISNULL(d.Discount,0))/100 --Discount
					* 
					(FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
	,TotalOvercharged = CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END
	,TotalPenalty = CONVERT(DECIMAL(12,2),0)
	,PenaltyPercentage
	,DateInserted
	,t.CaseID
    ,TariffID
    ,UserID
    ,Seq = CaseID_TariffID
    ,t.BaseTariffID
	,Rejected
	,[AgreedRateOverride]
	,[ValueIsTotal]
	,Colour = CASE WHEN Rejected = 1 THEN 'Orange'
					WHEN ((FullValue - FinalRate)/CASE WHEN FinalRate = 0 THEN 1 ELSE FinalRate END) > 0.001 AND FinalRate > 0
					THEN 'Red'
					WHEN ((FullValue - FinalRate)/CASE WHEN FinalRate = 0 THEN 1 ELSE FinalRate END) BETWEEN 0.001 AND 0.05 AND FinalRate > 0
					THEN 'White' ELSE 'White' END 
INTO #TariffFinal
FROM #Tariff t
LEFT JOIN finance.ServiceProvider_MainClient_Discount d
	ON t.ServiceProviderID = d.ServiceProviderID
		AND d.MainClientID = @MainClientID
LEFT JOIN finance.Case_Discount cd
	ON cd.CaseID = t.CaseID
	
UPDATE #TariffFinal
SET Discount = 0
,AgreedRate = 0
,TotalOvercharged = Value
,TotalPayable = 0
WHERE rejected = 1

UPDATE #TariffFinal
SET TotalPenalty = TotalPayable * (PenaltyPercentage/100)
	,TotalPayable = TotalPayable - (TotalPayable * (PenaltyPercentage/100))

--SELECT FinalRate = ISNULL(ISNULL(
--[AgreedRateOverride],ProviderRate),NormalRate)
--				 * (CASE WHEN MaxQuantity > 0 THEN MaxQuantity ELSE Qty END) * 
--					(CASE WHEN TariffInclVAT = 1 THEN (VAT+100)/100 ELSE 1 END)
--	,(CASE WHEN TariffInclVAT = 1 THEN (VAT+100)/100 ELSE 1 END)
--	,(CASE WHEN MaxQuantity > 0 THEN MaxQuantity ELSE Qty END)
--	,TariffInclVAT
--	,(VAT+100)/100
--	,VAT
--FROM  #Tariff

SELECT * FROM #TariffFinal
SELECT * FROM #Tariff
DROP TABLE #Tariff
DROP TABLE #TariffFinal


END










GO
