USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_Tariff_SelectClients]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE  [Tariff].[usp_Tariff_SelectClients]
    @ServiceProviderID int
    ,@TariffPeriodName date
    --,@StartDate date
    --,@EndDate date
    --,@UserID Varchar(200)
AS BEGIN

SELECT spt.MainClientID, MainClientName, TariffNameID, TariffPeriodName, PercentageAdded
FROM Tariff.[ServiceProvider_Tariff] spt
INNER JOIN [shared].[MainClient] mc
	ON spt.MainClientID = mc.MainClientID
WHERE @TariffPeriodName BETWEEN StartActiveDate AND ISNULL(EndActiveDate,DATEADD(YEAR,1,GETDATE()))
	AND ServiceProviderID = @ServiceProviderID
ORDER BY MainClientID

END













GO
