USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_ServiceProvider_Tariff_Select_ById]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

ALTER PROCEDURE  [Tariff].[usp_ServiceProvider_Tariff_Select_ById]-- 192576,68,'2015/08/01',5
	@ServiceProviderID INT
	,@SpecialityID int
	,@EffectiveDate Date
	,@MainClientID INT
AS 
BEGIN

	SELECT DISTINCT Code = bt.[TariffCode]
	,Speciality = bt.[SpecialityID]
	,Qty = ISNULL(t.Quantity,1)
	,Units = ISNULL(t.Metric,'Qty')
	,ProviderRate = CONVERT(DECIMAL(10,2),ISNULL(ISNULL(stc.[TariffAmount],(t.TariffAmount * ((st.[PercentageAdded]/100) + 1))),0))
	,SchemeRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
	,FinalRate = CONVERT(DECIMAL(10,2),CASE --WHEN ISNULL(t_mct.TariffAmount,0) <> 0 THEN t_mct.TariffAmount
						WHEN ISNULL(stc.[TariffAmount],0) <> 0 THEN stc.[TariffAmount]
						ELSE ISNULL(t.TariffAmount,0) 
					END * ((st.[PercentageAdded]/100) + 1))
	,[Description] = bt.[TariffDescription]
	,bt.BaseTariffID
	,t.StartDate
	,t.EndDate
	,t.TariffID
	,stc.ServiceProviderID
	,stc.MainClientID
FROM Tariff.[BaseTariff] bt
	LEFT JOIN Tariff.[Tariff] t
		ON bt.BaseTariffID = t.BaseTariffID
		AND bt.TariffStructureID = (SELECT TOP(1) TariffStructureID 
									FROM shared.ServiceProvider
									WHERE ServiceProviderID = @ServiceProviderID)

	INNER JOIN [Tariff].[ServiceProvider_Tariff] st
		ON t.[TariffNameID] = st.[TariffNameID]
		AND st.ServiceProviderID = @ServiceProviderID
		AND st.MainClientID = @MainClientID
		AND @EffectiveDate BETWEEN st.StartActiveDate AND ISNULL(st.EndActiveDate,@EffectiveDate)
	LEFT JOIN Tariff.[ServiceProvider_Tariff_Custom] stc
		ON t.BaseTariffID = stc.BaseTariffID
		AND stc.ServiceProviderID = @ServiceProviderID
		AND stc.MainClientID = @MainClientID
		AND @EffectiveDate BETWEEN ISNULL(stc.[StartDate],st.StartActiveDate) AND ISNULL(stc.[EndDate], ISNULL(st.EndActiveDate,GetDate()))
		AND stc.[StartDate] IS NOT NULL
WHERE SpecialityID = @SpecialityID
	AND st.MainClientID = @MainClientID
	AND @EffectiveDate BETWEEN ISNULL(t.[StartDate],st.StartActiveDate) AND ISNULL(t.[EndDate], ISNULL(st.EndActiveDate,GetDate()))
ORDER BY Code
END






GO
