USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_ServiceProvider_Tariff_Custom_Insert_FromExcel]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

--SELECT * FROM Tariff.BaseTariff
--WHERE BaseTariffID = '11_001'
-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 2014-02-09
-- Description:	
-- =============================================
ALTER PROCEDURE   [Tariff].[usp_ServiceProvider_Tariff_Custom_Insert_FromExcel]-- 192576,'001',17.54,1,'2015-01-01',61,11,'test desc','Jaco'
	-- Add the parameters for the stored procedure here
	@ServiceProviderID INT
    ,@TariffCode VARCHAR(20)
    ,@TariffAmount DECIMAL(10,2)
	,@MainClientID INT
	,@TariffPeriodName DATE
	,@TariffNameID INT
	,@SpecialityID INT = -1
    ,@Description VARCHAR(500)
	,@UserID Varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @TariffStructure VARCHAR(3)

	SELECT @TariffStructure = [TariffStructureID]
	FROM [shared].[ServiceProvider]
	WHERE ServiceProviderID = @ServiceProviderID

	CREATE TABLE #Temp (
		[ServiceProviderID] [int] NOT NULL,
		[BaseTariffID] [Varchar](20) NOT NULL,
		[MainClientID] [int] NULL,
		[TariffAmount] [decimal](10, 2) NULL,
		[StartDate] [DATE] NULL,
		[EndDate] [DATE] NULL
	) ON [PRIMARY]


	IF @SpecialityID = -1
	BEGIN
		INSERT INTO #Temp
		SELECT ServiceProviderID = @ServiceProviderID
			, BaseTariffID
			, MainClientID = @MainClientID
			, TariffAmount = @TariffAmount
			, [StartDate] = @TariffPeriodName
			, [EndDate] = NULL
		FROM Tariff.Tariff
		WHERE BaseTariffID LIKE '%_' + Convert(VARCHAR(20),@TariffCode)
			AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DATEADD(YEAR,1,GetDate()))
			AND TariffNameID = @TariffNameID
	END
	ELSE BEGIN

		--Check if Base Tariff exists
		IF ISNULL((SELECT COUNT(1) 
		FROM [Tariff].[BaseTariff]
		WHERE BaseTariffID = RIGHT('0'+ @SpecialityID,2) + '_' + Convert(VARCHAR(20),@TariffCode)
			AND TariffStructureID = @TariffStructure),0) = 0
		BEGIN --If Base Tariff does not exist
			INSERT INTO [Tariff].[BaseTariff]
				(BaseTariffID, TariffStructureID, TariffCode, SpecialityID, TariffDescription, UserID, StartDate, EndDate, ChargeCodes)
			VALUES
				(RIGHT('0'+ @SpecialityID,2) + '_' + Convert(VARCHAR(20),@TariffCode)
				, @TariffStructure
				, @TariffCode
				, RIGHT('0'+ @SpecialityID,2)
				, @Description
				, @UserID
				, NULL, NULL, NULL)
		END

		--check if Tariff exixts
		IF ISNULL((SELECT COUNT(1) 
			FROM Tariff.[Tariff]
			WHERE BaseTariffID = RIGHT('0'+ @SpecialityID,2) + '_' + Convert(VARCHAR(20),@TariffCode)
				AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DATEADD(YEAR,1,GetDate()))
				AND TariffNameID = @TariffNameID),0) = 0
			BEGIN--If Tariff does not exist
				

				--Insert Tariff Record
				INSERT INTO [Tariff].[Tariff]
					(BaseTariffID, TariffNameID, TariffAmount, Metric, Quantity, StartDate, EndDate, UserID, TariffPeriodName)
				VALUES
					(RIGHT('0'+ @SpecialityID,2) + '_' + Convert(VARCHAR(20),@TariffCode)
					,@TariffNameID
					,0 --TariffAmount
					,NULL--Metric
					,NULL--Quantity
					,(SELECT MIN(StartDate) FROM Tariff.Tariff WHERE TariffNameID = @TariffNameID AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DateAdd(Day,1,@TariffPeriodName)))
					,(SELECT MAX(EndDate) FROM Tariff.Tariff WHERE TariffNameID = @TariffNameID AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DateAdd(Day,1,@TariffPeriodName)))
					,@UserID
					,(SELECT MAX(TariffPeriodName) FROM Tariff.Tariff WHERE TariffNameID = @TariffNameID AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DateAdd(Day,1,@TariffPeriodName)))
					)
			END

			INSERT INTO #Temp
			SELECT ServiceProviderID = @ServiceProviderID
				, BaseTariffID
				, MainClientID = @MainClientID
				, TariffAmount = @TariffAmount
				, [StartDate] = @TariffPeriodName
				, [EndDate] = NULL
			FROM Tariff.[Tariff]
			WHERE BaseTariffID = RIGHT('0'+ @SpecialityID,2) + '_' + Convert(VARCHAR(20),@TariffCode)
				AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DATEADD(YEAR,1,GetDate()))
				AND TariffNameID = @TariffNameID
	END

	UPDATE stc
	SET stc.EndDate = DATEADD(DAY,-1,t.StartDate)
	FROM #Temp t
	LEFT JOIN Tariff.[ServiceProvider_Tariff_Custom] stc
		ON t.ServiceProviderID = stc.ServiceProviderID
		AND t.BaseTariffID = stc.BaseTariffID COLLATE DATABASE_DEFAULT
		AND t.MainClientID = stc.MainClientID
		AND t.StartDate > stc.StartDate
		AND (stc.EndDate IS NULL OR stc.EndDate > t.StartDate)
	--WHERE [ServiceProvider_Tariff_CustomID] IS NULL

	INSERT INTO Tariff.[ServiceProvider_Tariff_Custom](ServiceProviderID, BaseTariffID, MainClientID, TariffAmount, StartDate, EndDate)
	SELECT t.ServiceProviderID, t.BaseTariffID, t.MainClientID, t.TariffAmount, t.StartDate, t.EndDate
	FROM #Temp t
	LEFT JOIN Tariff.[ServiceProvider_Tariff_Custom] stc
		ON t.ServiceProviderID = stc.ServiceProviderID
		AND t.BaseTariffID = stc.BaseTariffID COLLATE DATABASE_DEFAULT
		AND t.MainClientID = stc.MainClientID
		AND t.StartDate = stc.StartDate
	WHERE [ServiceProvider_Tariff_CustomID] IS NULL

	UPDATE A
	SET A.TariffAmount = t.TariffAmount
	FROM Tariff.[ServiceProvider_Tariff_Custom] A
	INNER JOIN #Temp t
		ON A.ServiceProviderID = t.ServiceProviderID
		AND A.BaseTariffID = t.BaseTariffID COLLATE DATABASE_DEFAULT
		AND A.MainClientID = t.MainClientID
		AND t.StartDate = a.StartDate
END

GO
