USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_Tariff_SelectDistinctPeriods]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/****** Script for SelectTopNRows command from SSMS  ******/
CREATE PROCEDURE  [Tariff].[usp_Tariff_SelectDistinctPeriods]
AS
BEGIN
SELECT DISTINCT [TariffPeriodName]
  FROM Tariff.[Tariff]
  ORDER BY [TariffPeriodName] DESC
  END






GO
