USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_ServiceProvider_Tariff_Custom_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 2013-07-06
-- Description:	
-- =============================================
CREATE PROCEDURE  [Tariff].[usp_ServiceProvider_Tariff_Custom_Insert]
	-- Add the parameters for the stored procedure here
	@ServiceProviderID int
           --,@TariffNameID int
           ,@BaseTariffID Varchar(20)
           ,@TariffAmount Decimal(10,2)
		   ,@MainClientID int
		   ,@TariffPeriodName date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(SELECT COUNT(1) FROM Tariff.[ServiceProvider_Tariff_Custom]
		WHERE [ServiceProviderID] = @ServiceProviderID
           AND BaseTariffID = @BaseTariffID
		   AND MainClientID = @MainClientID
		   AND @TariffPeriodName > StartDate--AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DATEADD(YEAR,1,GetDate()))
		   ) = 0
	BEGIN

		UPDATE Tariff.[ServiceProvider_Tariff_Custom]
		SET EndDate = DATEADD(DAY,-1,@TariffPeriodName)
		WHERE ServiceProviderID = @ServiceProviderID
			AND BaseTariffID = @BaseTariffID
			AND MainClientID = @MainClientID
			AND (EndDate IS NULL OR EndDate > @TariffPeriodName)

		INSERT INTO Tariff.[ServiceProvider_Tariff_Custom]
			   (ServiceProviderID
			   ,BaseTariffID
			   ,MainClientID
			   ,TariffAmount
			   ,StartDate
			   ,EndDate)
		 VALUES
			   (@ServiceProviderID
			   ,@BaseTariffID
			   ,@MainClientID
			   ,@TariffAmount
			   ,@TariffPeriodName
			   ,null
			   )
	END
	ELSE BEGIN
		UPDATE Tariff.[ServiceProvider_Tariff_Custom]
		SET [TariffAmount] = @TariffAmount
		WHERE [ServiceProviderID] = @ServiceProviderID
			AND BaseTariffID = @BaseTariffID
			AND MainClientID = @MainClientID
			AND @TariffPeriodName BETWEEN StartDate AND ISNULL(EndDate,DATEADD(YEAR,1,GetDate()))
	END
END



GO
