USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [Tariff].[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate]
@TariffCode Varchar(50)
,@ServiceProviderID int
,@TreatmentDate Date
,@MainClientID int
AS BEGIN

--DECLARE @TariffCode Varchar(50)
--DECLARE @ServiceProviderID int
--DECLARE @TreatmentDate DateTime
--DECLARE @MainClientID int

--SET @TariffCode = '58231'
--SET @ServiceProviderID = '225929'
--SET @TreatmentDate = '2015/08/18'
--SET @MainClientID = '4'

--SET @TariffCode = @TariffCode + '*'


IF OBJECT_ID('tempdb..#Tariff') IS NOT NULL
    DROP TABLE #Tariff

	SELECT Distinct Code = bt.[TariffCode]
		,Speciality = s.Speciality
		,Qty = ISNULL(t.Quantity,1)
		,Units = ISNULL(t.Metric,'Qty')
		,ProviderRate = CONVERT(DECIMAL(10,2),ISNULL(ISNULL(stc.[TariffAmount],(t.TariffAmount * ((st.[PercentageAdded]/100) + 1))),0))
		,NormalRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,SchemeRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,FinalRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,[Description] = bt.[TariffDescription]
		,bt.BaseTariffID
		,t.StartDate
		,t.EndDate
		,t.TariffID
		--,SPTariffID = stc.TariffID
		,bt.[SpecialityID]
		,SpSpeciality = CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END
		,stc.ServiceProviderID
		,DateOfProcedure = @TreatmentDate
		,st.TariffNameID
		,st.MainClientID
	INTO #Tariff
	FROM Tariff.[BaseTariff] bt
		LEFT JOIN Tariff.[Tariff] t
			ON bt.BaseTariffID = t.BaseTariffID
		AND bt.TariffStructureID = (SELECT TOP(1) TariffStructureID 
									FROM shared.ServiceProvider
									WHERE ServiceProviderID = @ServiceProviderID)

		LEFT JOIN Tariff.[ServiceProvider_Tariff_Custom] stc
			ON t.BaseTariffID = stc.BaseTariffID
			AND stc.ServiceProviderID = @ServiceProviderID
			AND @MainClientID = CASE WHEN @MainClientID = -1 THEN @MainClientID ELSE stc.MainClientID END -- Change so that you do not have to specify the main client
			AND @TreatmentDate BETWEEN ISNULL(stc.[StartDate],t.StartDate) AND ISNULL(stc.[EndDate], ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
			AND stc.[StartDate] IS NOT NULL
		INNER JOIN [Tariff].[ServiceProvider_Tariff] st
			ON t.[TariffNameID] = st.[TariffNameID]
			AND st.ServiceProviderID = @ServiceProviderID
			AND @MainClientID = CASE WHEN @MainClientID = -1 THEN @MainClientID ELSE st.MainClientID END  -- Change so that you do not have to specify the main client
			AND @TreatmentDate BETWEEN ISNULL(st.StartActiveDate,t.StartDate) AND ISNULL(st.EndActiveDate, ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
		LEFT JOIN [shared].[Speciality] s
			ON s.SpecialityID = bt.SpecialityID
		LEFT JOIN [shared].[ServiceProvider] sp
			ON sp.SpecialityID = s.SpecialityID
				AND STc.ServiceProviderID = sp.ServiceProviderID
	WHERE  
		@TreatmentDate BETWEEN t.StartDate AND ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate()))
		AND (bt.TariffCode LIKE LTRIM(RTRIM(REPLACE(@TariffCode,'*','%')))
			OR bt.TariffCode LIKE LTRIM(RTRIM(REPLACE(@TariffCode,'*','%')) + '/%')
			)


UPDATE #Tariff
SET FinalRate = ISNULL(ProviderRate,NormalRate)

	SELECT * FROM #Tariff

	SELECT @TariffCode
	
    DROP TABLE #Tariff

END


--EXEC [dbo].[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate] '002',225783,'2015/07/14 12:20:24 PM',5
--EXEC Tariff.[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate] '002',225783,'2015/07/14 12:20:24 PM',5











GO
