USE [MedManage]
GO
/****** Object:  StoredProcedure [Updates].[usp_AppUpdates_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [Updates].[usp_AppUpdates_Select] 
    --@ExclusionID int
AS BEGIN

SELECT AppUpdates.UpdateID
	, AppUpdates.UpdatePath
	, AppUpdates.UpdateComments
	, ClientUpdates.ClientComputerName
	, AppUpdates.AppVersion
FROM Updates.AppUpdates 
	LEFT OUTER JOIN Updates.ClientUpdates ON AppUpdates.UpdateID = ClientUpdates.UpdateID
WHERE AppUpdates.UpdateID = 
	(SELECT MAX(UpdateID) from Updates.AppUpdates)

END








GO
