USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Nappi_InsertRecord_Truncate]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Nappi_InsertRecord_Truncate]
	
AS BEGIN

TRUNCATE TABLE Import.NappiCodes
END


GO
