USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MarritalStatus_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MarritalStatus_Select] 
   -- @MarritalStatusID int
AS BEGIN
SELECT MarritalStatusID
    ,MarritalStatus
FROM shared.MarritalStatus
--WHERE MarritalStatusID = @MarritalStatusID
END








GO
