USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_SelectDistinctDetails]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Tariff_SelectDistinctDetails] 
    --@TariffID int
AS BEGIN
SELECT DISTINCT TariffName
	,StartDate
	,EndDate
	
FROM shared.Tariff
	INNER JOIN shared.TariffName ON TariffName.TariffNameID = Tariff.TariffNameID 
--WHERE TariffID = @TariffID
END







GO
