USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Changed 1.0.7.9
ALTER PROCEDURE [dbo].[usp_Case_Billing_Select] 
@ServiceProviderID int
,@ReceivedStartDate date
,@ReceivedEndDate Date
AS
SELECT AccountDate
	, AccountToDate
	, AccountNumber
	, DateReceived
	, Submitted
	, DateSubmitted
	, Reported
	, DateReported
	, ReceivedByName
	, PatientName
	, PatientInitials
	, PatientSurname
	, AmountDue
	, Discount
	, Penalty
	, DatePaid
	, Remittance
	, Amount
	, BillingStatusID
	, DateInserted
	, UserID
	, Case_BillingID
	, CaseID
	, ServiceProviderID
FROM [CaseManagement].[Case_Billing]
WHERE ServiceProviderID = @ServiceProviderID
	AND DateReceived BETWEEN @ReceivedStartDate AND @ReceivedEndDate



GO
