USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Tariff_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Case_Tariff_Update] 
    @CaseID int
    ,@TariffID int
    ,@Value decimal(10,2)
    ,@DateOfProcedure date
    ,@DateInserted date
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Case_Tariff
SET  Value = @Value
    ,DateOfProcedure = @DateOfProcedure
    ,DateInserted = @DateInserted
    ,UserID = @UserID
WHERE CaseID = @CaseID
    AND TariffID = @TariffID

END







GO
