USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Maint_SelectClients]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Tariff_Maint_SelectClients]
    @ServiceProviderID int
    ,@TariffPeriodName Varchar(4)
    --,@StartDate date
    --,@EndDate date
    --,@UserID Varchar(200)
AS BEGIN

SELECT spt.MainClientID, MainClientName, TariffNameID, TariffPeriodName
FROM [shared].[ServiceProvider_Tariff] spt
INNER JOIN [shared].[MainClient] mc
	ON spt.MainClientID = mc.MainClientID
WHERE TariffPeriodName = @TariffPeriodName
	AND ServiceProviderID = @ServiceProviderID

END








GO
