USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Exclusion_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_Exclusion_Update] 
    @CaseID int
    ,@ExclusionID int
    ,@Comment varchar(MAX)
    ,@DateInserted date
    ,@UserID varchar(100)
AS BEGIN
UPDATE CaseManagement.Case_Exclusion
SET   Comment = @Comment
    ,DateInserted = @DateInserted
    ,UserID = @UserID
WHERE CaseID = @CaseID
    AND ExclusionID = @ExclusionID

END








GO
