USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_NappiCodes_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Case_NappiCodes_Delete] 
   @CaseID_NappiID int
AS BEGIN
DELETE FROM CaseManagement.Case_NappiCodes
WHERE CaseID_NappiID = @CaseID_NappiID
END









GO
