USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Episode_Insert]
    @EpisodeDescription Varchar(MAX)
    ,@MemberID int
    ,@UserID varchar(200)
    ,@DateCreated date
AS BEGIN
INSERT INTO CaseManagement.Episode
VALUES(@EpisodeDescription
,@MemberID
,@DateCreated
,@UserID
)

SELECT @@IDENTITY

END








GO
