USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Select_ByNameID_Period_HospitalType]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[usp_Tariff_Select_ByNameID_Period_HospitalType] 
    @TariffNameID int
    ,@TariffPeriodName Varchar(4)
    ,@HospitalTypeID int
AS BEGIN
SELECT tn.TariffName
	,ht.HospitalTypeName
	,bt.TariffCode
	,bt.TariffDescription
	,t.Tariff
	,t.StartDate
	,t.EndDate
	,t.TariffID
FROM shared.Tariff t
	INNER JOIN shared.BaseTariff bt ON t.BaseTariffID = bt.BaseTariffID
	INNER JOIN shared.HospitalType ht ON bt.GroupPracticeNr = ht.HospitalTypeID
	INNER JOIN shared.TariffName tn ON t.TariffNameID = tn.TariffNameID
WHERE t.TariffNameID = @TariffNameID
	AND TariffPeriodName = @TariffPeriodName
	AND HospitalTypeID = @HospitalTypeID
ORDER BY ht.HospitalTypeName
	,bt.TariffDescription
END






GO
