USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_SuspendedReason_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE  [dbo].[usp_SuspendedReason_Select] 
   -- @LanguageID int
AS BEGIN
SELECT SuspendedReasonID
    ,SuspendedReason
FROM shared.SuspendedReason
--WHERE LanguageID = @LanguageID
END










GO
