USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_PeriodInCountry_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_PeriodInCountry_Insert]
    @PeriodInCountry varchar(50)
AS BEGIN
INSERT INTO CaseManagement.PeriodInCountry
VALUES(@PeriodInCountry
)END








GO
