USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_PeriodInCountry_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_PeriodInCountry_Update] 
    @PeriodInCountryID int
    ,@PeriodInCountry varchar(50)
AS BEGIN
UPDATE CaseManagement.PeriodInCountry
SET   PeriodInCountry = @PeriodInCountry
WHERE PeriodInCountryID = @PeriodInCountryID

END








GO
