USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Exclusion_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_Exclusion_Select] 
	@CaseID int
AS BEGIN
SELECT Exclusion
	, ce.Comment
	, ce.DateInserted
	, ce.UserID
	, ce.CaseID
	, ce.ExclusionID
FROM CaseManagement.Case_Exclusion ce
	INNER JOIN shared.Exclusion ex ON ex.ExclusionID = ce.ExclusionID
WHERE CaseID = @CaseID
END








GO
