USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_ChronicIllness_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Member_ChronicIllness_Update] 
    @MemberID int
    ,@ChronicIllnessID int
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.Member_ChronicIllness
SET   MemberID = @MemberID
    ,ChronicIllnessID = @ChronicIllnessID
    ,UserID = @UserID

END








GO
