USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_Comment_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Changed 1.0.7.9
ALTER PROCEDURE  [Finance].[usp_Case_Billing_Comment_Select]
	@Case_BillingID int
AS BEGIN

SELECT [Comment]
      ,[DateInserted]
      ,[UserID]
	  ,[Case_Billing_CommentID]
      ,[Case_BillingID]
FROM [CaseManagement].[Case_Billing_Comment]
WHERE Case_BillingID = @Case_BillingID

END











GO
