USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Tariff_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_ServiceProvider_Tariff_Update]
	@ServiceProviderID INT
	,@TariffNameID INT
	,@MainClientID INT
	,@TariffPeriodName INT
AS 
BEGIN

IF NOT((SELECT COUNT([ServiceProviderID]) FROM [shared].[ServiceProvider_Tariff]
		WHERE ServiceProviderID = @ServiceProviderID
			AND MainClientID = @MainClientID
			AND TariffPeriodName = @TariffPeriodName) > 0)
BEGIN
	INSERT INTO [shared].[ServiceProvider_Tariff] (ServiceProviderID, TariffNameID, MainClientID, StartActiveDate, EndActiveDate, TariffPeriodName)
	SELECT @ServiceProviderID,@TariffNameID, @MainClientID, null,null,@TariffPeriodName
END

	--DECLARE @ServiceProviderID INT
	--,@TariffNameID int

	--SET @ServiceProviderID = 3
	--Set  @TariffNameID = 9

	UPDATE [shared].[ServiceProvider_Tariff_Custom]
	SET [TariffID] = fin.tariffID
	FROM [shared].[Tariff] orig
	LEFT JOIN [shared].[Tariff] fin
	ON orig.BaseTariffID = fin.BaseTariffID
		AND orig.StartDate = fin.StartDate
	WHERE orig.TariffNameID = (SELECT distinct TariffNameID 
								FROM [shared].[ServiceProvider_Tariff]
								WHERE ServiceProviderID = @ServiceProviderID
									AND MainClientID = @MainClientID
									AND TariffPeriodName = @TariffPeriodName)
		AND fin.TariffNameID = @TariffNameID
		AND [ServiceProvider_Tariff_Custom].TariffID = orig.[TariffID]


	UPDATE [shared].ServiceProvider_Tariff
	SET TariffNameID = @TariffNameID
	WHERE ServiceProviderID = @ServiceProviderID
		AND MainClientID = @MainClientID
		AND TariffPeriodName = @TariffPeriodName

END

--INSERT INTO [shared].[ServiceProvider_Tariff]
--SELECT Distinct [ServiceProviderID],4
--FROM [shared].[ServiceProvider]









GO
