USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Images_CaseUpdate_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20130922
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Images_CaseUpdate_Insert]
	-- Add the parameters for the stored procedure here
	@ImageCategoryID int = 1 
	,@Name Varchar(100)
	,@Image Varbinary(MAX)
	,@CaseID INT
	,@UserID Varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO [MedManage_Images].[CaseUpdate].[Images]
           ([ImageCategoryID]
           ,[DateAdded]
           ,[Name]
           ,[Image]
           ,[CaseID]
           ,[UserID])
     VALUES
           (@ImageCategoryID
           ,GetDate()
           ,@Name
           ,@Image
           ,@CaseID
           ,@UserID)

END




GO
