USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_LinkToCase]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_LinkToCase] 
    @CaseID INT
AS BEGIN

UPDATE CaseManagement.Case_Billing
SET CaseID = -1
WHERE CaseID = @CaseID

UPDATE CaseManagement.Case_Billing
SET CaseID = @CaseID
FROM CaseManagement.Cases
WHERE Cases.AccountNr = Case_Billing.AccountNumber
	AND Cases.ReferToID = Case_Billing.ServiceProviderID
	AND Cases.CaseID = @CaseID


END




GO
