USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[zzusp_Tariff_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[zzusp_Tariff_Select] 
    --@TariffID int
AS BEGIN
SELECT
	TariffCode = CONVERT(VARCHAR,TariffCode) + '_' + CONVERT(VARCHAR,GroupPracticeNr)
    ,GroupPracticeNr
    ,TariffDescription = CONVERT(VARCHAR,TariffCode) + '_' + CONVERT(VARCHAR,GroupPracticeNr) + '_' + TariffDescription
   
FROM shared.Tariff
--WHERE TariffID = @TariffID
END

GO
