USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Nappi_InsertRecord]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Nappi_InsertRecord]
	
AS BEGIN

SELECT i.* 
,OldNappiID = n.NappiID
INTO #Changed
FROM Import.NappiCodes i
INNER JOIN shared.NappiCodes n
	ON i.nappiCode = n.NappiCode
	AND n.Price1 <> i.Price1
	AND n.EndDate = '2999-12-31'
	AND n.[Description] = i.[Description]

UPDATE N
SET EndDate = DateAdd(DAY,-1,c.StartDate)
FROM shared.NappiCodes N
INNER JOIN #Changed c
	ON c.OldNappiID = n.NappiID

INSERT INTO shared.NappiCodes
SELECT NappiCode
, [Description]
, Units
, Measure
, Price1
, Price2
, StartDate
, EndDate
FROM Import.NappiCodes
WHERE NappiCode NOT IN(SELECT DISTINCT NappiCode FROM shared.NappiCodes)

DROP TABLE #Changed

--TRUNCATE TABLE Import.NappiCodes

END



GO
