USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Exclusion_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MedicalAid_Exclusion_Select] 
AS BEGIN
SELECT MedicalAidID
    ,BaseTariffID
    ,UserID
FROM shared.MedicalAid_Exclusion
END








GO
