USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_NappiCodes_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Case_NappiCodes_Insert]
    @CaseID_NappiID int
    ,@CaseID int
    ,@NappiID int
    ,@Value Decimal(10,2)
    ,@Quantity Decimal(6,2)
    ,@Dispensary bit
    ,@Ward bit
    ,@Theater bit
    ,@TTO bit
    ,@0201 bit
    ,@Date Date
    ,@UserID varchar(200)
AS BEGIN

IF (@CaseID_NappiID <> -1)
	BEGIN
		UPDATE CaseManagement.Case_NappiCodes
		SET   Value = @Value
		, Quantity = @Quantity
		, Dispensary = @Dispensary
		, Ward = @Ward
		, Theater = @Theater
		, TTO = @TTO
		, [0201] = @0201
		, [Date] = @Date
		, UserId = @UserId
		WHERE CaseID_NappiID = @CaseID_NappiID
		SELECT @CaseID_NappiID
	END
ELSE
	BEGIN
		INSERT INTO CaseManagement.Case_NappiCodes
		VALUES(@CaseID
			, @NappiID
			, @Value
			, @Quantity
			, @Dispensary
			, @Ward
			, @Theater
			, @TTO
			, @0201
			, @Date
			, @UserId
		)
		SELECT MAX(CaseID_NappiID) FROM CaseManagement.Case_NappiCodes
	END



END









GO
