USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_ChargeFromProviderPerTariff]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * FROM shared.ServiceProvider

CREATE PROCEDURE [dbo].[usp_rpt_ChargeFromProviderPerTariff]
@PracticeNr Varchar(100)
,@DateFrom Date
,@DateTo Date
,@TariffCode Varchar(10) = '0'
AS

BEGIN

--DECLARE @PracticeNr Varchar(100)
--DECLARE @DateFrom Date
--DECLARE @DateTo Date
--DECLARE @TariffCode Varchar(10)

--SET @PracticeNr = '808413'
--SET @DateFrom = '2015-01-01'
--SET @DateTo = '2015-12-31'
--SET @TariffCode = '001'

IF OBJECT_ID('tempdb..#Tariff') IS NOT NULL
    DROP TABLE #Tariff
IF OBJECT_ID('tempdb..#TariffFinal') IS NOT NULL
    DROP TABLE #TariffFinal

		SELECT Distinct Code = bt.[TariffCode]
		,Speciality = s.Speciality
		,Value
		,TariffCode
		,Qty = ISNULL(ct.Qty,1)
		,Units = ISNULL(t.Metric,'Qty')
		,MaxQuantity = CASE WHEN t.Metric = 'MaxUnits' THEN t.Quantity ELSE 0 END
		--,stc.[TariffAmount]
		,ProviderRate = CONVERT(DECIMAL(10,2),ISNULL(ISNULL(stc.[TariffAmount],(t.TariffAmount * ((st.[PercentageAdded]/100) + 1))),0))
		,NormalRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,SchemeRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,FinalRate = CONVERT(DECIMAL(10,2),t.TariffAmount * ((st.[PercentageAdded]/100) + 1))
		,[Description] = bt.[TariffDescription]
		,bt.BaseTariffID
		,t.StartDate
		,t.EndDate
		,t.TariffID
		,ct.DateOfProcedure
		,SPTariffID = ''--stc.TariffID
		,bt.[SpecialityID]
		,ServiceProviderID = ReferToID
		,c.CaseID
		,ct.DateInserted
		,t.TariffNameID
		--,SpSpeciality = CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END
		,TariffDescription
		,ct.UserID
		,CaseID_TariffID
		,Color = 'White'
		,[AgreedRateOverride] = CASE WHEN [AgreedRateOverride] = 0 THEN NULL ELSE [AgreedRateOverride] END
		,[ValueIsTotal]
		,Rejected
		,FullValue = Value
		,PercentageAdded = (st.[PercentageAdded]/100) + 1
		,mc.VAT
		,sp.TariffInclVAT
		,mc.MainClientID
		,PracticeName
		,PracticeNr
	INTO #Tariff
	FROM Tariff.Case_Tariff ct
		LEFT JOIN CaseManagement.Cases c
			ON c.CaseID = ct.CaseID
		--Add [TariffStructureID] for Botswana
		LEFT JOIN Shared.Member m on c.MemberID = m.MemberID
		LEFT JOIN shared.ServiceProvider sp on sp.ServiceProviderID = c.ReferToID
		LEFT JOIN shared.MedicalAid ma on ma.MedicalAidID = m.MedicalAidID
		LEFT JOIN shared.MainClient mc on mc.MainClientID = ma.MainClientID
		LEFT JOIN Tariff.[Tariff] t
			ON t.TariffID = ct.TariffID
		LEFT JOIN Tariff.[BaseTariff] bt
			ON bt.BaseTariffID = t.BaseTariffID
				AND bt.TariffStructureID = sp.TariffStructureID
		LEFT JOIN [shared].[Speciality] s
			ON s.SpecialityID = bt.SpecialityID
		LEFT JOIN Tariff.[ServiceProvider_Tariff_Custom] stc
			ON t.BaseTariffID = stc.BaseTariffID
			AND stc.ServiceProviderID = sp.ServiceProviderID
			AND mc.MainClientID = CASE WHEN mc.MainClientID = -1 THEN mc.MainClientID ELSE stc.MainClientID END -- Change so that you do not have to specify the main client
			AND ct.DateOfProcedure BETWEEN ISNULL(stc.[StartDate],t.StartDate) AND ISNULL(stc.[EndDate], ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
			AND stc.[StartDate] IS NOT NULL
		LEFT JOIN [Tariff].[ServiceProvider_Tariff] st
			ON t.[TariffNameID] = st.[TariffNameID]
			AND st.ServiceProviderID = sp.ServiceProviderID
			AND st.MainClientID = mc.MainClientID
			AND ct.DateOfProcedure BETWEEN ISNULL(st.StartActiveDate,t.StartDate) AND ISNULL(st.EndActiveDate, ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
	WHERE sp.PracticeNr LIKE '%' + @PracticeNr
		AND ct.DateOfProcedure BETWEEN @DateFrom AND @DateTo
		--AND TariffCode = @TariffCode

UPDATE #Tariff
SET FinalRate = ISNULL(ISNULL(
--ISNULL(SchemeRate,
[AgreedRateOverride],ProviderRate),NormalRate)
				 * (CASE WHEN MaxQuantity > 0 THEN MaxQuantity ELSE Qty END) * 
					(CASE WHEN TariffInclVAT = 1 THEN (VAT+100)/100 ELSE 1 END)

UPDATE #Tariff
SET FullValue = FullValue * Qty
--WHERE ValueIsTotal = 0

SELECT Distinct
	PracticeName
	,PracticeNr
	,TariffCode
	,TariffDescription
	,DateOfProcedure
	,Value
	,Qty
	,FullValue
	,AgreedRate = FinalRate
	,Discount = ISNULL(cd.Discount,ISNULL(d.Discount,0))
	,DiscountValue = ISNULL(cd.Discount,ISNULL(d.Discount,0))/100 --Discount
					* (FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
	,TotalOvercharged = CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END
	,TotalPayable = (FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
					- ISNULL(cd.Discount,ISNULL(d.Discount,0))/100 --Discount
					* 
					(FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
	,DateInserted
	,t.CaseID
    ,t.BaseTariffID
	,Rejected
INTO #TariffFinal
FROM #Tariff t
LEFT JOIN finance.ServiceProvider_MainClient_Discount d
	ON t.ServiceProviderID = d.ServiceProviderID
		AND d.MainClientID = t.MainClientID
LEFT JOIN finance.Case_Discount cd
	ON cd.CaseID = t.CaseID
	
UPDATE #TariffFinal
SET Discount = 0
,AgreedRate = 0
,TotalOvercharged = Value
,TotalPayable = 0
WHERE rejected = 1

SELECT * FROM #TariffFinal

END
GO
