USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Member_ChronicIllness_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Member_ChronicIllness_Delete] 
    @MemberID int
    ,@ChronicIllnessID int
    ,@UserID varchar(200)
AS BEGIN
DELETE FROM shared.Member_ChronicIllness
WHERE MemberID = @MemberID
    AND ChronicIllnessID = @ChronicIllnessID
END








GO
