USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gender_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Gender_Insert]
    @GenderCode char(1)
    ,@GenderDescription varchar(20)
AS BEGIN
INSERT INTO shared.Gender
VALUES(@GenderCode
    ,@GenderDescription
)END








GO
