USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_PeriodInCountry_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_PeriodInCountry_Select] 
    --@PeriodInCountryID int
AS BEGIN
SELECT PeriodInCountryID
    ,PeriodInCountry
FROM shared.PeriodInCountry
--WHERE PeriodInCountryID = @PeriodInCountryID
END








GO
