USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ICD_Select_ByFilters]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_ICD_Select_ByFilters] 
    @Code Varchar(200)
    ,@Description Varchar(200)
AS BEGIN

SELECT DiagnosisCode, DiagnosisDesc, Dagger, Asterisk, ValidPrimaryCode, GroupCode, GroupDesc, ICDID
FROM shared.ICD
WHERE DiagnosisCode like '%' + @Code + '%'
	AND DiagnosisDesc like '%' + @Description + '%'

END








GO
