USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--changed 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_ServiceProvider_Update] 
    @ServiceProviderID int
    ,@ServiceProviderName varchar(300)
    ,@ServiceProviderSurname varchar(300)
    ,@ServiceProviderInitials varchar(10)
    ,@PracticeName varchar(200)
    ,@GroupPracticeNr varchar(300)
    ,@PracticeNr varchar(300)
    ,@NoOfPartners int
    ,@ServiceArea varchar(200)
    ,@SpecialityID int
    ,@IsHospital bit
    ,@PracticeAddress1 varchar(300)
    ,@PracticeAddress2 varchar(300)
    ,@PracticeAddress3 varchar(300)
    ,@PracticeAddress4 varchar(300)
    ,@PracticeAddressCode varchar(300)
    ,@PracticePAddress1 varchar(300)
    ,@PracticePAddress2 varchar(300)
    ,@PracticePAddress3 varchar(300)
    ,@PracticePAddress4 varchar(300)
    ,@PracticePAddressCode varchar(300)
    ,@PhoneNumber varchar(100)
    ,@FaxNumber varchar(100)
    ,@EmailAddress varchar(300)
    ,@LanguageID int
    ,@CountryID int
    ,@BankName varchar(200)
    ,@BankBranch varchar(200)
    ,@BankBranchCode varchar(200)
    ,@BankAccountType varchar(200)
    ,@BankAccountNumber varchar(200)
    ,@UserID varchar(200)
	,@TariffStructureID Varchar(3)
	,@TariffInclVAT BIT
	,@Visible BIT
	,@CellNumber VARCHAR(50)
AS BEGIN
UPDATE shared.ServiceProvider
SET   ServiceProviderName = @ServiceProviderName
    ,ServiceProviderSurname = @ServiceProviderSurname
    ,ServiceProviderInitials = @ServiceProviderInitials
    ,PracticeName = @PracticeName
    ,GroupPracticeNr = @GroupPracticeNr
    ,PracticeNr = @PracticeNr
    ,NoOfPartners = @NoOfPartners
    ,ServiceArea = @ServiceArea
    ,SpecialityID = @SpecialityID
    ,IsHospital = @IsHospital
    ,PracticeAddress1 = @PracticeAddress1
    ,PracticeAddress2 = @PracticeAddress2
    ,PracticeAddress3 = @PracticeAddress3
    ,PracticeAddress4 = @PracticeAddress4
    ,PracticeAddressCode = @PracticeAddressCode
    ,PracticePAddress1 = @PracticePAddress1
    ,PracticePAddress2 = @PracticePAddress2
    ,PracticePAddress3 = @PracticePAddress3
    ,PracticePAddress4 = @PracticePAddress4
    ,PracticePAddressCode = @PracticePAddressCode
    ,PhoneNumber = @PhoneNumber
    ,FaxNumber = @FaxNumber
    ,EmailAddress = @EmailAddress
    ,LanguageID = @LanguageID
    ,CountryID = @CountryID
    ,BankName = @BankName
    ,BankBranch = @BankBranch
    ,BankBranchCode = @BankBranchCode
    ,BankAccountType = @BankAccountType
    ,BankAccountNumber = @BankAccountNumber
    ,UserID = @UserID
	,TariffStructureID = @TariffStructureID
	,TariffInclVAT = @TariffInclVAT
	,Visible = @Visible
	,CellNumber = @CellNumber
WHERE ServiceProviderID = @ServiceProviderID

END










GO
