USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Speciality_Select_ByTariffNameID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Speciality_Select_ByTariffNameID] 
@TariffNameID int
AS BEGIN

SELECT DISTINCT s.SpecialityID
, Speciality = CONVERT(VARCHAR,s.SpecialityID) + ' - ' + Speciality
FROM shared.Speciality s
	INNER JOIN shared.BaseTariff bt ON s.SpecialityID = bt.SpecialityID
	INNER JOIN shared.Tariff t ON t.BaseTariffID = bt.BaseTariffID
		AND TariffNameID = @TariffNameID

ORDER BY s.SpecialityID		


END







GO
