USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_Cases_Select_Filters_BetweenAdmissionDates]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Changed 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_rpt_Cases_Select_Filters_BetweenAdmissionDates] 
    @AuthNumber nVarchar(200) = ''
    ,@MemberNumber nVarchar(200) = ''
    ,@Name nVarchar(200) = ''
    ,@Surname nVarchar(200) = ''
    ,@DateOfBirth date = '1900-01-01'
    ,@DateAdmitStart date = '1900-01-01'
    ,@DateAdmitEnd date = '1900-01-01'
    ,@PracticeName nVarchar(200) = ''
    ,@MedicalFunder int = -1		--
    ,@PrimaryICD nVarchar(10) = ''	--
    ,@PrimaryCPT nVarchar(10) = ''	--
    ,@UserID nVarchar(200) = ''
    ,@StatusID int = -1
    ,@MainClientID int
AS BEGIN

SELECT 
	stat.CaseStatus
	,c.AuthNumber
	, c.AccountNr
	, ma.CasePrefix
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, ReferTo = rto.PracticeName
	, ReferFrom = rfrom.PracticeName
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, PrimaryICD = ISNULL(MAX(DiagnosisCode),'')
	, PrimaryCPT = ISNULL(MAX(CPT.Code),'')
	, PrimaryICDDesc = ISNULL(MAX(DiagnosisDesc),'')
	, PrimaryCPTDesc = ISNULL(MAX(CPT.MEDIUM_DESCR),'')
	, ReferToPracticeNumber = rto.PracticeNr
	, ReferFromPracticeNumber = rfrom.PracticeNr
	, c.UserID
	, c.DateCreated
	, c.CaseID
	, m.MedicalAidID
	--, ec.EpisodeID
	, FacilityType = ISNULL(ft.FacilityType,'')
	, cft.LOS
	, TotalLengthOfStay
	, cn.CaseNote
	, c.TotalAmount
	,c.FinalInvoiceAmount
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
	,ct.CaseType
	,c.PenaltyPercentage
	,FinalInvoiceAmountWithPenalty = (1-(c.PenaltyPercentage/100)) * c.FinalInvoiceAmount
FROM CaseManagement.Cases AS c LEFT JOIN
  CaseManagement.CaseType ct on ct.CaseTypeID = c.AuthTypeID INNER JOIN
	shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
	Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
	shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
	shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
	CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN 
	--CaseManagement.Episode_Case ec ON ec.CaseID = c.CaseID LEFT JOIN 
	CaseManagement.Case_ICD ON Case_ICD.CaseID = c.CaseID AND Case_ICD.PrimaryCode = 1 LEFT JOIN 
	shared.ICD ON ICD.ICDID = Case_ICD.ICDID LEFT JOIN
	CaseManagement.Case_CPT ON Case_CPT.CaseID = c.CaseID AND Case_CPT.PrimaryCode = 1 LEFT JOIN 
	shared.CPT ON CPT.CPTID = Case_CPT.CPTID LEFT JOIN 
	CaseManagement.Case_FacilityType cft ON cft.CaseID = c.CaseID
	LEFT JOIN shared.FacilityType ft ON ft.FacilityTypeID = cft.FacilityTypeID
	LEFT JOIN (SELECT CaseNoteID = MAX(CaseNoteID),CaseID FROM CaseManagement.CaseNote GROUP BY CaseID) cni ON cni.CaseID = c.CaseID
	LEFT JOIN CaseManagement.CaseNote cn ON cn.CaseNoteID = cni.CaseNoteID
		AND cn.CaseID = cni.CaseID
	
  LEFT JOIN [shared].[MedicalAidProduct] map ON map.MedAidProductID = m.MedAidProductID
WHERE c.AuthNumber LIKE '%' + @AuthNumber + '%'
    AND m.memberNumber LIKE '%' + @MemberNumber + '%'
    AND Name LIKE '%' + @Name + '%'
    AND Surname LIKE '%' + @Surname + '%'
    AND @DateOfBirth = CASE WHEN @DateOfBirth = '1900-01-01' THEN '1900-01-01' ELSE DateOfBirth END
    AND (c.AdmissionDate BETWEEN @DateAdmitStart AND @DateAdmitEnd
		--OR c.DischargeDate BETWEEN @DateAdmitStart AND @DateAdmitEnd
		)
    AND @MedicalFunder = CASE WHEN @MedicalFunder = -1 THEN -1 ELSE ma.MedicalAidID END
    AND (ISNULL(rto.PracticeName,'') like '%' + @PracticeName + '%'
		OR ISNULL(rfrom.PracticeName,'') like '%' + @PracticeName + '%')
	AND ISNULL((DiagnosisCode),'') LIKE '%' + @PrimaryICD + '%'
	AND ISNULL((CPT.Code),'') LIKE '%' + @PrimaryCPT + '%'
	AND ISNULL((c.UserID),'') LIKE '%' + @UserID + '%'
	AND @StatusID = CASE WHEN @StatusID = -1 THEN -1 ELSE c.StatusID END
    AND ma.MainClientID = @MainClientID
GROUP BY stat.CaseStatus
	,c.AuthNumber
	, c.AccountNr
	, ma.CasePrefix
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, rto.PracticeNr
	, rto.PracticeName
	, rfrom.PracticeNr
	, rfrom.PracticeName
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, c.CaseID
	, m.MedicalAidID
	--, ec.EpisodeID
	, c.DateCreated
	, c.UserID
	, ISNULL(ft.FacilityType,'')
	, TotalLengthOfStay
	, cft.LOS
	, cn.CaseNote
	, c.TotalAmount
	,c.FinalInvoiceAmount
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
	,ct.CaseType
	,c.PenaltyPercentage
ORDER BY c.DateCreated, m.Surname DESC


END



/****** Object:  Table [CaseManagement].[CaseLetterNote]    Script Date: 03/14/2012 11:32:50 ******/
SET ANSI_NULLS ON








GO
