USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_TariffStructure_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_TariffStructure_Select] 
AS BEGIN
SELECT DISTINCT TariffStructureID
FROM shared.ServiceProvider
END









GO
