USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Change 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_Cases_Select] 
    @CaseID int
AS BEGIN
SELECT c.CaseID
    ,AuthNumber
    ,AccountNr
    ,MemberID
    ,ReferToID
    ,ReferFromID
    ,AdmissionDate
    ,AdmissionTime = CONVERT(DATETIME,AdmissionTime)
    ,DischargeDate
    ,DischargeTime = CONVERT(DATETIME,DischargeTime)
    ,AuthTypeID
    ,WCA_IOD
    ,TotalLengthOfStay
    ,TotalAmount
    ,FinalInvoiceAmount
    ,FinalInvoiceAmountUpdated
    ,StatusID
    ,CaseDescription
    ,c.UserID
    ,Changes
    ,Limits
    ,Exclusions
    ,c.DateCreated
    --,ec.EpisodeID
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
	,c.PenaltyPercentage
FROM CaseManagement.Cases c
	--LEFT JOIN CaseManagement.Episode_Case ec
	--	ON ec.CaseID = c.CaseID
WHERE c.CaseID = @CaseID
ORDER BY c.DateCreated DESC
END

GO
