USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MemberNote_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MemberNote_Update] 
    @MemberNoteID int
    ,@MemberNote varchar(MAX)
    ,@MemberID int
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.MemberNote
SET   MemberNote = @MemberNote
    ,MemberID = @MemberID
    ,UserID = @UserID
WHERE MemberNoteID = @MemberNoteID

END








GO
