USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseType_Select_ForFilters]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE  [dbo].[usp_CaseType_Select_ForFilters] 
AS BEGIN

SELECT CaseTypeID = -1
	, CaseType = 'All'
FROM CaseManagement.CaseType
UNION
SELECT CaseTypeID
	, CaseType
FROM CaseManagement.CaseType


END









GO
