USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Session_User_Case_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Session_User_Case_Delete]
    @CaseID int
AS BEGIN

DELETE FROM CaseManagement.Session_User_Case
WHERE CaseID = @CaseID

END








GO
