USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_BaseTariff_Select_NewCustomCode]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_BaseTariff_Select_NewCustomCode] 
    
AS BEGIN

SELECT TariffCode = ISNULL(MAX(TariffCode),0) + 1
FROM shared.BaseTariff
WHERE SpecialityID = 0


END







GO
