USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_RPT_Case_Tariff_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_RPT_Case_Tariff_Select]-- 29827
	@CaseID int
AS BEGIN

DECLARE @MainClientID int
SELECT @MainClientID = MainClientID
FROM CaseManagement.Cases c 
	INNER JOIN shared.Member m 
		ON c.MemberID = m.MemberID
	INNER JOIN [shared].[MedicalAid] ma
		ON ma.MedicalAidID = m.MedicalAidID
WHERE c.CaseID = @CaseID
--print @MainClientID

DECLARE @ServiceProviderID int
SELECT @ServiceProviderID = ReferToID
FROM CaseManagement.Cases
WHERE CaseID = @CaseID

IF OBJECT_ID('tempdb..#Tariff') IS NOT NULL
    DROP TABLE #Tariff

	SELECT Distinct Code = bt.[TariffCode]
		,Speciality = s.Speciality
		,Value
		,TariffCode
		,Qty = ISNULL(ct.Qty,1)
		,Units = ISNULL(t.Metric,'Qty')
		,ProviderRate = ISNULL(ISNULL(stc.[TariffAmount],t.TariffAmount),0)
		,NormalRate = t.TariffAmount
		,SchemeRate = t.TariffAmount
		,FinalRate = t.TariffAmount
		,[Description] = bt.[TariffDescription]
		,bt.BaseTariffID
		,t.StartDate
		,t.EndDate
		,t.TariffID
		,ct.DateOfProcedure
		,SPTariffID = ''--stc.TariffID
		,bt.[SpecialityID]
		,ServiceProviderID = ReferToID
		,c.CaseID
		,ct.DateInserted
		,t.TariffNameID
		--,SpSpeciality = CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END
		,TariffDescription
		,ct.UserID
		,CaseID_TariffID
		,Color = 'White'
		,[AgreedRateOverride] = CASE WHEN [AgreedRateOverride] = 0 THEN NULL ELSE [AgreedRateOverride] END
		,[ValueIsTotal]
		,Rejected
		,FullValue = Value
	INTO #Tariff
	FROM CaseManagement.Case_Tariff ct
		LEFT JOIN CaseManagement.Cases c
			ON c.CaseID = ct.CaseID
		LEFT JOIN [shared].[Tariff] t
			ON t.TariffID = ct.TariffID
		LEFT JOIN [shared].[BaseTariff] bt
			ON bt.BaseTariffID = t.BaseTariffID
		LEFT JOIN [shared].[Speciality] s
			ON s.SpecialityID = bt.SpecialityID
		LEFT JOIN [shared].[ServiceProvider_Tariff_Custom] stc
			ON t.TariffID = stc.TariffID
			AND stc.ServiceProviderID = @ServiceProviderID
			AND stc.MainClientID = @MainClientID
			AND ct.DateOfProcedure BETWEEN ISNULL(stc.[StartDate],t.StartDate) AND ISNULL(stc.[EndDate], ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
	WHERE ct.CaseID = @CaseID
		--LEFT JOIN [shared].[ServiceProvider] sp
		--	ON sp.SpecialityID = s.SpecialityID
		--		AND ST.ServiceProviderID = sp.ServiceProviderID
	--WHERE st.ServiceProviderID = @ServiceProviderID
	--	AND 
	--	@TreatmentDate BETWEEN t.StartDate AND ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate()))
	--	AND bt.TariffCode LIKE LTRIM(RTRIM(REPLACE(@TariffCode,'*','%')))
		--AND s.SpecialityID <> 0
	--ORDER BY CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END DESC

--	SELECT * FROM #Tariff
	
--UPDATE t
--SET ProviderRate = stc.[TariffAmount]
--FROM #Tariff t
--LEFT JOIN [shared].ServiceProvider_Tariff_Custom  stc
--	ON stc.TariffID = t.TariffID
--		AND stc.ServiceProviderID = t.ServiceProviderID
--		AND stc.MainClientID = @MainClientID

--UPDATE t
--SET SchemeRate = t2.[TariffAmount]
--FROM #Tariff t
--	LEFT JOIN [shared].[Tariff] t2
--		ON t.BaseTariffID = t2.BaseTariffID
--			AND t.DateOfProcedure BETWEEN t2.StartDate AND t2.EndDate
--			AND t2.[TariffNameID] = (SELECT [TariffNameID] FROM [shared].[ServiceProvider_MainClient_Tariff] 
--										WHERE ServiceProviderID = @ServiceProviderID 
--											AND MainClientID = @MainClientID)


UPDATE #Tariff
SET FinalRate = ISNULL(ISNULL(
--ISNULL(SchemeRate,
[AgreedRateOverride],ProviderRate),NormalRate)
				 * Qty * 1.14

UPDATE #Tariff
SET Value = Value * Qty
WHERE ValueIsTotal = 0

SELECT Distinct
	TariffCode
	,Value
	,AgreedRate = FinalRate
	,Discount = ISNULL(cd.Discount,ISNULL(d.Discount,0))
	,DiscountValue = ISNULL(cd.Discount,ISNULL(d.Discount,0))/100 --Discount
					* (FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
	,TotalPayable = (FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
					- ISNULL(cd.Discount,ISNULL(d.Discount,0))/100 --Discount
					* 
					(FullValue 
					- CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END) --Overcharged
	,TotalOvercharged = CASE WHEN FullValue - FinalRate > 0 AND FinalRate <> 0 
						THEN ABS(FullValue - FinalRate) 
						ELSE 0 END
	,Qty
	,DateOfProcedure
	,TariffDescription
	 --= CASE WHEN BaseTariffID IS NULL 
		--	THEN TariffDescription 
		--	ELSE 'This item is not covered by the medical funder. \n\r' + bt.TariffDescription
		--END
	,DateInserted
	,t.CaseID
    ,TariffID
    ,UserID
    ,Seq = CaseID_TariffID
    ,t.BaseTariffID
	,Rejected
	,Colour = CASE WHEN Rejected = 1 THEN 'Orange'
					WHEN ((Value - FinalRate)/CASE WHEN FinalRate = 0 THEN 1 ELSE FinalRate END) > 0.05 AND FinalRate > 0
					THEN 'Red'
					WHEN ((Value - FinalRate)/CASE WHEN FinalRate = 0 THEN 1 ELSE FinalRate END) BETWEEN 0.001 AND 0.05 AND FinalRate > 0
					THEN 'Yellow' ELSE 'White' END 
INTO #TariffFinal
FROM #Tariff t
LEFT JOIN finance.ServiceProvider_MainClient_Discount d
	ON t.ServiceProviderID = d.ServiceProviderID
		AND d.MainClientID = @MainClientID
LEFT JOIN finance.Case_Discount cd
	ON cd.CaseID = t.CaseID
--WHERE CASE WHEN ((Value - FinalRate)/CASE WHEN FinalRate = 0 THEN 1 ELSE FinalRate END) > 0.05 AND FinalRate > 0
--					THEN 'Red'
--					WHEN ((Value - FinalRate)/CASE WHEN FinalRate = 0 THEN 1 ELSE FinalRate END) BETWEEN 0.001 AND 0.05 AND FinalRate > 0
--					THEN 'Yellow' ELSE 'White' END  <> 'White'

UPDATE #TariffFinal
SET Discount = 0
,AgreedRate = 0
,TotalPayable = 0
,TotalOvercharged = Value
WHERE rejected = 1

SELECT * FROM #TariffFinal
	
DROP TABLE #Tariff

END








GO
