USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MarritalStatus_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MarritalStatus_Update] 
    @MarritalStatusID int
    ,@MarritalStatus varchar(50)
AS BEGIN
UPDATE shared.MarritalStatus
SET   MarritalStatus = @MarritalStatus
WHERE MarritalStatusID = @MarritalStatusID

END








GO
