USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_BaseTariff_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_BaseTariff_Select] 
    --@TariffID int
AS BEGIN
SELECT
	TariffCode = BaseTariffID
    ,SpecialityID
    ,TariffDescription = BaseTariffID + '_' + TariffDescription
   
FROM shared.BaseTariff
--WHERE TariffID = @TariffID
END







GO
