USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Speciality_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Speciality_Update] 
    @SpecialityID int
    ,@Speciality varchar(300)
    ,@UserID varchar(200)
AS BEGIN
UPDATE shared.Speciality
SET   Speciality = @Speciality
    ,UserID = @UserID
WHERE SpecialityID = @SpecialityID

END








GO
