USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_PeriodInCountry_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_PeriodInCountry_Delete] 
    @PeriodInCountryID int
AS BEGIN
DELETE FROM CaseManagement.PeriodInCountry
WHERE PeriodInCountryID = @PeriodInCountryID
END








GO
