USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[xusp_HospitalType_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[xusp_HospitalType_Select] 
AS BEGIN
SELECT HospitalTypeID
, HospitalTypeName
FROM shared.HospitalType

END



GO
