USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[xusp_HospitalType_Select_ByTariffNameID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[xusp_HospitalType_Select_ByTariffNameID] 
@TariffNameID int
AS BEGIN

SELECT DISTINCT HospitalTypeID
, HospitalTypeName
FROM shared.HospitalType ht
	INNER JOIN shared.BaseTariff bt ON ht.HospitalTypeID = bt.GroupPracticeNr
	INNER JOIN shared.Tariff t ON t.BaseTariffID = bt.BaseTariffID
		AND TariffNameID = @TariffNameID

ORDER BY HospitalTypeName		


END



GO
