USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE   [dbo].[usp_MedicalAid_Insert]
	@MainClientID	int
	,@MedicalAidName varchar(200)
    ,@MedicalAidInitiationDate date
    ,@MedicalAidReinstatedDate date
    ,@MedicalAidTerminatedDate date
    ,@CasePrefix Char(3)
    ,@ReportTemplate varchar(200)
    ,@UserID varchar(200)
AS BEGIN
INSERT INTO shared.MedicalAid
VALUES(@MainClientID
	,@MedicalAidName
    ,@MedicalAidInitiationDate
    ,@MedicalAidReinstatedDate
    ,@MedicalAidTerminatedDate
    ,@CasePrefix
    ,@ReportTemplate
    ,@UserID
)END









GO
