USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_Cases_SelectLinked_CaseID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE  [dbo].[usp_rpt_Cases_SelectLinked_CaseID]
    @CaseID int
AS BEGIN

--SELECT CaseID = CASE WHEN ParentCase = @CaseID THEN ChildCase ELSE ParentCase END
--INTO #C
--FROM CaseManagement.Case_Link
--WHERE ParentCase = @CaseID
--	OR ChildCase = @CaseID

SELECT 
	c.CaseID
	, c.AuthNumber
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, rto.ServiceProviderName AS ReferTo
	, rfrom.ServiceProviderName AS ReferFrom
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, stat.CaseStatus
	, m.MedicalAidID
	, ma.MedicalAidName
	, Address1 = rto.PracticeAddress1
	, Address2 = rto.PracticeAddress2
	, Address3 = rto.PracticeAddress3
	, Address4 = rto.PracticeAddress4
	, AddressCode = rto.PracticeAddressCode
	--, sd.Email
	--, sd.Fax
	--, sd.Telephone
	--, sd.Website
	--, sd.Logo
	, ReferringPractice = rfrom.PracticeNr + ' ' + rfrom.PracticeName
	, CurrentPractice = rto.PracticeName
	, refersp.Speciality
	--, ft.LOS
	, c.TotalLengthOfStay
	, TotalAmount
	, FinalInvoiceAmount
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
FROM CaseManagement.Cases c INNER JOIN 
	(SELECT CaseID = CASE WHEN ParentCase = @CaseID THEN ChildCase ELSE ParentCase END
		FROM CaseManagement.Case_Link
		WHERE ParentCase = @CaseID
			OR ChildCase = @CaseID
		UNION
		SELECT @CaseID) cl ON cl.CaseID = c.CaseID INNER JOIN 
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  shared.Speciality refersp ON refersp.SpecialityID = rfrom.SpecialityID LEFT JOIN
  CaseManagement.CaseStatus stat ON stat.CaseStatusID = c.StatusID
 -- (SELECT CaseID, LOS = SUM(LOS) 
	--FROM CaseManagement.Case_FacilityType
	--WHERE CaseID = @CaseID
	--GROUP BY CaseID) ft ON ft.CaseID = c.CaseID LEFT JOIN
  --CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID CROSS JOIN 
  --shared.SystemData sd
--WHERE c.CaseID = @CaseID


END











GO
