USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_CPT_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_CPT_Insert]
    @CaseID_CPTID int
    ,@CaseID int
    ,@CPTID int
    ,@DateOfProcedure date
    ,@PrimaryCode bit
    ,@SecondaryCode bit
    ,@DateInserted date
    ,@UserID varchar(200)
AS BEGIN

IF (@CaseID_CPTID <> -1)
	BEGIN
		UPDATE CaseManagement.Case_CPT
		SET   DateOfProcedure = @DateOfProcedure
			,PrimaryCode = @PrimaryCode
			,SecondaryCode = @SecondaryCode
			,DateInserted = @DateInserted
			,UserID = @UserID
		WHERE CaseID_CPTID = @CaseID_CPTID
		SELECT @CaseID_CPTID
	END
ELSE
	BEGIN
		INSERT INTO CaseManagement.Case_CPT
		VALUES(@CaseID
			,@CPTID
			,@DateOfProcedure
			,@PrimaryCode
			,@SecondaryCode
			,@DateInserted
			,@UserID
		)
		SELECT @@IDENTITY
	END



END








GO
