USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_ByMemberID]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[usp_Cases_Select_ByMemberID] 
    @MemberID int
AS BEGIN
SELECT AuthNumber
	,c.[HasBooking]
    ,AccountNr
    ,MemberID
    ,ReferToID
    ,ReferFromID
    ,AdmissionDate
    ,AdmissionTime = CONVERT(DATETIME,AdmissionTime)
    ,DischargeDate
    ,DischargeTime = CONVERT(DATETIME,DischargeTime)
    ,AuthTypeID
    ,WCA_IOD
    ,TotalLengthOfStay
    ,TotalAmount
    ,FinalInvoiceAmount
    ,FinalInvoiceAmountUpdated
    ,StatusID
    ,CaseDescription
    ,c.UserID
    ,Changes
    ,Limits
    ,Exclusions
    ,c.DateCreated
    ,c.CaseID
    --,ec.EpisodeID
	,c.[ChangeToCaseDate]
FROM CaseManagement.Cases c
	--LEFT JOIN CaseManagement.Episode_Case ec
	--	ON ec.CaseID = c.CaseID
WHERE c.MemberID = @MemberID
ORDER BY c.CaseID DESC, c.DateCreated DESC
END










GO
