USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_BillingStatus_Select]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
ALTER PROCEDURE [dbo].[usp_BillingStatus_Select]
AS
SELECT [BillingStatusID]
      ,[BillingStatus]
  FROM [finance].[BillingStatus]

GO
