USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate]
@TariffCode Varchar(50)
,@ServiceProviderID int
,@TreatmentDate DateTime
,@MainClientID int
AS BEGIN

--DECLARE @TariffCode Varchar(50)
--DECLARE @ServiceProviderID int
--DECLARE @TreatmentDate DateTime
--DECLARE @MainClientID int

--SET @TariffCode = '100'
--SET @ServiceProviderID = '225780'
--SET @TreatmentDate = '2013/08/18'
--SET @MainClientID = '1'


IF OBJECT_ID('tempdb..#Tariff') IS NOT NULL
    DROP TABLE #Tariff

	SELECT Distinct Code = bt.[TariffCode]
		,Speciality = s.Speciality
		,Qty = ISNULL(t.Quantity,1)
		,Units = ISNULL(t.Metric,'Qty')
		,ProviderRate = stc.[TariffAmount]--t.TariffAmount--ISNULL(stc.[TariffAmount],t.TariffAmount)
		,NormalRate = t.TariffAmount
		,SchemeRate = t.TariffAmount
		,FinalRate = t.TariffAmount
		,[Description] = bt.[TariffDescription]
		,bt.BaseTariffID
		,t.StartDate
		,t.EndDate
		,t.TariffID
		,SPTariffID = stc.TariffID
		,bt.[SpecialityID]
		,SpSpeciality = CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END
		,stc.ServiceProviderID
		,DateOfProcedure = @TreatmentDate
		,st.TariffNameID
		,st.MainClientID
	INTO #Tariff
	FROM [shared].[BaseTariff] bt
		LEFT JOIN [shared].[Tariff] t
			ON bt.BaseTariffID = t.BaseTariffID
		LEFT JOIN [shared].[ServiceProvider_Tariff_Custom] stc
			ON t.TariffID = stc.TariffID
			AND stc.ServiceProviderID = @ServiceProviderID
			AND @MainClientID = CASE WHEN @MainClientID = -1 THEN @MainClientID ELSE stc.MainClientID END -- Change so that you do not have to specify the main client
			AND @TreatmentDate BETWEEN ISNULL(stc.[StartDate],t.StartDate) AND ISNULL(stc.[EndDate], ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate())))
		INNER JOIN [shared].[ServiceProvider_Tariff] st
			ON st.TariffNameID = t.TariffNameID
			AND @MainClientID = CASE WHEN @MainClientID = -1 THEN @MainClientID ELSE st.MainClientID END  -- Change so that you do not have to specify the main client
			AND st.TariffPeriodName = t.TariffPeriodName
			AND st.ServiceProviderID = @ServiceProviderID
		--LEFT JOIN [shared].[ServiceProvider_Tariff_Custom] stc
		--	ON t.TariffID = stc.TariffID
		LEFT JOIN [shared].[Speciality] s
			ON s.SpecialityID = bt.SpecialityID
		LEFT JOIN [shared].[ServiceProvider] sp
			ON sp.SpecialityID = s.SpecialityID
				AND STc.ServiceProviderID = sp.ServiceProviderID
	WHERE  
		@TreatmentDate BETWEEN t.StartDate AND ISNULL(t.EndDate,DATEADD(YEAR,1,GetDate()))
		AND bt.TariffCode LIKE LTRIM(RTRIM(REPLACE(@TariffCode,'*','%')))
		--AND s.SpecialityID <> 0
	--ORDER BY CASE WHEN sp.SpecialityID IS NULL THEN 0 ELSE 1 END DESC

--	SELECT * FROM #Tariff

--UPDATE t
--SET ProviderRate = stc.[TariffAmount]
--FROM #Tariff t
--LEFT JOIN [shared].ServiceProvider_Tariff_Custom  stc
--	ON stc.TariffID = t.TariffID
--		AND stc.ServiceProviderID = t.ServiceProviderID
--		AND MainClientID = @MainClientID
		--AND stc.TariffPeriodName = t.TariffPeriodName

--This is now driven by [shared].[ServiceProvider_Tariff] table
--UPDATE t
--SET SchemeRate = t2.[TariffAmount]
--FROM #Tariff t
--	LEFT JOIN [shared].[Tariff] t2
--		ON t.BaseTariffID = t2.BaseTariffID
--			AND t.DateOfProcedure BETWEEN t2.StartDate AND t2.EndDate
--			AND t2.[TariffNameID] = (SELECT [TariffNameID] FROM [shared].[ServiceProvider_MainClient_Tariff] 
--										WHERE ServiceProviderID = @ServiceProviderID 
--											AND MainClientID = @MainClientID)

--See Above
UPDATE #Tariff --This is now driven by [shared].[ServiceProvider_Tariff] table 
SET FinalRate = ISNULL(
--ISNULL(SchemeRate,
ProviderRate,NormalRate)

	SELECT * FROM #Tariff

	SELECT @TariffCode
	
    DROP TABLE #Tariff

END


--[dbo].[usp_Tariff_Select_ByTariffCode_ProviderID_TreatmentDate] '*12',225783,'2013/07/14 12:20:24 PM',5






GO
