USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_rpt_Case_Billing_Select_LinkedToCases]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_rpt_Case_Billing_Select_LinkedToCases] --29827
	@Remittance Varchar(50)
AS BEGIN

	SELECT AccountNumber
		, AmountDue
		, AccountDate
		, c.AuthNumber
	FROM [CaseManagement].[Case_Billing] cb
		INNER JOIN CaseManagement.Cases c 
			ON cb.CaseID = c.CaseID
	WHERE cb.Remittance = @Remittance

END

GO
