USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_SelectAfterAutoComplete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Case_Billing_SelectAfterAutoComplete] 
    @ServiceProviderID int
	,@AccountNumber Varchar(200)
AS BEGIN

SELECT AccountNumber, [AmountDue]
FROM CaseManagement.Case_Billing
WHERE ServiceProviderID = @ServiceProviderID
	AND AccountNumber = @AccountNumber
END


GO
