USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Speciality_Select_WhereThereAreTariffs]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_Speciality_Select_WhereThereAreTariffs] 
AS BEGIN
SELECT SpecialityID
    ,Speciality = CONVERT(VARCHAR,SpecialityID) + ' - ' + Speciality
    ,UserID
FROM shared.Speciality
WHERE SpecialityID IN (SELECT DISTINCT SpecialityID FROM shared.BaseTariff)
ORDER BY Speciality


END







GO
