USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Select_Autocomplete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[usp_ServiceProvider_Select_Autocomplete] 
   -- @Filter Varchar(100)
AS BEGIN
SELECT PracticeNr
	, PracticeName
FROM shared.ServiceProvider
--WHERE PracticeNr + ' - ' + PracticeName LIKE '%' + @Filter + '%'
END













GO
