USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[zzusp_SystemData_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[zzusp_SystemData_Insert]
    @SystemCountryID int
    ,@SystemUniqueIdentifier uniqueidentifier
    ,@SystemEmailAddress varchar(300)
    ,@SMTPServer varchar(300)
    ,@SSL bit
    ,@Username varchar(300)
    ,@Password varchar(300)
    ,@UserID varchar(200)
    ,@SpecialICU int
    ,@ICU int
    ,@HighCare int
    ,@NeuroWard int
    ,@InIsolation int
    ,@GeneralWard int
    ,@Paediatric int
    ,@Meternity int
    ,@DayCase int
    ,@StepDown int
    ,@Psychiatric int
AS BEGIN
INSERT INTO shared.SystemData
VALUES(@SystemCountryID
    ,@SystemUniqueIdentifier
    ,@SystemEmailAddress
    ,@SMTPServer
    ,@SSL
    ,@Username
    ,@Password
    ,@UserID
    ,@SpecialICU
    ,@ICU
    ,@HighCare
    ,@NeuroWard
    ,@InIsolation
    ,@GeneralWard
    ,@Paediatric
    ,@Meternity
    ,@DayCase
    ,@StepDown
    ,@Psychiatric
)END

GO
