USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_UpdateMemberMedicalAid]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE  [dbo].[usp_Case_UpdateMemberMedicalAid]
    @CaseID int
    ,@CaseNumber Varchar(100)
AS BEGIN


----DECLARE @MemberID VARCHAR(20)
--DECLARE @AuthNumber VARCHAR(20)
--DECLARE @NewAuthNumber VARCHAR(20)
----SELECT @MemberID = 1

--SELECT @AuthNumber = (
--	SELECT CasePrefix 
--	FROM shared.MedicalAid ma
--	INNER JOIN shared.Member m ON m.MedicalAidID = ma.MedicalAidID
--		AND m.MemberID = @MemberID)

----SELECT @AuthNumber = @AuthNumber + RIGHT('00000000' + (
----	--SELECT CONVERT(VARCHAR,CONVERT(INT,MAX(REPLACE(AuthNumber,@AuthNumber,''))) + 1)
----	--FROM CaseManagement.Cases
----	--WHERE AuthNumber LIKE @AuthNumber + '%'
----	CONVERT(Varchar,@CaseID)
----	),7)

--SELECT @NewAuthNumber = REPLACE(AuthNumber,LEFT(AuthNumber,3),@AuthNumber) 
--FROM CaseManagement.Cases 
--WHERE CaseID = @CaseID

UPDATE CaseManagement.Cases
SET AuthNumber = @CaseNumber
WHERE CaseID = @CaseID

SELECT AuthNumber = @CaseNumber

END








GO
