USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Episode_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Episode_Select] 
@EpisodeID int
AS BEGIN

SELECT 
*
FROM CaseManagement.Episode e
WHERE EpisodeID = @EpisodeID

SELECT c.CaseID
,AuthNumber
,AdmissionDate
,DischargeDate
,TotalLengthOfStay
,TotalAmount
,CaseDescription
,CaseStatus
,EpisodeID
FROM CaseManagement.Episode_Case ec
	INNER JOIN CaseManagement.Cases c
		ON ec.CaseID = c.CaseID
	INNER JOIN CaseManagement.CaseStatus cs
		ON cs.CaseStatusID = c.StatusID
WHERE ec.EpisodeID = @EpisodeID


END








GO
