USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Select_AfterAutocomplete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[usp_ServiceProvider_Select_AfterAutocomplete]-- 'ABBOTT S G - 0686801943'
    @Filter Varchar(200)
AS BEGIN
SELECT ServiceProviderID 
	, PracticeName = PracticeNr + ' - ' + PracticeName
FROM shared.ServiceProvider
WHERE LTRIM(RTRIM(PracticeNr + ' - ' + PracticeName)) = @Filter
	OR LTRIM(RTRIM(PracticeName + ' - ' + PracticeNr)) = @Filter
END













GO
