USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MemberStatus_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_MemberStatus_Select] 
    --@MemberStatusID int
AS BEGIN
SELECT MemberStatusID
    ,MemberStatus
FROM shared.MemberStatus
--WHERE MemberStatusID = @MemberStatusID
END








GO
