USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_Last30Cases]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE  [dbo].[usp_Cases_Select_Last30Cases]-- 'SystemAdmin'
    @UserID Varchar(100) = ''	--
    ,@MainClientID int
AS BEGIN

SELECT TOP(30)
	stat.CaseStatus
	,c.[HasBooking]
	,c.AuthNumber
	, c.AdmissionDate
	, c.DischargeDate
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, ReferTo = rto.PracticeName
	, ReferFrom = rfrom.PracticeName
	, c.AdmissionTime
	, c.DischargeTime
	, PrimaryICD = ISNULL(MAX(DiagnosisCode),'')
	, PrimaryCPT = ISNULL(MAX(CPT.Code),'')
	, PrimaryICDDesc = ISNULL(MAX(DiagnosisDesc),'')
	, PrimaryCPTDesc = ISNULL(MAX(CPT.MEDIUM_DESCR),'')
	, ReferToPracticeNumber = rto.PracticeNr
	, ReferFromPracticeNumber = rfrom.PracticeNr
	, c.UserID
	, c.DateCreated
	, c.CaseID
	, m.MedicalAidID
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[ChangeToCaseDate]
FROM CaseManagement.Cases AS c INNER JOIN
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN 
  --CaseManagement.Episode_Case ec ON ec.CaseID = c.CaseID LEFT JOIN 
  CaseManagement.Case_ICD ON Case_ICD.CaseID = c.CaseID AND Case_ICD.PrimaryCode = 1 LEFT JOIN 
  shared.ICD ON ICD.ICDID = Case_ICD.ICDID LEFT JOIN
  CaseManagement.Case_CPT ON Case_CPT.CaseID = c.CaseID AND Case_CPT.PrimaryCode = 1 LEFT JOIN 
  shared.CPT ON CPT.CPTID = Case_CPT.CPTID
  LEFT JOIN [shared].[MedicalAidProduct] map ON map.MedAidProductID = m.MedAidProductID
WHERE c.UserID = @UserID
	AND ma.MainClientID = @MainClientID
GROUP BY stat.CaseStatus
	,c.AuthNumber
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, rto.PracticeNr
	, rto.PracticeName
	, rfrom.PracticeNr
	, rfrom.PracticeName
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, c.CaseID
	, m.MedicalAidID
	--, ec.EpisodeID
	, c.DateCreated
	, c.UserID
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
ORDER BY c.CaseID DESC,c.DateCreated DESC, m.Surname 




END



/****** Object:  StoredProcedure [dbo].[usp_Cases_Select_Filters]    Script Date: 03/14/2012 08:38:20 ******/
SET ANSI_NULLS ON








GO
