USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_z_TableColumns_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jaco coetzee
-- Create date: 20111220
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_z_TableColumns_Select]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/****** Script for SelectTopNRows command from SSMS  ******/
IF (Select OBJECT_ID('tempdb..#temp')) IS NOT NULL
	DROP TABLE #Identity
	
SELECT [tables].[object_id]
      ,Name = [columns].[name]
      ,TableName = [tables].name
      ,[is_identity]
INTO #Identity
FROM [MedManage].[sys].[columns]
LEFT JOIN [MedManage].[sys].[tables] ON [tables].[object_id] = [columns].[object_id]
WHERE [tables].name IS NOT NULL
--SELECT name 
--INTO #Identity
--FROM SYS.COLUMNS
	AND is_identity = 1

SELECT TABLE_CATALOG
	,TABLE_SCHEMA
	,TABLE_NAME
	,COLUMN_NAME
	,ORDINAL_POSITION
	,COLUMN_DEFAULT
	,IS_NULLABLE
	,DATA_TYPE = CASE WHEN DATA_TYPE IN ('varchar','char')  THEN DATA_TYPE + '(' + REPLACE(CONVERT(Varchar,CHARACTER_MAXIMUM_LENGTH),'-1','MAX') + ')'
		WHEN DATA_TYPE IN ('date','bit','int','uniqueidentifier') THEN DATA_TYPE
		WHEN DATA_TYPE in ('DateTime2','time') THEN DATA_TYPE + '(' + CONVERT(Varchar,DATETIME_PRECISION) + ')'
		WHEN DATA_TYPE = 'Decimal' THEN DATA_TYPE + '(' + CONVERT(Varchar,NUMERIC_PRECISION) + ',' + CONVERT(Varchar,NUMERIC_SCALE) + ')'
	ELSE DATA_TYPE END
	,[IDENTITY] = CASE WHEN name IS NULL THEN 0 ELSE 1 END
FROM [MedManage].[INFORMATION_SCHEMA].[COLUMNS] c
	LEFT JOIN #Identity i ON COLUMN_NAME = name
		AND TABLE_NAME = TableName
WHERE TABLE_SCHEMA in ('CaseManagement')
	AND TABLE_CATALOG = 'MedManage'
ORDER BY TABLE_SCHEMA,TABLE_NAME
		
END

GO
