USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MedicalAid_Exclusion_Insert_BySpeciality]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE  [dbo].[usp_MedicalAid_Exclusion_Insert_BySpeciality]
    @MedicalAidID int
    ,@SpecialityID int
    ,@UserID varchar(200)
AS BEGIN
INSERT INTO shared.MedicalAid_Exclusion
SELECT @MedicalAidID
	,bt.BaseTariffID
	,@UserID
FROM shared.BaseTariff bt 
WHERE bt.SpecialityID = @SpecialityID


END







GO
