USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Update_Status]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Cases_Update_Status] 
    @CaseID int
    ,@StatusID int
    ,@UserID Varchar(200)
AS BEGIN
UPDATE CaseManagement.Cases
SET StatusID = @StatusID
	,UserID = @UserID
WHERE CaseID = @CaseID

END








GO
