USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Exclusion_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Exclusion_Insert]
    @Exclusion varchar(300)
    ,@ExclusionDescription varchar(1000)
    ,@UserID varchar(200)
AS BEGIN
INSERT INTO shared.Exclusion
VALUES(@Exclusion
    ,@ExclusionDescription
    ,@UserID
)END








GO
