USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_Billing_CheckDuplicates]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[usp_Case_Billing_CheckDuplicates] 
@Case_BillingID int
, @AccountNumber Varchar(100)
, @ReferToID int
AS
SELECT [Case_BillingID]
	, AccountNumber
	, AmountDue
FROM [CaseManagement].[Case_Billing]
WHERE [ServiceProviderID] = @ReferToID
	AND AccountNumber = @AccountNumber
	AND @Case_BillingID <> Case_BillingID







GO
