USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Case_ICD_Update]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_Case_ICD_Update] 
    @CaseID int
    ,@ICDID int
    ,@DateOfProcedure date
    ,@PrimaryCode bit
    ,@SecondaryCode bit
    ,@CoMorbidityCode bit
    ,@DateInserted date
    ,@UserID varchar(200)
AS BEGIN
UPDATE CaseManagement.Case_ICD
SET   DateOfProcedure = @DateOfProcedure
    ,PrimaryCode = @PrimaryCode
    ,SecondaryCode = @SecondaryCode
    ,CoMorbidityCode = @CoMorbidityCode
    ,DateInserted = @DateInserted
    ,UserID = @UserID
WHERE CaseID = @CaseID
    AND ICDID = @ICDID
   

END








GO
