USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_CaseStatus_Delete]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [dbo].[usp_CaseStatus_Delete] 
    @CaseStatusID int
AS BEGIN
DELETE FROM CaseManagement.CaseStatus
WHERE CaseStatusID = @CaseStatusID
END








GO
