USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Images_CaseUpdate_SelectImageByImageID]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jaco Coetzee
-- Create date: 20130922
-- Description:	
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Images_CaseUpdate_SelectImageByImageID] 
	-- Add the parameters for the stored procedure here
	@ImageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT 
	[Image]
FROM [MedManage_Images].[CaseUpdate].[Images] img
WHERE ImageID = @ImageID

END



GO
