USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_ServiceProvider_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE  [dbo].[usp_ServiceProvider_Select] 
    @ServiceProviderID int
AS BEGIN
SELECT *
FROM shared.ServiceProvider
	--LEFT JOIN [shared].[ServiceProvider_Tariff] spt
	--	ON spt.ServiceProviderID = ServiceProvider.ServiceProviderID
WHERE ServiceProvider.ServiceProviderID = @ServiceProviderID
END












GO
