USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cases_Insert]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Change 1.0.7.8

ALTER PROCEDURE  [dbo].[usp_Cases_Insert]
    @AuthNumber varchar(50)
    ,@AccountNr varchar(50)
    ,@MemberID int
    ,@ReferToID int
    ,@ReferFromID int
    ,@AdmissionDate date
    ,@AdmissionTime time(7)
    ,@DischargeDate date
    ,@DischargeTime time(7)
    ,@AuthTypeID int
    ,@WCA_IOD bit
    ,@TotalLengthOfStay int
    ,@TotalAmount Decimal(10,2)
    ,@FinalInvoiceAmount Decimal(10,2)
    ,@FinalInvoiceAmountUpdated Varchar(200)
    ,@StatusID int
    ,@CaseDescription varchar(MAX)
    ,@UserID varchar(200)
    ,@Changes varchar(MAX)
    ,@Limits varchar(MAX)
    ,@Exclusions varchar(MAX)
	,@HasBooking bit
	,@ChangeToCaseDate DateTime2(7)
	,@PenaltyPercentage DECIMAL(5,2)
AS BEGIN

DECLARE @Id int
DECLARE @LastAmount INT

--DECLARE @MemberID VARCHAR(20)
--DECLARE @AuthNumber VARCHAR(20)
--SELECT @MemberID = 1

SELECT @AuthNumber = (
	SELECT CasePrefix 
	FROM shared.MedicalAid ma
	INNER JOIN shared.Member m ON m.MedicalAidID = ma.MedicalAidID
		AND m.MemberID = @MemberID)
		
--SELECT @AuthNumber = @AuthNumber + RIGHT('00000000' + (
--	SELECT CONVERT(VARCHAR,CONVERT(INT,MAX(REPLACE(AuthNumber,@AuthNumber,''))) + 1)
--	FROM CaseManagement.Cases
--	WHERE AuthNumber LIKE @AuthNumber + '%'
--	),7)
----SELECT @AuthNumber
--SELECT @AuthNumber = CASE WHEN @AuthNumber IS NULL THEN (SELECT CasePrefix 
--	FROM shared.MedicalAid ma
--	INNER JOIN shared.Member m ON m.MedicalAidID = ma.MedicalAidID
--		AND m.MemberID = @MemberID) + RIGHT('00000000',7)
--		ELSE @AuthNumber END

INSERT INTO CaseManagement.Cases
VALUES(@AuthNumber
    ,@AccountNr
    ,@MemberID
    ,@ReferToID
    ,@ReferFromID
    ,@AdmissionDate
    ,@AdmissionTime
    ,@DischargeDate
    ,@DischargeTime
    ,@AuthTypeID
    ,@WCA_IOD
    ,@TotalLengthOfStay
    ,@TotalAmount
    ,@FinalInvoiceAmount
    ,@FinalInvoiceAmountUpdated
    ,@StatusID
    ,@CaseDescription
    ,@UserID
    ,@Changes
    ,@Limits
    ,@Exclusions
    ,GETDATE()
	,@HasBooking
	,@ChangeToCaseDate
	,@PenaltyPercentage)
    
 Select @Id = MAX(CaseID) FROM CaseManagement.Cases
 
 SELECT @AuthNumber = @AuthNumber + RIGHT('00000000' + (
	CONVERT(Varchar,@Id)
	),7)

UPDATE CaseManagement.Cases
SET AuthNumber = @AuthNumber
WHERE CaseID = @Id
 
 INSERT INTO CaseManagement.Case_Checklist
 SELECT @Id
	,ChecklistTemplateID
	,0
	,@UserID
	,GETDATE()
	,''
	,0
FROM CaseManagement.ChecklistTemplate

Select @Id,@AuthNumber

END





GO
