USE [MedManage]
GO
/****** Object:  StoredProcedure [dbo].[usp_MainClient_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE   [dbo].[usp_MainClient_Select] 
AS BEGIN
SELECT [MainClientID]
	,[MainClientName]
FROM [shared].[MainClient]
END









GO
