USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_BillingFilesPracticeNameMatch_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TRUNCATE TABLE [Import].[BillingFiles]
--UPDATE [Import].[BillingFiles]
--SET PRNumber = LTRIM(RTRIM(REPLACE(REPLACE(PRNumber,':',''),';','')))

ALTER PROCEDURE [Import].[usp_BillingFilesPracticeNameMatch_Select]
@FileName Varchar(500)
AS

BEGIN

SELECT * 
FROM [Import].[BillingFilesPracticeNameMatch]
WHERE [FileName] = @FileName
ORDER BY [DRName]

END


GO
