USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_Members_GoldOne_Merge]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE  [Import].[usp_Members_GoldOne_Merge]
@FileDate DateTime
	
AS BEGIN

UPDATE [Import].[Member]
SET  [TitleID] = 1
      ,[Initials] = LEFT([Name],1)
      ,[PeriodInCountryID] = 1
      ,[DateOfBirth] = CASE WHEN Isdate('19' + LEFT([IDNumber],2) + '-' + RIGHT(LEFT(LEFT([IDNumber],6),4),2) + '-' + RIGHT(LEFT([IDNumber],6),2)) = 1
						THEN '19' + LEFT([IDNumber],2) + '-' + RIGHT(LEFT(LEFT([IDNumber],6),4),2) + '-' + RIGHT(LEFT([IDNumber],6),2)
						ELSE GetDATE()
						end
      ,[GenderID] = 1
      ,[HasMedicalAid] = 1
      ,[MedicalAidID] = 8
      ,[DateOfBenefit] = @FileDate
      ,[DateJoined] = @FileDate
      ,[Suspended] = 0
      ,[DateSuspended] = @FileDate
      ,[SuspendedReasonID] = 1
      ,[MedicalAidExhausted] = 0
      ,[DateMedicalAidExhausted] = '2025-11-15'
      ,[WaitingPeriodApplicable] = 0
      ,[MarritalStatusID] = 1
      ,[EmployerCountryID] = 2
      ,[Pensioner] = 0
      ,[MemberStatusID] = 1
      ,[MemberCountryID] = 2
      ,[MemberLanguageID] = 1
      ,[MemberRaceID] = 1
      ,[FundReinstated] = 0
      ,[FundReinstatedDate]= @FileDate
      ,[Deceased] = 0
      ,[DeceasedDate] = @FileDate
      ,[UserID] = 'SystemAdmin'
      ,[MedAidProductID] = 1
  FROM [Import].[Member]

UPDATE shared.Member
SET [SuspendedReasonID] = 7
WHERE REPLACE(MemberNumber,'.','') NOT IN 
		(SELECT DISTINCT MemberNumber
			FROM Import.Member
			WHERE [MedicalAidID] = 8
			AND MemberNumber <> '')
AND [MedicalAidID] =8
AND MemberNumber <> ''
AND [SuspendedReasonID] <> 7

UPDATE shared.Member
SET [SuspendedReasonID] = 1
WHERE REPLACE(MemberNumber,'.','') IN 
		(SELECT DISTINCT MemberNumber
			FROM Import.Member
			WHERE [MedicalAidID] =8
			AND MemberNumber <> '')
AND [MedicalAidID] =8
AND [SuspendedReasonID] = 7

UPDATE shared.Member
SET Surname = Member.Surname
FROM [Import].[Member] m
WHERE REPLACE(Member.MemberNumber,'.','')  = m.MemberNumber
AND Member.[MedicalAidID] =8
AND Member.MemberNumber <> ''
AND Member.[SuspendedReasonID] <> 7
AND m.Surname <> Member.Surname

INSERT INTO shared.Member
SELECT [MemberNumber]
      ,[TitleID]
      ,[Surname]
      ,[Initials]
      ,[Name]
      ,ISNULL([IDNumber],'')
      ,ISNULL([PassportNumber],'')
      ,[PassportExpiryDate]
      ,[PeriodInCountryID]
      ,[DateOfBirth]
      ,[GenderID]
      ,[HasMedicalAid]
      ,[MedicalAidID]
      ,[DateOfBenefit]
      ,[DateJoined]
      ,[Suspended]
      ,[DateSuspended]
      ,[SuspendedReasonID]
      ,[MedicalAidExhausted]
      ,[DateMedicalAidExhausted]
      ,[WaitingPeriodApplicable]
      ,[MarritalStatusID]
      ,[EmployerCountryID]
      ,[EmployerAddress]
      ,[EmployerAddressCode]
      ,[EmployerPhoneNumber]
      ,[Pensioner]
      ,[MemberStatusID]
      ,[MemberCountryID]
      ,[MemberAddress1]
      ,[MemberAddress2]
      ,[MemberAddress3]
      ,[MemberAddressCode]
      ,[MemberPhoneNumber]
      ,[MemberCellNumber]
      ,[NextOfKinName]
      ,[NextOfKinRelationship]
      ,[NextOfKinContactNumber]
      ,[MemberLanguageID]
      ,[MemberRaceID]
      ,[MemberDependents]
      ,[FundReinstated]
      ,[FundReinstatedDate]
      ,[Deceased]
      ,[DeceasedDate]
      ,[UserID]
      ,[MedAidProductID] 
	  ,0
FROM Import.Member
WHERE MemberNumber NOT IN 
		(SELECT DISTINCT REPLACE(MemberNumber,'.','')
			FROM shared.Member
			WHERE [MedicalAidID] = 8
			)
AND MemberNumber <> ''

END






GO
