USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_Members_DRD_Truncate]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Import].[usp_Members_DRD_Truncate]
	
AS BEGIN

TRUNCATE TABLE [Import].Member

END









GO
