USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_BillingFilesPracticeNameMatch_Insert]    Script Date: 2016/04/25 11:29:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TRUNCATE TABLE [Import].[BillingFiles]
--UPDATE [Import].[BillingFiles]
--SET PRNumber = LTRIM(RTRIM(REPLACE(REPLACE(PRNumber,':',''),';','')))

ALTER PROCEDURE [Import].[usp_BillingFilesPracticeNameMatch_Update_ServiceProvider]
@ID INT
,@ServiceProviderID INT
AS

BEGIN

UPDATE import.BillingFilesPracticeNameMatch
SET ServiceProviderID = @ServiceProviderID
	,[PracticeName] = [ServiceProvider].PracticeName
	,[PracticeNr] = [ServiceProvider].PracticeNr
FROM [shared].[ServiceProvider]
WHERE ID = @ID
	AND @ServiceProviderID = [ServiceProvider].[ServiceProviderID]

END

