USE [MedManage]
GO
/****** Object:  StoredProcedure [Import].[usp_BillingFilesPracticeNameMatch_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Import].[usp_BillingFilesPracticeNameMatch_Update]
@ID INT
,@Visible bit
,@PrimaryProvider bit
,@Exclude bit
,@Query bit
AS

BEGIN

UPDATE [Import].[BillingFilesPracticeNameMatch]
   SET [Visible] = @Visible
      ,[PrimaryProvider] = @PrimaryProvider
      ,[Exclude] = @Exclude
      ,[Query] = @Query
 WHERE ID = @ID

END


GO
