USE [MedManage]
GO
/****** Object:  StoredProcedure [Maintenance].[usp_DiffBackup]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Maintenance].[usp_DiffBackup] --'MedManage_Test','E:\Data\MedManage_Test 2012-04-19.bak'
	@DBName varchar(200)
	,@BackupPath Varchar(200)
AS BEGIN

DECLARE @SQL Varchar(MAX)
SELECT @SQL = 'BACKUP DATABASE ['+@DBName+'] 
TO  DISK = N'''+@BackupPath+'''
WITH DIFFERENTIAL, INIT,  NAME = N'''+@DBName+'-Full Database Backup'', SKIP, NOREWIND, NOUNLOAD,  STATS = 10'

EXEC SP_SQLEXEC @SQL

END








GO
