USE [MedManage]
GO
/****** Object:  StoredProcedure [Maintenance].[usp_LogBackup]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Maintenance].[usp_LogBackup] --'MedManage_Test','E:\Data\MedManage_Test 2012-04-19.bak.log'
	@DBName varchar(200)
	,@BackupPath Varchar(200)
AS BEGIN

DECLARE @SQL Varchar(MAX)
SELECT @SQL = 'BACKUP LOG ['+@DBName+'] 
TO  DISK = N'''+@BackupPath+'''
WITH NOFORMAT, INIT,  NAME = N'''+@DBName+'-Full log Backup'', SKIP, NOREWIND, NOUNLOAD,  STATS = 10'
EXEC SP_SQLEXEC @SQL

SELECT @SQL = 'DBCC SHRINKFILE (N'''+(SELECT [name] FROM [sys].[database_files] WHERE [type_desc] = 'LOG')+''' , 1)'
EXEC SP_SQLEXEC @SQL

SELECT @SQL = 'ALTER DATABASE [MedManage_Test] MODIFY FILE ( NAME = N'''+(SELECT [name] FROM [sys].[database_files] WHERE [type_desc] = 'LOG')+''', SIZE = 10000KB )'
EXEC SP_SQLEXEC @SQL

END








GO
