USE [MedManage]
GO
/****** Object:  StoredProcedure [Maintenance].[usp_FullBackup]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Maintenance].[usp_FullBackup] --'MedManage_Test','E:\Data\MedManage_Test 2012-04-19.bak'
	@DBName varchar(200)
	,@BackupPath Varchar(200)
AS BEGIN

DECLARE @SQL Varchar(MAX)
SELECT @SQL = 'BACKUP DATABASE ['+@DBName+'] 
TO  DISK = N'''+@BackupPath+'''
WITH FORMAT, INIT,  NAME = N'''+@DBName+'-Full Database Backup'', SKIP, NOREWIND, NOUNLOAD,  STATS = 10'

EXEC SP_SQLEXEC @SQL

declare @backupSetId as int
select @backupSetId = position from msdb..backupset where database_name=@DBName and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=@DBName )
if @backupSetId is null begin raiserror(N'Verify failed. Backup information for database  not found.', 16, 1) end
RESTORE VERIFYONLY FROM  DISK = @BackupPath WITH  FILE = @backupSetId,  NOUNLOAD,  NOREWIND

END








GO
