USE [MedManage]
GO
/****** Object:  StoredProcedure [Overnight].[usp_AllCodesData]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [Overnight].[usp_AllCodesData]
AS
DROP TABLE Overnight.AllCodesData

SELECT IDENTITY (INT,1,1) RecordKey
	, stat.CaseStatus
	, c.AuthNumber
	, c.AccountNr
	, ma.CasePrefix
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, ReferTo = rto.PracticeName
	, ReferFrom = rfrom.PracticeName
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, CPTCode = CPT.Code
	, CPTPrimary = Case_CPT.PrimaryCode
	, CPTSecondary = Case_CPT.SecondaryCode
	, CPTProcedureDate = Case_CPT.DateOfProcedure
	, ICDCode = ICD.DiagnosisCode
	, ICDPrimary = Case_ICD.PrimaryCode
	, ICDSecondary = Case_ICD.SecondaryCode
	, ICDCoMorbidity = Case_ICD.CoMorbidityCode
	, ICDDesc = ISNULL(DiagnosisDesc,'')
	, CPTDesc = ISNULL(CPT.MEDIUM_DESCR,'')
	, ReferToPracticeNumber = rto.PracticeNr
	, ReferFromPracticeNumber = rfrom.PracticeNr
	, c.UserID
	, c.DateCreated
	, c.CaseID
	, m.MedicalAidID
	, FacilityType = ISNULL(ft.FacilityType,'')
	, cft.LOS
	, TotalLengthOfStay
	, c.TotalAmount
	, c.FinalInvoiceAmount
	, map.MedAidProductName
	, m.MBOD_RMA
	, c.[HasBooking]
	, c.[ChangeToCaseDate]
	, tc.TariffCode
	, tc.TariffDescription
	, ma.MainClientID
	, tc.Value
	, tc.TotalPayable
	, TariffDateOfProcedure = tc.DateOfProcedure
INTO Overnight.AllCodesData
FROM CaseManagement.Cases AS c INNER JOIN
	shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
	Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
	shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
	shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
	CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN 
	CaseManagement.Case_ICD ON Case_ICD.CaseID = c.CaseID LEFT JOIN 
	shared.ICD ON ICD.ICDID = Case_ICD.ICDID LEFT JOIN
	CaseManagement.Case_CPT ON Case_CPT.CaseID = c.CaseID LEFT JOIN 
	shared.CPT ON CPT.CPTID = Case_CPT.CPTID LEFT JOIN 
	CaseManagement.Case_FacilityType cft ON cft.CaseID = c.CaseID
	LEFT JOIN shared.FacilityType ft ON ft.FacilityTypeID = cft.FacilityTypeID
	LEFT JOIN (SELECT CaseNoteID = MAX(CaseNoteID),CaseID FROM CaseManagement.CaseNote GROUP BY CaseID) cni ON cni.CaseID = c.CaseID
	LEFT JOIN CaseManagement.CaseNote cn ON cn.CaseNoteID = cni.CaseNoteID
		AND cn.CaseID = cni.CaseID
  LEFT JOIN [shared].[MedicalAidProduct] map ON map.MedAidProductID = m.MedAidProductID
  LEFT JOIN [Overnight].[TariffCalc] tc ON tc.CaseID = c.CaseID
--WHERE ma.MainClientID = 5
Order by c.AuthNumber,
	Case_CPT.PrimaryCode



GO
