USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_ServiceProvider_Tariff_Update]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE  [Tariff].[usp_ServiceProvider_Tariff_Update]
	@ServiceProviderID INT
	,@TariffNameID INT
	,@MainClientID INT
	,@TariffPeriodName date
	,@PercentageAdded DECIMAL(10,4)
AS 
BEGIN

IF (SELECT COUNT(1) FROM Tariff.[ServiceProvider_Tariff]
		WHERE ServiceProviderID = @ServiceProviderID
			AND MainClientID = @MainClientID
			AND @TariffPeriodName = StartActiveDate
			--AND (EndActiveDate IS NULL OR EndActiveDate > @TariffPeriodName)
		) = 0
BEGIN

	UPDATE Tariff.[ServiceProvider_Tariff]
	SET EndActiveDate = DATEADD(DAY,-1,@TariffPeriodName)
	WHERE ServiceProviderID = @ServiceProviderID
		AND MainClientID = @MainClientID
		AND (EndActiveDate IS NULL OR EndActiveDate > @TariffPeriodName)

	INSERT INTO Tariff.[ServiceProvider_Tariff] (ServiceProviderID, TariffNameID, MainClientID, StartActiveDate, EndActiveDate, TariffPeriodName, PercentageAdded)
	SELECT @ServiceProviderID
		, @TariffNameID
		, @MainClientID
		, @TariffPeriodName
		, null
		, CONVERT(VARCHAR(4),DATEPART(YEAR,@TariffPeriodName))
		, @PercentageAdded

END

	UPDATE Tariff.ServiceProvider_Tariff
	SET TariffNameID = @TariffNameID
		, PercentageAdded = @PercentageAdded
	WHERE ServiceProviderID = @ServiceProviderID
		AND MainClientID = @MainClientID
		AND @TariffPeriodName between StartActiveDate and ISNULL(EndActiveDate,DATEADD(YEAR,1,GetDate()))

END











GO
