USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_TariffName_Select]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE  [Tariff].[usp_TariffName_Select] 
    --@TariffID int
AS BEGIN

	SELECT * 
	FROM Tariff.TariffName
	WHERE visible = 1
	ORDER BY TariffName desc
   
--WHERE TariffID = @TariffID
END













GO
