USE [MedManage]
GO
/****** Object:  StoredProcedure [Tariff].[usp_Case_Tariff_Delete]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE  [Tariff].[usp_Case_Tariff_Delete] 
    @CaseID_TariffID int
    ,@UserID varchar(200)
AS BEGIN
DELETE FROM Tariff.Case_Tariff
WHERE CaseID_TariffID = @CaseID_TariffID
END












GO
