USE [MedManage]
GO
/****** Object:  StoredProcedure [Updates].[usp_AppUpdates_Insert]    Script Date: 2016/04/22 11:40:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE  [Updates].[usp_AppUpdates_Insert] 
    @UpdateID int
    ,@ClientComputerName Varchar(200)
AS BEGIN

INSERT INTO [Updates].[ClientUpdates]
	([UpdateID],[ClientComputerName],[UpdatedDate])
VALUES (@UpdateID,@ClientComputerName,GETDATE())

END








GO
