USE [MedManage]
GO
/****** Object:  View [dbo].[vw_CaseDetail]    Script Date: 2016/04/22 11:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_CaseDetail]
AS
SELECT
	stat.CaseStatus
	,c.[HasBooking]
	, mc.MainClientName
	, mc.MainClientID
	,c.AuthNumber
	, c.AdmissionDate
	, c.DischargeDate
	, c.AccountNr
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, ReferTo = rto.PracticeName
	, ReferFrom = rfrom.PracticeName
	, c.AdmissionTime
	, c.DischargeTime
	, PrimaryICD = ISNULL(MAX(DiagnosisCode),'')
	, PrimaryCPT = ISNULL(MAX(CPT.Code),'')
	, PrimaryICDDesc = ISNULL(MAX(DiagnosisDesc),'')
	, PrimaryCPTDesc = ISNULL(MAX(CPT.MEDIUM_DESCR),'')
	, ReferToPracticeNumber = rto.PracticeNr
	, ReferFromPracticeNumber = rfrom.PracticeNr
	, c.UserID
	, c.DateCreated
	, c.CaseID
	, m.MedicalAidID
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[ChangeToCaseDate]
	,FinalInvoiceAmountUpdated = CONVERT(DATETIME,c.[FinalInvoiceAmountUpdated])
	,c.FinalInvoiceAmount
FROM CaseManagement.Cases AS c INNER JOIN
  shared.Member AS m ON c.MemberID = m.MemberID INNER JOIN
  Shared.MedicalAid ma ON ma.MedicalAidID = m.MedicalAidID INNER JOIN 
  Shared.MainClient mc ON mc.MainClientID = ma.MainClientID INNER JOIN 
  shared.ServiceProvider AS rto ON c.ReferToID = rto.ServiceProviderID LEFT JOIN
  shared.ServiceProvider AS rfrom ON c.ReferFromID = rfrom.ServiceProviderID LEFT JOIN
  CaseManagement.CaseStatus AS stat ON stat.CaseStatusID = c.StatusID LEFT JOIN 
  --CaseManagement.Episode_Case ec ON ec.CaseID = c.CaseID LEFT JOIN 
  CaseManagement.Case_ICD ON Case_ICD.CaseID = c.CaseID AND Case_ICD.PrimaryCode = 1 LEFT JOIN 
  shared.ICD ON ICD.ICDID = Case_ICD.ICDID LEFT JOIN
  CaseManagement.Case_CPT ON Case_CPT.CaseID = c.CaseID AND Case_CPT.PrimaryCode = 1 LEFT JOIN 
  shared.CPT ON CPT.CPTID = Case_CPT.CPTID
  LEFT JOIN [shared].[MedicalAidProduct] map ON map.MedAidProductID = m.MedAidProductID
GROUP BY stat.CaseStatus
	,c.AuthNumber
	, c.AccountNr
	, mc.MainClientName
	, mc.MainClientID
	, m.MemberNumber
	, m.Name
	, m.Surname
	, m.Initials
	, m.DateOfBirth
	, rto.PracticeNr
	, rto.PracticeName
	, rfrom.PracticeNr
	, rfrom.PracticeName
	, c.AdmissionDate
	, c.AdmissionTime
	, c.DischargeDate
	, c.DischargeTime
	, c.CaseID
	, m.MedicalAidID
	--, ec.EpisodeID
	, c.DateCreated
	, c.UserID
	, map.MedAidProductName
	, m.MBOD_RMA
	,c.[HasBooking]
	,c.[ChangeToCaseDate]
	,CONVERT(DATETIME,c.[FinalInvoiceAmountUpdated])
	,c.FinalInvoiceAmount









GO
