<div class="tab-content">
  <div class="tab-header">
    <h3>Checklist</h3>
    <button mat-raised-button color="primary" (click)="saveAll()">
      <mat-icon>save</mat-icon> Save All
    </button>
  </div>

  @if (items.length > 0) {
    <table mat-table [dataSource]="items" class="full-width-table">
      <ng-container matColumnDef="templateName">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let item">{{ item.templateName }}</td>
      </ng-container>

      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef>Checked</th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox [checked]="item.checked" (change)="onCheckChanged(item)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="notApplicable">
        <th mat-header-cell *matHeaderCellDef>N/A</th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox [checked]="item.notApplicable" (change)="onNaChanged(item)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Comments</th>
        <td mat-cell *matCellDef="let item">
          <input class="inline-input" [(ngModel)]="item.comments" (blur)="onCommentBlur(item)"
                 placeholder="Add comment...">
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let item">{{ item.date | date:'shortDate' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }

  @if (items.length === 0) {
    <p class="empty-message">No checklist items for this case.</p>
  }
</div>
